Repository SharezoneApp/sharezone-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, dependencies, testing, platform: android, platform: ios, platform: macos, platform: web, code quality, legal, sharezone cli, admin console, ui / ux, ui: dark-mode, ui: light-mode, feature: analytics, feature: attachments, feature: authentification, feature: comments, feature: feedback, feature: file-sharing, feature: group permissions, feature: groups:classes, feature: groups:courses, feature: groups, feature: holidays, feature: homework, feature: homework-submissions, feature: information sheet, feature: navigation, feature: notifications, feature: onboarding, feature: report, feature: sharezone plus, feature: timetable / calendar, feature: universal file features, feature: qr code scanner, feature: grades, user: parent, user: pupil / student, user: teacher, w: dashboard-page, website

Add doc
  app/lib/grades/grades_service/grades_service.dart
Labels: feature: grades

Change grading test to checking double and string grade results.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/test/grades/grading_systems_test.dart
Labels: testing, feature: grades

refactoring
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

Add/update test: 'A subject has a name and abbreviation'
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

Replace abbreviation on grade page with real implementation.
  app/lib/grades/pages/grades_page/grades_page_controller.dart
Labels: feature: grades

Add SubjectResult.design + test
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Rename exceptions.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/test/grades/grade_types_test.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Create `grading_system.dart` and move classes
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

Create and use gradingSystem.toGradeResult
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

Delete unused class CalculatedGradeRes
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

Make arg required
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

org imports
  app/lib/grades/pages/grades_dialog/grades_dialog.dart
Labels: feature: grades

Make files part (of)
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

Make Term, GradingSystem etc private
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
  app/lib/grades/pages/grades_dialog/required_fields.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/test/grades/grades_test_common.dart
  app/test/grades/grading_systems_test.dart
Labels: testing, feature: grades

Move date and takeIntoAccount to `Grade` class
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/test/grades/grade_types_test.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

Use subject.name instead of .design in test
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Remove TODO
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Add subject to term implicitly when calling addGrade.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

Remove TODOs
  app/lib/grades/pages/grades_view.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
  app/test/grades/grading_systems_test.dart
Labels: testing, feature: grades

Add license headers.
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/test/grades/grade_types_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

Make GradeType constructor calls static attributes
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/test/grades/grade_types_test.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

Rename 1 to 15 point grading system to 0 to 15 points.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
  app/test/grades/grades_test_common.dart
  app/test/grades/grading_systems_test.dart
Labels: testing, feature: grades

Add adding grades to a term and enhance grade logic. (#1436)
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_dialog/grades_dialog.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
  app/lib/grades/pages/grades_dialog/required_fields.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/lib/grades/pages/grades_view.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/test/grades/grade_types_test.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
  app/test/grades/grading_systems_test.dart
Labels: testing, feature: grades

Add and implement test: 'Basic grades test for 1 - 6 points with decimals.'
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
  app/test/grades/grading_systems_test.dart
Labels: testing, feature: grades

Add and implement: '1 - 6 / (0.75 - 6) grading system returns correct possible grades'
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/test/grades/grading_systems_test.dart
Labels: testing, feature: grades

Add devenv
  .envrc
  .gitignore
  devenv.lock
  devenv.nix
  devenv.yaml
Labels: none

Remove non-working script
  devenv.nix
Labels: none

add chrome
  devenv.nix
Labels: none

Install fvm if not installed.
  devenv.nix
Labels: none

refac packages
  devenv.nix
Labels: none

add license headers
  bin/source_of_truth/commands_source_of_truth.yaml
  devenv.nix
  devenv.yaml
Labels: ci/cd

add docs
  devenv.nix
Labels: none

run disable analytics cmds in parallel
  devenv.nix
Labels: none

Remove unused stuff
  devenv.nix
Labels: none

docs
  devenv.nix
Labels: none

Move fvm commands to after fvm installation
  devenv.nix
Labels: none

Add doc comment.
  devenv.nix
Labels: none

Add comment
  devenv.yaml
Labels: none

Add devenv / Nix package management to repo (#1440)
  .envrc
  .gitignore
  bin/source_of_truth/commands_source_of_truth.yaml
  devenv.lock
  devenv.nix
  devenv.yaml
Labels: ci/cd

First working UI version
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
  app/lib/grades/pages/grades_dialog/required_fields.dart
  app/lib/grades/pages/term_dialog/term_dialog.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
Labels: feature: grades

.github/labeler.yml:

# Copyright (c) 2022 Sharezone UG (haftungsbeschrÃ¤nkt)
# Licensed under the EUPL-1.2-or-later.
#
# You may obtain a copy of the Licence at:
# https://joinup.ec.europa.eu/software/page/eupl
#
# SPDX-License-Identifier: EUPL-1.2

# This file is used by the GitHub Action "labeler" to automatically add labels
# to pull requests based on the files that have been changed in the pull
# request.
#
# The action uses minimatch patterns to match files. For more information, see
# https://github.com/isaacs/minimatch
#
# Here quick crash course about the glob pattern:
# When we have "**/homework/**" returns this always true, if in the path of file
# a directory "homework" contains:
# "app/lib/homework/add.dart" -> true
# "app/lib/timetable/add.dart" -> false
#
# When we have "**/**homework**" returns this always true, if a file contains
# the word "homework":
# "app/lib/homework_add.dart" -> true
# "app/lib/fab_homework_button.dart" -> true
# "app/lib/homeworks_page.dart" -> true
# "app/lib/homewor_page.dart" -> false
#
# Try this the following link to play around with the glob pattern:
# https://globster.xyz/?q=**%2F**homework**&f=app%2Flib%2Fhomework_page.dart%2Capp%2Flib%2Ftimetable_page.dart%2Capp%2Flib%2Fhomework%2Fadd.dart&embed=1
#
# Another recommendation is to keep the global general and wide. For the
# "feature: homework" label, do not list all the paths to the homework
# directories. Instead, just use something like "**/homework/**". This will
# automatically include the app files, test files, package files and asset files
# that contain a homework directory. Of course, this can lead to false positives
# in a few cases. However, we prefer the general glob to the small chance of a
# false positive because we think the chance of not assigning the label with too
# specific globs is much higher than having a false positive with a general
# glob. And when searching for a PR with labels, it is usually better to find a
# few false positives than not to find a PR about a change in the homework
# feature that does not have the homework label.
#
# We are not going to include "w: " labels because they are too specific and
# it's too hard to maintain the paths for the files. Searching stuff with the
# "feature: " label should be enough.

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml
      - .github/dependabot.yml
      - codemagic.yaml
      - "**/firebase.json"
      - "**/.firebaserc"
      - "bin/check_license_headers.sh"
      - "bin/add_license_headers.sh"
      - "bin/source_of_truth/**"

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"
      - "docs/**"
      - "docs.yaml"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "**/pubspec.yaml"
      - "**/pubspec.lock"
      - ".fvm/**"

"testing":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*_test.dart"
      - "**/test_driver/**"
      - "**/test/**"
      - "**/test_goldens/**"
      - "**/integration_test/**"
      - "**/dart_test.yaml"

"platform: android":
  - changed-files:
    - any-glob-to-any-file:
      - "app/android/**"
      - "**/**android**"
      - "**/**_android/**"
      - "**/android_**/**"
      - "**/**_android_**/**"

"platform: ios":
  - changed-files:
    - any-glob-to-any-file:
      - "app/ios/**"
      - "**/**ios**"
      - "**/**_ios**/**"
      - "**/ios_**/**"
      - "**/**_ios_**/**"

"platform: macos":
  - changed-files:
    - any-glob-to-any-file:
      - "app/macos/**"
      - "**/**macos**"
      - "**/**_macos/**"
      - "**/macos_**/**"
      - "**/**_macos_**/**"

"platform: web":
  - changed-files:
    - any-glob-to-any-file:
      - "app/web/**"
      - "**/**web**"
      - "**/**_web/**"
      - "**/web_**/**"
      - "**/**_web_**/**"

"code quality":
  - changed-files:
    - any-glob-to-any-file:
      - "**/analysis_options.yaml"
      - "lib/sharezone_lints/**"

"legal":
  - changed-files:
    - any-glob-to-any-file:
      - "LICENSE"
      - "**/**privacy_policy**"
      - "**/**imprint**"

"sharezone cli":
  - changed-files:
    - any-glob-to-any-file:
      - "tools/sz_repo_cli/**"
      - "bin/sz"
      - "bin/sharezone"

"admin console":
  - changed-files:
    - any-glob-to-any-file:
      - "console/**"

"ui / ux":
  - changed-files:
    - any-glob-to-any-file:
      - "**/theme/**"
      - "**/**theme**"
      - app/fonts/**
      - lib/sharezone_widgets/**
      - app/**/widgets/**
      # Assets like images, icons, etc.
      - "**/assets/**"

"ui: dark-mode":
  - changed-files:
    - any-glob-to-any-file:
      - "**/**dark_theme**"

"ui: light-mode":
  - changed-files:
    - any-glob-to-any-file:
      - "**/**light_theme**"

"feature: analytics":
  - changed-files:
    - any-glob-to-any-file:
      - "**/analytics/**"
      - "**/**analytics**"
      - "lib/analytics/**"

"feature: attachments":
  - changed-files:
    - any-glob-to-any-file:
      - "**/attachments/**"
      - "**/**attachment**"

"feature: authentification":
  - changed-files:
    - any-glob-to-any-file:
      - "**/authentication/**"
      - "**/auth/**"
      - "**/**sign_in**"
      - "**/**sign_out**"
      - "**/**sign_up**"
      - "**/**registration**"
      - "**/**login**"

"feature: comments":
  - changed-files:
    - any-glob-to-any-file:
      - "**/comments/**"
      - "**/**comment**"

"feature: feedback":
  - changed-files:
    - any-glob-to-any-file:
      - "**/feedback/**"
      - "**/**feedback**"

"feature: file-sharing":
  - changed-files:
    - any-glob-to-any-file:
      - "**/filesharing/**"
      - "**/file_sharing/**"

"feature: group permissions":
  - changed-files:
    - any-glob-to-any-file:
      - "**/group_permissions/**"
      - "**/**permission**"

"feature: groups:classes":
  - changed-files:
    - any-glob-to-any-file:
      - "**/school_class/**"
      - "**/school_class**"

"feature: groups:courses":
  - changed-files:
    - any-glob-to-any-file:
      - "**/course/**"
      - "**/**course**"

"feature: groups":
  - changed-files:
    - any-glob-to-any-file:
      - "**/groups/**"
      - "**/**group**"
      - "lib/group_domain_implementation/**"
      - "lib/group_domain_models/**"
      # We still have some old code that uses the term "gruppe" instead of "group"
      - "**/**gruppe**"

"feature: holidays":
  - changed-files:
    - any-glob-to-any-file:
      - "**/holidays/**"
      - "**/**holiday**"

# We don't have any files for the homework reminder feature yet (only
# notification.dart), so we can't list any paths here.
#
# "feature: homework reminder":
#  - changed-files:
#    - any-glob-to-any-file:

"feature: homework":
  - changed-files:
    - any-glob-to-any-file:
      - "**/homework/**"
      - "**/**homework**"
      - "lib/hausaufgabenheft_logik/**"

"feature: homework-submissions":
  - changed-files:
    - any-glob-to-any-file:
      # We still have some old code that uses the term "abgabe" instead of
      # "submission"
      - "**/abgabe/**"
      - "**/**abgabe**"
      - "**/**submission**/**"
      - "**/**submission**"

"feature: information sheet":
  - changed-files:
    - any-glob-to-any-file:
      - "**/blackboard/**"
      - "**/**blackboard**"

"feature: navigation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/**navigation**/**"
      - "**/navigation**"
      - "**/drawer/**"
      - "**/**drawer**"

"feature: notifications":
  - changed-files:
    - any-glob-to-any-file:
      - "**/notifications/**"
      - "**/**notification**"
      - "app/**/firebase_auth_token_retreiver_impl.dart"

"feature: onboarding":
  - changed-files:
    - any-glob-to-any-file:
      - "**/onboarding/**"
      - "**/**onboarding**"

"feature: report":
  - changed-files:
    - any-glob-to-any-file:
      - "**/report/**"

"feature: sharezone plus":
  - changed-files:
    - any-glob-to-any-file:
      - "**/sharezone_plus/**"
      - "**/**sharezone_plus**"
      - "**/**subscription**"

"feature: timetable / calendar":
  - changed-files:
    - any-glob-to-any-file:
      - "**/timetable/**"
      - "**/**timetable**"
      - "**/**lesson**"
      - "**/**lesson**/**"
      - "**/calendrical_events/**"

"feature: universal file features":
  - changed-files:
    - any-glob-to-any-file:
      - "**/filesharing/**"

"feature: qr code scanner":
  - changed-files:
    - any-glob-to-any-file:
      - "**/qr_code_scanner/**"
      - "**/**qr_code_scanner**"

"feature: grades":
  - changed-files:
    - any-glob-to-any-file:
      - "**/grades/**"
      - "**/**grade**"

"user: parent":
  - changed-files:
    - any-glob-to-any-file:
      - "**/parent/**"
      - "**/**parent**"

"user: pupil / student":
  - changed-files:
    - any-glob-to-any-file:
      - "**/student/**"
      - "**/**student**"

"user: teacher":
  - changed-files:
    - any-glob-to-any-file:
      - "**/teacher/**"
      - "**/**teacher**"
      # We still have some old code that uses the term "lehrer" instead of "teacher"
      - "**/lehrer/**"

"w: dashboard-page":
  - changed-files:
    - any-glob-to-any-file:
      - "**/dashboard/**"
      - "**/**dashboard**"

"website":
  - changed-files:
    - any-glob-to-any-file:
      - "website/**"
