Repository SharezoneApp/sharezone-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, dependencies, testing, platform: android, platform: ios, platform: macos, platform: web, code quality, legal, sharezone cli, admin console, ui / ux, ui: dark-mode, ui: light-mode, feature: analytics, feature: attachments, feature: authentification, feature: comments, feature: feedback, feature: file-sharing, feature: group permissions, feature: groups:classes, feature: groups:courses, feature: groups, feature: holidays, feature: homework, feature: homework-submissions, feature: information sheet, feature: navigation, feature: notifications, feature: onboarding, feature: report, feature: sharezone plus, feature: timetable / calendar, feature: universal file features, feature: qr code scanner, feature: grades, user: parent, user: pupil / student, user: teacher, w: dashboard-page, website

.github/labeler.yml:

# Copyright (c) 2022 Sharezone UG (haftungsbeschrÃ¤nkt)
# Licensed under the EUPL-1.2-or-later.
#
# You may obtain a copy of the Licence at:
# https://joinup.ec.europa.eu/software/page/eupl
#
# SPDX-License-Identifier: EUPL-1.2

# This file is used by the GitHub Action "labeler" to automatically add labels
# to pull requests based on the files that have been changed in the pull
# request.
#
# The action uses minimatch patterns to match files. For more information, see
# https://github.com/isaacs/minimatch
#
# Here quick crash course about the glob pattern:
# When we have "**/homework/**" returns this always true, if in the path of file
# a directory "homework" contains:
# "app/lib/homework/add.dart" -> true
# "app/lib/timetable/add.dart" -> false
#
# When we have "**/**homework**" returns this always true, if a file contains
# the word "homework":
# "app/lib/homework_add.dart" -> true
# "app/lib/fab_homework_button.dart" -> true
# "app/lib/homeworks_page.dart" -> true
# "app/lib/homewor_page.dart" -> false
#
# Try this the following link to play around with the glob pattern:
# https://globster.xyz/?q=**%2F**homework**&f=app%2Flib%2Fhomework_page.dart%2Capp%2Flib%2Ftimetable_page.dart%2Capp%2Flib%2Fhomework%2Fadd.dart&embed=1
#
# Another recommendation is to keep the global general and wide. For the
# "feature: homework" label, do not list all the paths to the homework
# directories. Instead, just use something like "**/homework/**". This will
# automatically include the app files, test files, package files and asset files
# that contain a homework directory. Of course, this can lead to false positives
# in a few cases. However, we prefer the general glob to the small chance of a
# false positive because we think the chance of not assigning the label with too
# specific globs is much higher than having a false positive with a general
# glob. And when searching for a PR with labels, it is usually better to find a
# few false positives than not to find a PR about a change in the homework
# feature that does not have the homework label.
#
# We are not going to include "w: " labels because they are too specific and
# it's too hard to maintain the paths for the files. Searching stuff with the
# "feature: " label should be enough.

"ci/cd":
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/labeler.yml
      - .github/dependabot.yml
      - codemagic.yaml
      - "**/firebase.json"
      - "**/.firebaserc"
      - "bin/check_license_headers.sh"
      - "bin/add_license_headers.sh"
      - "bin/source_of_truth/**"

"documentation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "**/*.mdx"
      - "docs/**"
      - "docs.yaml"

"dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "**/pubspec.yaml"
      - "**/pubspec.lock"
      - ".fvm/**"

"testing":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*_test.dart"
      - "**/test_driver/**"
      - "**/test/**"
      - "**/test_goldens/**"
      - "**/integration_test/**"
      - "**/dart_test.yaml"

"platform: android":
  - changed-files:
    - any-glob-to-any-file:
      - "app/android/**"
      - "**/**android**"
      - "**/**_android/**"
      - "**/android_**/**"
      - "**/**_android_**/**"

"platform: ios":
  - changed-files:
    - any-glob-to-any-file:
      - "app/ios/**"
      - "**/**ios**"
      - "**/**_ios**/**"
      - "**/ios_**/**"
      - "**/**_ios_**/**"

"platform: macos":
  - changed-files:
    - any-glob-to-any-file:
      - "app/macos/**"
      - "**/**macos**"
      - "**/**_macos/**"
      - "**/macos_**/**"
      - "**/**_macos_**/**"

"platform: web":
  - changed-files:
    - any-glob-to-any-file:
      - "app/web/**"
      - "**/**web**"
      - "**/**_web/**"
      - "**/web_**/**"
      - "**/**_web_**/**"

"code quality":
  - changed-files:
    - any-glob-to-any-file:
      - "**/analysis_options.yaml"
      - "lib/sharezone_lints/**"

"legal":
  - changed-files:
    - any-glob-to-any-file:
      - "LICENSE"
      - "**/**privacy_policy**"
      - "**/**imprint**"

"sharezone cli":
  - changed-files:
    - any-glob-to-any-file:
      - "tools/sz_repo_cli/**"
      - "bin/sz"
      - "bin/sharezone"

"admin console":
  - changed-files:
    - any-glob-to-any-file:
      - "console/**"

"ui / ux":
  - changed-files:
    - any-glob-to-any-file:
      - "**/theme/**"
      - "**/**theme**"
      - app/fonts/**
      - lib/sharezone_widgets/**
      - app/**/widgets/**
      # Assets like images, icons, etc.
      - "**/assets/**"

"ui: dark-mode":
  - changed-files:
    - any-glob-to-any-file:
      - "**/**dark_theme**"

"ui: light-mode":
  - changed-files:
    - any-glob-to-any-file:
      - "**/**light_theme**"

"feature: analytics":
  - changed-files:
    - any-glob-to-any-file:
      - "**/analytics/**"
      - "**/**analytics**"
      - "lib/analytics/**"

"feature: attachments":
  - changed-files:
    - any-glob-to-any-file:
      - "**/attachments/**"
      - "**/**attachment**"

"feature: authentification":
  - changed-files:
    - any-glob-to-any-file:
      - "**/authentication/**"
      - "**/auth/**"
      - "**/**sign_in**"
      - "**/**sign_out**"
      - "**/**sign_up**"
      - "**/**registration**"
      - "**/**login**"

"feature: comments":
  - changed-files:
    - any-glob-to-any-file:
      - "**/comments/**"
      - "**/**comment**"

"feature: feedback":
  - changed-files:
    - any-glob-to-any-file:
      - "**/feedback/**"
      - "**/**feedback**"

"feature: file-sharing":
  - changed-files:
    - any-glob-to-any-file:
      - "**/filesharing/**"
      - "**/file_sharing/**"

"feature: group permissions":
  - changed-files:
    - any-glob-to-any-file:
      - "**/group_permissions/**"
      - "**/**permission**"

"feature: groups:classes":
  - changed-files:
    - any-glob-to-any-file:
      - "**/school_class/**"
      - "**/school_class**"

"feature: groups:courses":
  - changed-files:
    - any-glob-to-any-file:
      - "**/course/**"
      - "**/**course**"

"feature: groups":
  - changed-files:
    - any-glob-to-any-file:
      - "**/groups/**"
      - "**/**group**"
      - "lib/group_domain_implementation/**"
      - "lib/group_domain_models/**"
      # We still have some old code that uses the term "gruppe" instead of "group"
      - "**/**gruppe**"

"feature: holidays":
  - changed-files:
    - any-glob-to-any-file:
      - "**/holidays/**"
      - "**/**holiday**"

# We don't have any files for the homework reminder feature yet (only
# notification.dart), so we can't list any paths here.
#
# "feature: homework reminder":
#  - changed-files:
#    - any-glob-to-any-file:

"feature: homework":
  - changed-files:
    - any-glob-to-any-file:
      - "**/homework/**"
      - "**/**homework**"
      - "lib/hausaufgabenheft_logik/**"

"feature: homework-submissions":
  - changed-files:
    - any-glob-to-any-file:
      # We still have some old code that uses the term "abgabe" instead of
      # "submission"
      - "**/abgabe/**"
      - "**/**abgabe**"
      - "**/**submission**/**"
      - "**/**submission**"

"feature: information sheet":
  - changed-files:
    - any-glob-to-any-file:
      - "**/blackboard/**"
      - "**/**blackboard**"

"feature: navigation":
  - changed-files:
    - any-glob-to-any-file:
      - "**/**navigation**/**"
      - "**/navigation**"
      - "**/drawer/**"
      - "**/**drawer**"

"feature: notifications":
  - changed-files:
    - any-glob-to-any-file:
      - "**/notifications/**"
      - "**/**notification**"
      - "app/**/firebase_auth_token_retreiver_impl.dart"

"feature: onboarding":
  - changed-files:
    - any-glob-to-any-file:
      - "**/onboarding/**"
      - "**/**onboarding**"

"feature: report":
  - changed-files:
    - any-glob-to-any-file:
      - "**/report/**"

"feature: sharezone plus":
  - changed-files:
    - any-glob-to-any-file:
      - "**/sharezone_plus/**"
      - "**/**sharezone_plus**"
      - "**/**subscription**"

"feature: timetable / calendar":
  - changed-files:
    - any-glob-to-any-file:
      - "**/timetable/**"
      - "**/**timetable**"
      - "**/**lesson**"
      - "**/**lesson**/**"
      - "**/calendrical_events/**"

"feature: universal file features":
  - changed-files:
    - any-glob-to-any-file:
      - "**/filesharing/**"

"feature: qr code scanner":
  - changed-files:
    - any-glob-to-any-file:
      - "**/qr_code_scanner/**"
      - "**/**qr_code_scanner**"

"feature: grades":
  - changed-files:
    - any-glob-to-any-file:
      - "**/grades/**"
      - "**/**grade**"

"user: parent":
  - changed-files:
    - any-glob-to-any-file:
      - "**/parent/**"
      - "**/**parent**"

"user: pupil / student":
  - changed-files:
    - any-glob-to-any-file:
      - "**/student/**"
      - "**/**student**"

"user: teacher":
  - changed-files:
    - any-glob-to-any-file:
      - "**/teacher/**"
      - "**/**teacher**"
      # We still have some old code that uses the term "lehrer" instead of "teacher"
      - "**/lehrer/**"

"w: dashboard-page":
  - changed-files:
    - any-glob-to-any-file:
      - "**/dashboard/**"
      - "**/**dashboard**"

"website":
  - changed-files:
    - any-glob-to-any-file:
      - "website/**"

Run sz pub get
  lib/abgabe/abgabe_client_lib/pubspec.lock
Labels: dependencies, feature: homework-submissions

Fix Id classes
  app/lib/grades/grade_id.dart
  app/lib/grades/subject_id.dart
  app/lib/grades/term_id.dart
Labels: feature: grades

Refactor and move grade files
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/models/grade_id.dart
  app/lib/grades/subject_id.dart
  app/lib/grades/term_id.dart
  app/test/grades/grades_2_test.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Add test: 'If a term is created with "Aktuelles Halbjahr" set to true, then terms with "Aktuelles Halbjahr" set to true will be set to false.'
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Add test: 'A term can have a name.'
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Fix not updating terms on createTerms
  app/lib/grades/grades_service/grades_service.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Remove grades_2_test.dart
  app/test/grades/grades_2_test.dart
Labels: testing, feature: grades

Move `finalGradeType` to constructor of Term
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

Make _Grade const
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

Remove old `grades_page.dart`
  app/lib/grades/grades_page.dart
Labels: feature: grades

Fix const lints.
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Add wip term dialog
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/term_dialog/term_dialog.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/test/grades/grades_widget_test.dart
Labels: testing, feature: grades

Add failing test: 'Creating a simple term works'
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/term_dialog/term_dialog.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/test/grades/grades_widget_test.dart
Labels: testing, feature: grades

Make test pass.
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test/grades/grades_widget_test.dart
Labels: testing, feature: grades

Remove unused import
  app/lib/grades/pages/term_dialog/term_dialog.dart
Labels: feature: grades

Change TermResult.subject from map to list
  app/lib/grades/grades_service/grades_service.dart
Labels: feature: grades

Change String subjectId to SubjectId class
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

Add license headers.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/models/grade_id.dart
  app/lib/grades/pages/term_dialog/term_dialog.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_widget_test.dart
Labels: testing, feature: grades

Fix names and import between `grades_service.dart` and `term.dart`.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

Run `sz build_runner build`.
  app/test_goldens/grades/pages/grades_page/grades_page_test.mocks.dart
Labels: testing, feature: grades

Update golden tests
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_portrait.png
Labels: testing, feature: grades

Update app/lib/navigation/drawer/tiles/drawer_tiles.dart
  app/lib/navigation/drawer/tiles/drawer_tiles.dart
Labels: feature: navigation

Only use single random seed when using `sz test`.
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
Labels: sharezone cli

Make name in subjectWith not required
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Create and use `CalculatedGradeResult` in tests.
  app/lib/grades/grades_service/grades_service.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Add test with fake pass:" Basic grades test for 1+ to 6 grading system."
  app/lib/grades/grades_service/grades_service.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Add GradingSystem.toDoubleOrThrow
  app/lib/grades/grades_service/grades_service.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Add fake GradingSystem.getClosestGrade
  app/lib/grades/grades_service/grades_service.dart
Labels: feature: grades

Implement GradingSystem.getClosestGrade
  app/lib/grades/grades_service/grades_service.dart
Labels: feature: grades

Add `GradingSystem` to `_Subject`
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

Make inheriting class OneToSixWithPlusMinusGradingSystem
  app/lib/grades/grades_service/grades_service.dart
Labels: feature: grades

Add basic grades logic. (#1434)
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/models/grade_id.dart
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/lib/grades/pages/term_dialog/term_dialog.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_widget_test.dart
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/grades_page_test.mocks.dart
  lib/abgabe/abgabe_client_lib/pubspec.lock
Labels: dependencies, testing, feature: homework-submissions, feature: grades

Add and implement test: 'Basic grades test for 0 to 25 points grading system.'
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Add empty next test
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Add and implement test: 'Grades that are not in the same gradingSystem as the subject will be excluded from the calculatedGrade'
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Edit comment
  app/lib/grades/grades_service/grades_service.dart
Labels: feature: grades

Add test: 'A term can have a grading system.'
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Add test and implement: 'The subject will use the Terms grading system by default.'
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Use term grading system in existing tests
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

Move test
  app/test/grades/grades_test.dart
Labels: testing, feature: grades
