Repository SharezoneApp/sharezone-app, pull requests merged in 2023-09, with the labels that each got.

#858 Use newer flutter_markdown version.
  app/ios/Podfile.lock
  app/macos/Podfile.lock
  app/macos/Runner.xcodeproj/project.pbxproj
  app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/pubspec.lock
  app/pubspec.yaml
Labels: platform: macos, platform: ios, dependencies

#869 Catch and retry if getting Firebase Messing token failed
  app/lib/util/notification_token_adder.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: feature: notifications, dependencies

#870 Upgrade to Flutter 3.13.2
  .fvm/fvm_config.json
Labels: dependencies

#879 Fix uploading files after null safety migration
  lib/filesharing/filesharing_logic/lib/src/file_uploader/implementation/firebase_file_uploader.dart
Labels: feature: file-sharing, feature: universal file features

#880 Implementation of `sz deploy android` command
  app/android/.gitignore
  app/android/Gemfile
  app/android/Gemfile.lock
  app/android/fastlane/Appfile
  app/android/fastlane/Fastfile
  app/android/fastlane/README.md
  tools/sz_repo_cli/lib/src/commands/src/build_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_android_command.dart
  tools/sz_repo_cli/lib/src/main.dart
Labels: documentation, platform: android, sharezone cli

#882 Fix showing information sheet picture when editing the sheet
  app/lib/blackboard/blocs/blackboard_dialog_bloc.dart
Labels: feature: information sheet

#883 Deploy Android on new stable release
  .github/workflows/stable.yml
Labels: ci/cd

#874 Run e2e-tests on `app/integration_test` changes.
  .github/workflows/integration_tests_app_ci.yml
Labels: ci/cd

#897 Increase timeout of iOS integration tests
  .github/workflows/integration_tests_app_ci.yml
Labels: ci/cd

#906 Add `waitFor` method to make integration tests more stable
  app/integration_test/app_test.dart
Labels: testing

#909 Add `SharezonePlusBadge` and `SharezonePlusCard`
  lib/sharezone_widgets/dart_test.yaml
  lib/sharezone_widgets/lib/sharezone_widgets.dart
  lib/sharezone_widgets/lib/src/sharezone_plus/sharezone_plus_widgets.dart
  lib/sharezone_widgets/pubspec.lock
  lib/sharezone_widgets/pubspec.yaml
  lib/sharezone_widgets/test_goldens/flutter_test_config.dart
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_card_dark.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_card_light.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/sharezone_plus_test.dart
Labels: ui / ux, testing, dependencies, feature: sharezone plus

#876 Remove `package:optional`.
  app/lib/onboarding/group_onboarding/pages/create_courses.dart
  app/lib/onboarding/group_onboarding/pages/create_schoolclass.dart
  app/lib/onboarding/group_onboarding/pages/is_schoolclass_teacher.dart
  app/lib/onboarding/group_onboarding/pages/share_sharecode.dart
  app/lib/pages/homework/homework_details/submissions/homework_create_submission_page.dart
  app/lib/pages/homework/homework_details/submissions/open_submission_file.dart
  app/lib/timetable/timetable_page/school_class_filter/school_class_filter.dart
  app/lib/timetable/timetable_page/school_class_filter/school_class_filter_view.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/timetable/mock/mock_school_class_gateway.dart
  app/test/timetable/school_class_filter_view_test.dart
  app/test/timetable/timetable_page_test.dart
  lib/abgabe/abgabe_client_lib/lib/src/abnahme/view_submissions_page_bloc.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/bloc/homework_user_submissions_bloc.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/bloc/view_erstellung.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/cloud_storage_abgabedatei_uploader.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/datei_upload_prozess.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/local_file_saver.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/lokale_abgabedatei.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/views.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/abgegebene_abgabe.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/dto.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/ersteller_abgabe_model.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/ersteller_abgaben_model_dto.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/hochgeladene_abgabedatei.dart
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.yaml
  lib/abgabe/abgabe_client_lib/test/bloc_test.dart
  lib/filesharing/files_usecases/pubspec.lock
  lib/filesharing/filesharing_logic/pubspec.lock
  lib/filesharing/filesharing_logic/pubspec.yaml
  tools/sz_repo_cli/lib/src/common/src/concurrent_package_task_runner.dart
  tools/sz_repo_cli/pubspec.lock
  tools/sz_repo_cli/pubspec.yaml
Labels: feature: homework, feature: homework-submissions, feature: file-sharing, feature: timetable / calendar, feature: universal file features, feature: groups:courses, feature: groups:classes, testing, feature: onboarding, user: teacher, sharezone cli, dependencies

#887 Upgrade actions/checkout to v4.0.0
  .github/workflows/actions_ci.yml
  .github/workflows/alpha.yml
  .github/workflows/cli_ci.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/licence.yml
  .github/workflows/safe_app_ci.yml
  .github/workflows/stable.yml
  .github/workflows/unsafe_app_ci.yml
Labels: ci/cd

#914 Fix adding "platform: ios" label
  .github/labeler.yml
Labels: ci/cd

#912 Add helper method to throw if command is not installed
  tools/sz_repo_cli/lib/src/commands/src/format_command.dart
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
  tools/sz_repo_cli/lib/src/common/src/throw_if_command_is_not_installed.dart
Labels: sharezone cli

#913 Add stage to build name for non stable builds
  tools/sz_repo_cli/lib/src/commands/src/build_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_web_command.dart
  tools/sz_repo_cli/lib/src/common/src/build_utils.dart
  tools/sz_repo_cli/lib/src/common/src/package.dart
  tools/sz_repo_cli/test/common/build_utils_test.dart
Labels: platform: macos, platform: web, platform: android, testing, sharezone cli

#898 Implement Sharezone Plus page
  app/assets/images/jonas-nils.png
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/navigation/models/navigation_item.dart
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
  app/lib/sharezone_plus/sharezone_plus_page.dart
  app/lib/sharezone_plus/subscription_service/revenue_cat_sharezone_plus_service.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_faq_section_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_faq_section_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.phone.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.phone_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.phone.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.phone_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.mocks.dart
  lib/sharezone_widgets/lib/sharezone_widgets.dart
  lib/sharezone_widgets/lib/src/theme/brightness/dark_theme.dart
  lib/sharezone_widgets/lib/src/theme/theme.dart
  lib/sharezone_widgets/lib/src/widgets/animated_swap.dart
  lib/sharezone_widgets/lib/src/widgets/expansion_card.dart
  lib/sharezone_widgets/pubspec.yaml
  lib/sharezone_widgets/test_goldens/widgets/expansion_card_test.dart
  lib/sharezone_widgets/test_goldens/widgets/goldens/expansion_card_collapsed.png
  lib/sharezone_widgets/test_goldens/widgets/goldens/expansion_card_expanded.phone.png
Labels: ui / ux, feature: navigation, testing, ui: light-mode, ui: dark-mode, dependencies, feature: sharezone plus

#901 Fix typo "excempt" in `README.md` files
  app/assets/README.md
  app/fonts/README.md
Labels: documentation, ui / ux

#924 Increase timeout for iOS integration tests to 120 minutes
  .github/workflows/integration_tests_app_ci.yml
Labels: ci/cd

#827 Fix publishing macOS alpha versions to TestFlight
  .github/workflows/alpha.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/stable.yml
Labels: ci/cd

#921 Upgrade Android Crashlytics and Google Services
  app/android/build.gradle
Labels: platform: android

#923 Upgrade to Flutter v3.13.3
  .fvm/fvm_config.json
Labels: dependencies

#911 Add signing steps to the `sz deploy ios` command
  .github/workflows/alpha.yml
  tools/sz_repo_cli/lib/src/commands/src/deploy_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_macos_command.dart
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
Labels: ci/cd, platform: macos, platform: ios, sharezone cli

#919 Set minimum iOS version down from 12.0 to 11.0
  app/ios/Podfile
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
Labels: platform: ios

#925 Fix skipping CI for excluded file types in subdirectories
  .github/workflows/alpha.yml
  .github/workflows/cli_ci.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/safe_app_ci.yml
  .github/workflows/unsafe_app_ci.yml
  codemagic.yaml
Labels: ci/cd

#920 Fix error when loading folders
  lib/filesharing/filesharing_logic/lib/src/models/filesharing_data.dart
  lib/filesharing/filesharing_logic/lib/src/models/folder.dart
  lib/sharezone_common/lib/src/helper_functions.dart
Labels: feature: file-sharing, feature: universal file features

#926 Add `beta` stage to `sz build ios` and `sz deploy ios`
  tools/sz_repo_cli/lib/src/commands/src/build_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_ios_command.dart
Labels: platform: ios, sharezone cli

#927 Add beta workflow
  .github/workflows/beta.yml
Labels: ci/cd

#918 Rename confusing attribute name in `NavigationBloc`
  app/lib/navigation/drawer/tiles/drawer_tile.dart
  app/lib/navigation/logic/navigation_bloc.dart
  app/lib/navigation/navigation_controller.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.mocks.dart
Labels: feature: navigation, testing, refactoring, feature: sharezone plus

#931 Remove empty `course_page_bloc.dart` file
  app/lib/groups/src/pages/course/course_page/course_page_bloc.dart
Labels: feature: groups:courses, feature: groups

#928 Remove code for meetings feature
  app/lib/groups/analytics/group_analytics.dart
  app/lib/groups/src/pages/course/course_details.dart
  app/lib/groups/src/pages/course/course_details/course_details_bloc.dart
  app/lib/groups/src/pages/school_class/my_school_class_bloc.dart
  app/lib/groups/src/pages/school_class/school_class_details.dart
  app/lib/groups/src/widgets/meeting/group_meeting_button.dart
  app/lib/main/plugin_initializations.dart
  app/lib/onboarding/group_onboarding/pages/share_sharecode.dart
  app/lib/util/api/course_gateway.dart
  app/lib/util/api/school_class_gateway.dart
  app/test/groups/group_join_select_courses_bloc_test.dart
  app/test/groups/share_buttons/link_sharing_button_test.dart
  app/test/holidays/integration_test.mocks.dart
  app/test/timetable/mock/mock_school_class_gateway.dart
  app/test/timetable/timetable_bloc_test.dart
  app/test/timetable/timetable_page_test.dart
  lib/app_functions/lib/src/sharezone_app_functions.dart
  lib/group_domain_models/lib/src/models/course.dart
  lib/group_domain_models/lib/src/models/group_info.dart
  lib/group_domain_models/lib/src/models/school_class.dart
  lib/holidays/lib/src/api/holiday.g.dart
  lib/holidays/lib/src/api/serializers.g.dart
  lib/holidays/test/holiday_api_test.mocks.dart
Labels: feature: timetable / calendar, ui / ux, feature: holidays, feature: groups:courses, feature: groups:classes, feature: groups, testing, feature: onboarding, feature: analytics

#917 Add new welcome page
  app/assets/images/welcome-page-background.png
  app/lib/onboarding/mobile_welcome_page.dart
  app/lib/onboarding/welcome_page.dart
  app/test_goldens/onboarding/goldens/mobile_welcome_page_dark.iphone11.png
  app/test_goldens/onboarding/goldens/mobile_welcome_page_dark.phone.png
  app/test_goldens/onboarding/goldens/mobile_welcome_page_dark.phone_landscape.png
  app/test_goldens/onboarding/goldens/mobile_welcome_page_dark.tablet_landscape.png
  app/test_goldens/onboarding/goldens/mobile_welcome_page_dark.tablet_portrait.png
  app/test_goldens/onboarding/goldens/mobile_welcome_page_light.iphone11.png
  app/test_goldens/onboarding/goldens/mobile_welcome_page_light.phone.png
  app/test_goldens/onboarding/goldens/mobile_welcome_page_light.phone_landscape.png
  app/test_goldens/onboarding/goldens/mobile_welcome_page_light.tablet_landscape.png
  app/test_goldens/onboarding/goldens/mobile_welcome_page_light.tablet_portrait.png
  app/test_goldens/onboarding/mobile_welcome_page_test.dart
Labels: ui / ux, testing, feature: onboarding

#930 Add more group analytics
  app/lib/groups/analytics/group_analytics.dart
  app/lib/groups/src/pages/course/course_card.dart
  app/lib/groups/src/pages/course/course_details.dart
  app/lib/groups/src/pages/course/course_details/course_details_bloc.dart
  app/lib/groups/src/pages/course/group_page.dart
  app/lib/groups/src/pages/school_class/card/school_class_card.dart
  app/lib/groups/src/pages/school_class/my_school_class_bloc.dart
  app/lib/groups/src/pages/school_class/school_class_page.dart
  app/lib/onboarding/group_onboarding/pages/create_schoolclass.dart
Labels: feature: groups:courses, feature: groups:classes, feature: groups, feature: onboarding, feature: analytics

#915 Remove unused images
  app/assets/images/school.png
  app/assets/images/sprite.png
Labels: ui / ux

#936 Add missing `CI_CD_DART_SCRIPTS_PACKAGE_PATH` env to `beta.yml` and `stable.yml`
  .github/workflows/beta.yml
  .github/workflows/stable.yml
Labels: ci/cd

#933 Add `foregroundColor` and `backgroundColor` to `sharezone_plus_widgets.dart`
  lib/sharezone_widgets/lib/src/sharezone_plus/sharezone_plus_widgets.dart
Labels: ui / ux, feature: sharezone plus

#941 Fix adding changelog when deploying to Google Play Console
  tools/sz_repo_cli/lib/src/commands/src/deploy_android_command.dart
Labels: platform: android, sharezone cli

#943 Add docs for the beta program
  docs.yaml
  docs/more/alpha-program.mdx
  docs/more/beta-program.mdx
Labels: documentation

#940 Add support for line breaks when starting a new version from GitHub Actions
  .github/workflows/beta.yml
  .github/workflows/stable.yml
Labels: ci/cd

#938 Add missing space in `sharezone_plus_page.dart`
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#944 Fix export `GCLOUD_SERVICE_ACCOUNT_CREDENTIALS` for `sz deploy android` in `beta.yml` and `stable.yml`
  .github/workflows/beta.yml
  .github/workflows/stable.yml
Labels: ci/cd

#946 Remove `minifyEnabled` flag for Android for a readable Crashlytics stack trace
  app/android/app/build.gradle
Labels: platform: android

#947 Read Google Play credentials from env instead of from file for `sz deploy android`
  .github/workflows/beta.yml
  .github/workflows/stable.yml
  app/android/fastlane/Appfile
Labels: ci/cd, platform: android

#950 Fix removing changelog file after running `sz deploy android`
  tools/sz_repo_cli/lib/src/commands/src/deploy_android_command.dart
Labels: platform: android, sharezone cli

#951 Remove "extra-gen-snapshot-options=--obfuscate" from `gradle.properties` to get readable stack traces
  app/android/app/build.gradle
  app/android/gradle.properties
Labels: platform: android

#952 Upgrade to Flutter v3.13.4
  .fvm/fvm_config.json
Labels: dependencies

#945 Restrict access for filter by school class for Sharezone Plus users
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/lib/timetable/src/bloc/timetable_bloc.dart
  app/lib/timetable/timetable_page/school_class_filter/school_class_filter.dart
  app/test/timetable/timetable_page_test.dart
  app/test/timetable/timetable_page_test.mocks.dart
  app/test_goldens/timetable/goldens/school_class_filter_with_plus_dark.png
  app/test_goldens/timetable/goldens/school_class_filter_with_plus_light.png
  app/test_goldens/timetable/goldens/school_class_filter_with_without_plus_dark.png
  app/test_goldens/timetable/goldens/school_class_filter_with_without_plus_light.png
  app/test_goldens/timetable/timetable_page_test.dart
  app/test_goldens/timetable/timetable_page_test.mocks.dart
Labels: feature: timetable / calendar, feature: groups:classes, testing, feature: sharezone plus

#955 Add `SharezonePlusFeatureInfoCard` widget
  lib/sharezone_widgets/lib/src/sharezone_plus/sharezone_plus_widgets.dart
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_feature_info_card_dark.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_feature_info_card_light.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/sharezone_plus_test.dart
Labels: ui / ux, testing, feature: sharezone plus

#954 Rename `SharezonePlusCard` into `SharezonePlusChip`
  app/lib/timetable/timetable_page/school_class_filter/school_class_filter.dart
  lib/sharezone_widgets/lib/src/sharezone_plus/sharezone_plus_widgets.dart
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_chip_dark.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_chip_light.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/sharezone_plus_test.dart
Labels: feature: timetable / calendar, ui / ux, feature: groups:classes, testing, feature: sharezone plus

#956 Remove adding the stage to build name on iOS and macOS because Flutter doesn't support this.
  tools/sz_repo_cli/lib/src/commands/src/build_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_macos_command.dart
Labels: platform: macos, platform: ios, sharezone cli

#958 Fixes a few typos in `/app`
  app/lib/account/account_page.dart
  app/lib/account/account_page_bloc.dart
  app/lib/account/register_account_section.dart
  app/lib/account/use_account_on_multiple_devices_instruction.dart
  app/lib/activation_code/src/bloc/enter_activation_code_activator.dart
  app/lib/activation_code/src/bloc/enter_activation_code_bloc.dart
  app/lib/activation_code/src/enter_activation_code_result_dialog.dart
  app/lib/activation_code/src/models/activation_code_events.dart
  app/lib/activation_code/src/models/enter_activation_code_exception.dart
  app/lib/activation_code/src/models/enter_activation_code_result.dart
  app/lib/activation_code/src/widgets/failed_result_dialog.dart
  app/lib/activation_code/src/widgets/successful_result_dialog.dart
  app/lib/blackboard/blackboard_card.dart
  app/lib/blackboard/blackboard_view.dart
  app/lib/blackboard/blocs/blackboard_dialog_bloc.dart
  app/lib/blackboard/details/blackboard_details.dart
  app/lib/comments/comments_gateway.dart
  app/lib/dashboard/bloc/build_lesson_views.dart
  app/lib/dashboard/bloc/dashboard_bloc.dart
  app/lib/dashboard/models/homework_view.dart
  app/lib/dashboard/sections/calendrical_events_section.dart
  app/lib/dashboard/sections/holiday_countdown_section.dart
  app/lib/dashboard/tips/dashboard_tip_system.dart
  app/lib/download_app_tip/bloc/download_app_tip_bloc.dart
  app/lib/download_app_tip/widgets/download_app_tip_card.dart
  app/lib/groups/group_join/bloc/group_join_function.dart
  app/lib/groups/group_join/group_join_result_dialog.dart
  app/lib/groups/group_join/models/group_join_result.dart
  app/lib/groups/group_join/models/group_join_result_type.dart
  app/lib/groups/group_join/widgets/error_join_result_dialog.dart
  app/lib/groups/group_join/widgets/successful_join_result_dialog.dart
  app/lib/homework/student/src/empty_homework_list_widgets/get_student_empty_homework_list_widgets.dart
  app/lib/homework/student/src/empty_homework_list_widgets/student_empty_homework_list_widgets.dart
  app/lib/homework/student/student_homework_page.dart
  app/lib/main/course_join_listener.dart
  app/lib/main/sharezone_app.dart
  app/lib/onboarding/group_onboarding/pages/turn_on_notifications.dart
  app/lib/pages/settings/my_profile/change_email.dart
  app/lib/widgets/homework/delete_homework.dart
  app/test/dashboard/update_reminder_test.mocks.dart
Labels: feature: homework, feature: notifications, feature: timetable / calendar, feature: information sheet, ui / ux, feature: holidays, feature: groups:courses, feature: groups, testing, feature: onboarding, feature: comments, user: pupil / student, w: dashboard-page

#960 Add `--max-build-processing-wait` to `sz deploy ios` and `sz deploy macos` to prevent timeout when App Store Connect processes the build
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
Labels: sharezone cli

#959 Remove `SharezoneContext` from `NotificationPage`
  app/lib/blocs/settings/notifications_bloc_factory.dart
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/pages/settings/notification.dart
Labels: feature: notifications, refactoring

#964 Update `update_reminder_test.mocks.dart`
  app/test/dashboard/update_reminder_test.mocks.dart
Labels: testing, w: dashboard-page

#968 Fix parsing `Lesson.periodNumber` when it's null
  app/lib/timetable/src/models/lesson.dart
Labels: feature: timetable / calendar

#975 Add temporary logs to understand why changelog is often missing for alpha versions
  .github/workflows/alpha.yml
  .github/workflows/safe_app_ci.yml
  tools/sz_repo_cli/lib/src/commands/src/deploy_ios_command.dart
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
Labels: ci/cd, platform: ios, sharezone cli

#978 Add loading state to subscription button.
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
Labels: feature: sharezone plus

#966 Add golden tests for notification page
  app/test_goldens/pages/settings/goldens/notification_page_dark.iphone11.png
  app/test_goldens/pages/settings/goldens/notification_page_dark.phone.png
  app/test_goldens/pages/settings/goldens/notification_page_dark.phone_landscape.png
  app/test_goldens/pages/settings/goldens/notification_page_dark.tablet_landscape.png
  app/test_goldens/pages/settings/goldens/notification_page_dark.tablet_portrait.png
  app/test_goldens/pages/settings/goldens/notification_page_light.iphone11.png
  app/test_goldens/pages/settings/goldens/notification_page_light.phone.png
  app/test_goldens/pages/settings/goldens/notification_page_light.phone_landscape.png
  app/test_goldens/pages/settings/goldens/notification_page_light.tablet_landscape.png
  app/test_goldens/pages/settings/goldens/notification_page_light.tablet_portrait.png
  app/test_goldens/pages/settings/notification_page_test.dart
  app/test_goldens/pages/settings/notification_page_test.mocks.dart
Labels: feature: notifications, testing

#980 Fix Multiline Release Notes Handling in GitHub Action
  .github/workflows/alpha.yml
  tools/sz_repo_cli/lib/src/commands/src/deploy_ios_command.dart
Labels: ci/cd, platform: ios, sharezone cli

#974 Fix closing `AppFunctionsDialog` when action completed
  lib/sharezone_widgets/lib/src/state_sheet/dialog.dart
Labels: ui / ux

#976 Implement design for Sharezone Plus lock screen on "information sheet ready by" page
  app/lib/blackboard/details/blackboard_item_read_by_users_list/blackboard_item_read_by_users_list_page.dart
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/test_goldens/blackboard/details/blackboard_item_read_by_users_list_page_test.dart
  app/test_goldens/blackboard/details/blackboard_item_read_by_users_list_page_test.mocks.dart
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_dark.iphone11.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_dark.phone.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_dark.phone_landscape.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_dark.tablet_landscape.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_dark.tablet_portrait.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_light.iphone11.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_light.phone.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_light.phone_landscape.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_light.tablet_landscape.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_light.tablet_portrait.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_sharezone_ad_dark.iphone11.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_sharezone_ad_dark.phone.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_sharezone_ad_dark.phone_landscape.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_sharezone_ad_dark.tablet_landscape.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_sharezone_ad_dark.tablet_portrait.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_sharezone_ad_light.iphone11.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_sharezone_ad_light.phone.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_sharezone_ad_light.phone_landscape.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_sharezone_ad_light.tablet_landscape.png
  app/test_goldens/blackboard/details/goldens/blackboard_item_read_by_users_list_page_sharezone_ad_light.tablet_portrait.png
  lib/sharezone_widgets/lib/src/sharezone_plus/sharezone_plus_widgets.dart
Labels: feature: information sheet, ui / ux, testing, feature: sharezone plus

#984 Add "Gelesen-Status bei Infozetteln" advantage to Sharezone Plus page
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.phone.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.phone.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#985 Implement design for Sharezone Plus lock screen on "homework completion" page
  app/lib/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page.dart
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_dark.iphone11.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_dark.phone.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_dark.phone_landscape.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_dark.tablet_landscape.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_dark.tablet_portrait.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_light.iphone11.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_light.phone.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_light.phone_landscape.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_light.tablet_landscape.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_light.tablet_portrait.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_sharezone_ad_dark.iphone11.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_sharezone_ad_dark.phone.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_sharezone_ad_dark.phone_landscape.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_sharezone_ad_dark.tablet_landscape.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_sharezone_ad_dark.tablet_portrait.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_sharezone_ad_light.iphone11.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_sharezone_ad_light.phone.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_sharezone_ad_light.phone_landscape.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_sharezone_ad_light.tablet_landscape.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/goldens/homework_completion_list_page_sharezone_ad_light.tablet_portrait.png
  app/test_goldens/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page_test.dart
  app/test_goldens/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page_test.mocks.dart
Labels: feature: homework, testing, user: teacher

#986 Add advantage "see homework done list" to Sharezone Plus page
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.dart
Labels: testing, feature: sharezone plus

#982 Wait in integration tests until timetable is loaded
  app/integration_test/app_test.dart
Labels: testing

#987 Golden tests for `PlusAdvantages` for every `TypeOfUser`
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_parent_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_parent_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_student_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_student_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_teacher_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_teacher_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.dart
Labels: ui / ux, testing, ui: light-mode, user: teacher, user: parent, ui: dark-mode, user: pupil / student, feature: sharezone plus

#988 Update Sharezone Plus page `_LegalText`.
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#989 Fix typo `SharezonePlusFeature.homeworkDonyByUsersList`
  app/lib/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/test_goldens/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page_test.dart
Labels: feature: homework, testing, user: teacher, feature: sharezone plus

#990 Add basic widget tests for Sharezone plus page (plus small other changes).
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
  app/test/sharezone_plus/sharezone_plus_page_test.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
Labels: testing, feature: sharezone plus

#993 Fix `Null check operator used on a null value.` for `_CourseAvatarCard`
  app/lib/groups/src/pages/course/course_details.dart
Labels: feature: groups:courses, feature: groups

#1003 Fix `SchoolClassFilter` when Sharezone Plus is not enabled
  app/lib/timetable/timetable_page/school_class_filter/school_class_filter.dart
Labels: feature: timetable / calendar, feature: groups:classes

#1006 Remove signing from `stable.yml` and export `CERTIFICATE_PRIVATE_KEY` for deploy step
  .github/workflows/stable.yml
Labels: ci/cd

#996 Add `underlayColor` to `SharezonePlusFeatureInfoCard`
  app/lib/blackboard/details/blackboard_item_read_by_users_list/blackboard_item_read_by_users_list_page.dart
  app/lib/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page.dart
  lib/sharezone_widgets/lib/src/sharezone_plus/sharezone_plus_widgets.dart
Labels: feature: homework, feature: information sheet, ui / ux, user: teacher, feature: sharezone plus

#1011 Upgrade Sharezone to v1.7.5
  app/pubspec.yaml
Labels: dependencies

#1008 Add `showSharezonePlusFeatureInfoDialog`
  lib/sharezone_widgets/lib/sharezone_widgets.dart
  lib/sharezone_widgets/lib/src/sharezone_plus/sharezone_plus_feature_info_dialog.dart
Labels: ui / ux, feature: sharezone plus

#997 Add `sz build_runner build` command
  tools/sz_repo_cli/lib/src/commands/src/build_runner_build_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_runner_command.dart
  tools/sz_repo_cli/lib/src/common/src/package.dart
  tools/sz_repo_cli/lib/src/main.dart
  tools/sz_repo_cli/test/common/build_utils_test.dart
Labels: testing, sharezone cli

#1001 Format GitHub Action files
  .github/workflows/beta.yml
  .github/workflows/cli_ci.yml
  .github/workflows/integration_tests_app_ci.yml
Labels: ci/cd

#1000 Add missing validation step to `actions-ci` when formatting files
  .github/workflows/actions_ci.yml
  bin/check_format_action_files.sh
  bin/source_of_truth/commands_source_of_truth.yaml
Labels: ci/cd

#998 Add missing code generation of `sharezone_plus_page_test.mocks.dart` and `serializers.g.dart`
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.mocks.dart
  lib/abgabe/abgabe_http_api/lib/serializers.g.dart
Labels: feature: homework-submissions, testing, feature: sharezone plus

#1012 Going back to `macos-12` for iOS integration tests to improve the performance dramatically
  .github/workflows/integration_tests_app_ci.yml
Labels: ci/cd

#1007 Fix typo `runProcessSucessfullyOrThrow` in Sharezone Repo CLI
  tools/sz_repo_cli/lib/src/commands/src/analyze_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_runner_build_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_web_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_web_app_command.dart
  tools/sz_repo_cli/lib/src/commands/src/format_command.dart
  tools/sz_repo_cli/lib/src/commands/src/pub_get_command.dart
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
  tools/sz_repo_cli/lib/src/common/src/run_process.dart
Labels: platform: macos, platform: web, platform: ios, platform: android, sharezone cli, refactoring

#999 Add CI check that generated code is up to date
  .github/workflows/safe_app_ci.yml
Labels: ci/cd

#1014 Add fallback for "web-integration-test" workflow
  .github/workflows/integration_tests_app_fallback_ci.yml
Labels: ci/cd

#1018 Fix `type 'Null' is not a subtype of type 'Course' in type cast` when popping the course create page
  app/lib/groups/src/pages/course/create/course_create_page.dart
Labels: feature: groups:courses, feature: groups

#1016 Fix creating a new lesson in the timetable
  app/lib/timetable/timetable_add/tabs/course_tab.dart
Labels: feature: timetable / calendar, feature: groups:courses

#1020 Upgrade Sharezone to v1.7.6
  app/pubspec.yaml
Labels: dependencies

#1021 Upgrade Codemagic CLI tools to `0.45.1`
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/stable.yml
Labels: ci/cd

#1024 Add workaround for building macOS & iOS with XCode 15
  app/ios/Podfile
  app/ios/Podfile.lock
  app/macos/Podfile
  app/macos/Podfile.lock
Labels: platform: macos, platform: ios

#1022 Add golden tests for `showSharezonePlusFeatureInfoDialog`
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_feature_info_dialog_dark.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_feature_info_dialog_light.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/sharezone_plus_feature_info_dialog_test.dart
Labels: ui / ux, testing, feature: sharezone plus

#1025 Fixes selection of courses of a school class when joining
  app/lib/groups/group_join/bloc/group_join_bloc.dart
Labels: feature: groups

#1019 Add `--rollout-percentage` to `sz deploy android`
  .github/workflows/beta.yml
  .github/workflows/stable.yml
  app/android/fastlane/Fastfile
  tools/sz_repo_cli/lib/src/commands/src/deploy_android_command.dart
Labels: ci/cd, platform: android, sharezone cli

#1027 Cancel previous App Store submission when deploy to App Store Connect
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
Labels: sharezone cli

#1026 Do not trigger CI on only Fastlane changes
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/safe_app_ci.yml
  .github/workflows/unsafe_app_ci.yml
Labels: ci/cd

#1028 Add `json_key_data` to Fastlane file
  app/android/fastlane/Fastfile
Labels: platform: android

#1029 Add signing steps to `sz deploy macos` command
  tools/sz_repo_cli/lib/src/commands/src/deploy_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_macos_command.dart
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
Labels: platform: macos, platform: ios, sharezone cli

#1034 Add `sz deploy macos` command to `stable.yml`, `beta.yml` and `alpha.yml`
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/stable.yml
Labels: ci/cd

#1036 Fix viewing submission files
  app/lib/filesharing/file_page.dart
  app/lib/filesharing/logic/open_cloud_file.dart
  lib/filesharing/files_usecases/lib/src/file_viewer/pages/image_file_page.dart
  lib/filesharing/files_usecases/lib/src/file_viewer/pages/video_file_page.dart
Labels: feature: file-sharing, feature: universal file features

#1035 Fix typo "Termin-vereinbarung" on support page
  app/lib/support/support_page.dart
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.iphone11.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.tablet_landscape.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.tablet_portrait.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.iphone11.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.tablet_landscape.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.tablet_portrait.png
Labels: testing

#1039 Use `SystemMouseCursors.click` for file card on submission page
  app/lib/pages/homework/homework_details/submissions/homework_create_submission_page.dart
Labels: feature: homework, feature: homework-submissions

#1038 Set build number to 0 since the build number is managed by our CD pipeline.
  app/pubspec.yaml
Labels: dependencies

#1043 Fix `latestEditor` in `CalendricalEvent` can be null
  app/lib/calendrical_events/models/calendrical_event.dart
Labels: feature: timetable / calendar

#1055 Fix throwing "firebase_auth/web-context-canceled" when user cancels sign in
  lib/authentification/authentification_base/lib/src/apple/apple_sign_in_logic.dart
Labels: feature: authentification

#1057 Fix "Bad state: Cannot add new events after calling close" in `changeTodoUntilNextLessonOrNextSchoolDay()`
  app/lib/blocs/homework/homework_dialog_bloc.dart
Labels: feature: homework

#1059 Fix "Bad state: Cannot add new events after calling close" when using QR code sign in
  lib/authentification/authentification_qrcode/lib/src/blocs/qr_sign_in_web_bloc.dart
Labels: platform: web, feature: authentification

#1068 Upgrade Sharezone to v1.7.8
  app/pubspec.yaml
Labels: dependencies

#1050 Add `MaxWidthConstraintBox` when selecting a title for an information sheet
  app/lib/blackboard/blackboard_picture.dart
Labels: feature: information sheet

#1044 Add option to switch layout for events from grid to list view
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/calendrical_events/analytics/calendrical_events_page_analytics.dart
  app/lib/calendrical_events/bloc/calendrical_events_page_bloc.dart
  app/lib/calendrical_events/bloc/calendrical_events_page_bloc_factory.dart
  app/lib/calendrical_events/bloc/calendrical_events_page_cache.dart
  app/lib/calendrical_events/models/calendrical_events_layout.dart
  app/lib/calendrical_events/page/calendrical_events_page.dart
  lib/sharezone_common/lib/src/helper_functions.dart
Labels: feature: timetable / calendar, feature: analytics

#1053 Fix showing error message when homework `todoUntil` field is null
  app/lib/blocs/homework/homework_dialog_bloc.dart
  app/lib/pages/homework/homework_dialog.dart
  lib/sharezone_common/lib/src/validators/homework_validators.dart
Labels: feature: homework

#1051 Update minium Dart SDK and add `sharezone_lints` to `qr_code_scanner` package
  lib/qr_code_scanner/analysis_options.yaml
  lib/qr_code_scanner/example/pubspec.lock
  lib/qr_code_scanner/pubspec.lock
  lib/qr_code_scanner/pubspec.yaml
Labels: code quality, dependencies, feature: qr code scanner

#1060 Add label "feature: qr code scanner" automatically
  .github/labeler.yml
Labels: ci/cd

#1047 Upgrade to Flutter v3.13.5
  .fvm/fvm_config.json
Labels: dependencies

#1061 Fix `LocalFile.toString()`
  lib/filesharing/files_basics/lib/src/local_file/local_file.dart
Labels: feature: file-sharing, feature: universal file features

#1074 Update Cocapods
  app/ios/Podfile.lock
  app/macos/Podfile.lock
Labels: platform: macos, platform: ios

#1075 Remove `abiFilters` filters for Android
  app/android/app/build.gradle
Labels: platform: android

#1077 Fixes "Null check operator used on a null value. Error thrown building Widget." in `file_page_app_bar.dart`
  lib/filesharing/files_usecases/lib/src/file_viewer/widgets/file_page_app_bar.dart
Labels: feature: file-sharing, feature: universal file features

#1084 Fix "Null check operator used on a null value" on login page
  app/lib/auth/login_page.dart
Labels: feature: authentification

#1081 Fix "Null check operator used on a null value" when loading events in the timetable
  app/lib/timetable/src/logic/timetable_builder.dart
Labels: feature: timetable / calendar

#1082 Improve null safety in `animated_tab_visibility.dart`
  app/lib/homework/shared/animated_tab_visibility.dart
Labels: feature: homework

#1083 Fix "type 'Null' is not a subtype of type 'Map<String, dynamic>' in type cast" in `firestore_course_member_accessor.dart`
  lib/group_domain_implementation/lib/src/accessors/firestore_course_member_accessor.dart
Labels: feature: groups:courses, feature: groups

#1032 Update Sharezone Plus page with Sharezone Plus advantages
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_parent_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_parent_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_student_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_student_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_teacher_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_teacher_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.phone.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.phone.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
Labels: ui / ux, testing, ui: light-mode, user: teacher, user: parent, ui: dark-mode, user: pupil / student, feature: sharezone plus

#1085 Ensure that the user is loaded in the integration tests
  app/integration_test/app_test.dart
Labels: testing

#1042 Add option to view past events for Sharezone Plus users
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/calendrical_events/analytics/calendrical_events_page_analytics.dart
  app/lib/calendrical_events/analytics/past_calendrical_events_page_analytics.dart
  app/lib/calendrical_events/bloc/calendrical_events_page_bloc.dart
  app/lib/calendrical_events/page/calendrical_events_page.dart
  app/lib/calendrical_events/page/past_calendrical_events_page.dart
  app/lib/calendrical_events/provider/past_calendrical_events_page_controller.dart
  app/lib/calendrical_events/provider/past_calendrical_events_page_controller_factory.dart
  app/lib/main/sharezone_app.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/lib/util/api/timetable_gateway.dart
  app/test/timetable/mock/mock_timetable_gateway.dart
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.tablet_portrait.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus_light.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus_light.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus_light.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus_light.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus_light.tablet_portrait.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.tablet_portrait.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.tablet_portrait.png
  app/test_goldens/calendrical_events/page/past_calendrical_events_page_test.dart
  app/test_goldens/calendrical_events/page/past_calendrical_events_page_test.mocks.dart
  lib/design/lib/src/design.dart
Labels: feature: timetable / calendar, testing, feature: analytics, feature: sharezone plus

#1087 Pre-fill user ID, name and email when making an appointment for the Sharezone Plus video call support
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/main/auth_app.dart
  app/lib/support/support_page.dart
  app/lib/support/support_page_controller.dart
  app/test/settings/support/support_page_controller_test.dart
  app/test/settings/support/support_page_test.mocks.dart
  app/test_goldens/settings/support/support_page_test.mocks.dart
Labels: testing

#1089 Update `dio` in `/website`
  website/pubspec.lock
  website/pubspec.yaml
Labels: dependencies

#1094 Fix "Null check operator used on a null value" in `download_unknown_file_type_dialog_content.dart`
  app/lib/filesharing/widgets/download_unknown_file_type_dialog_content.dart
Labels: feature: file-sharing, ui / ux, feature: universal file features

#1091 Add automatically the 'website' label
  .github/labeler.yml
Labels: ci/cd

#1093 Fix "Null check operator used on a null value" in `file_picker_desktop.dart`
  lib/filesharing/files_usecases/lib/src/file_picker/implementation/file_picker_desktop.dart
Labels: feature: file-sharing, feature: universal file features

#1099 Upgrade Flutter to v3.13.6
  .fvm/fvm_config.json
Labels: dependencies

#1098 Upgrade `codemagic_app_preview` to 0.2.1
  codemagic.yaml
Labels: ci/cd, build-app-preview
