Repository SharezoneApp/sharezone-app, pull requests merged in 2023-04, with the labels that each got.

#540 Remove donation code.
  .github/labeler.yml
  app/assets/icons/backpack.svg
  app/assets/icons/book.svg
  app/assets/icons/chocolate.svg
  app/assets/icons/pizza.svg
  app/assets/icons/sandwich.svg
  app/lib/account/features/feature_gateway.dart
  app/lib/account/features/features_bloc.dart
  app/lib/account/features/objects/hide_donations.dart
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/donate/README.md
  app/lib/donate/analytics/donation_analytics.dart
  app/lib/donate/bloc/donation_bloc.dart
  app/lib/donate/donation_service/donation_item.dart
  app/lib/donate/donation_service/donation_service.dart
  app/lib/donate/donation_service/src/purchase_service.dart
  app/lib/donate/donation_service/src/revenue_cat_donation_service.dart
  app/lib/donate/donation_service/src/sharezone_donation_backend.dart
  app/lib/donate/donation_service/src/should_be_reported_extension.dart
  app/lib/donate/page/donate_page.dart
  app/lib/donate/page/donation_item_view.dart
  app/lib/donate/page/translate_purchases_error_code.dart
  app/lib/main/plugin_initializations.dart
  app/lib/navigation/drawer/drawer.dart
  app/lib/navigation/drawer/tiles/drawer_tiles.dart
  app/lib/navigation/models/navigation_item.dart
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/pubspec.yaml
  app/test/donate/donation_service_test.dart
  app/test/donate/mock_donate_analytics.dart
  lib/user/lib/src/models/features.dart
Labels: documentation, ci/cd, platform: macos, ui / ux, feature: navigation, testing, feature: donation, dependencies, feature: analytics

#541 Treat TODOs as warnings.
  app/analysis_options.yaml
  lib/sharezone_lints/lib/analysis_options.yaml
  tools/sz_repo_cli/analysis_options.yaml
Labels: code quality, sharezone: cli

#542 Replace `package:tuneup` with the Dart analyzer.
  tools/sz_repo_cli/lib/src/commands/src/analyze_command.dart
  tools/sz_repo_cli/lib/src/common/src/package.dart
Labels: code quality, sharezone: cli

#553 Upgrade to Flutter 3.7.9.
  .fvm/fvm_config.json
Labels: dependencies

#554 Run `sz pub get`.
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/filesharing/files_usecases/pubspec.lock
  lib/filesharing/filesharing_logic/pubspec.lock
  lib/sharezone_widgets/pubspec.lock
Labels: feature: homework-submissions, feature: file-sharing, ui / ux, feature: universal file features, dependencies

#558 Upgrade Firebase packages
  app/ios/Podfile
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/macos/Podfile
  app/macos/Podfile.lock
  app/macos/Runner.xcodeproj/project.pbxproj
  app/pubspec.lock
  app/pubspec.yaml
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.yaml
  lib/analytics/pubspec.lock
  lib/analytics/pubspec.yaml
  lib/app_functions/pubspec.lock
  lib/app_functions/pubspec.yaml
  lib/authentification/authentification_base/pubspec.lock
  lib/authentification/authentification_base/pubspec.yaml
  lib/authentification/authentification_qrcode/pubspec.lock
  lib/authentification/authentification_qrcode/pubspec.yaml
  lib/date/pubspec.lock
  lib/design/pubspec.lock
  lib/dynamic_links/pubspec.lock
  lib/dynamic_links/pubspec.yaml
  lib/filesharing/files_usecases/pubspec.lock
  lib/filesharing/filesharing_logic/pubspec.lock
  lib/filesharing/filesharing_logic/pubspec.yaml
  lib/firebase_hausaufgabenheft_logik/pubspec.lock
  lib/firebase_hausaufgabenheft_logik/pubspec.yaml
  lib/group_domain_implementation/pubspec.lock
  lib/group_domain_implementation/pubspec.yaml
  lib/group_domain_models/pubspec.lock
  lib/holidays/pubspec.lock
  lib/holidays/pubspec.yaml
  lib/last_online_reporting/pubspec.lock
  lib/last_online_reporting/pubspec.yaml
  lib/notifications/pubspec.lock
  lib/notifications/pubspec.yaml
  lib/sharezone_common/pubspec.lock
  lib/sharezone_common/pubspec.yaml
  lib/sharezone_widgets/pubspec.lock
  lib/user/pubspec.lock
Labels: feature: homework-submissions, platform: macos, platform: ios, feature: file-sharing, feature: notifications, ui / ux, feature: universal file features, feature: holidays, feature: groups, dependencies, feature: analytics

#560 Cancel CI for outdated commits in a PR
  .github/workflows/app_ci.yml
  .github/workflows/cli_ci.yml
Labels: ci/cd

#561 Remove `**/**file**` wildcard for "feature: universal file features" label
  .github/labeler.yml
Labels: ci/cd

#440 Fix the file upload for the web app
  lib/filesharing/files_basics/lib/src/local_file/local_file.dart
  lib/filesharing/files_basics/lib/src/local_file/local_file_data.dart
  lib/filesharing/filesharing_logic/lib/src/file_uploader/get_file_uploader.dart
  lib/filesharing/filesharing_logic/lib/src/file_uploader/implementation/firebase_file_uploader.dart
  lib/filesharing/filesharing_logic/pubspec.lock
  lib/filesharing/filesharing_logic/pubspec.yaml
Labels: platform: web, feature: file-sharing, feature: universal file features, dependencies

#552 Add "Sharezone Plus" subscription prototype
  .github/labeler.yml
  app/lib/activation_code/src/bloc/enter_activation_code_bloc.dart
  app/lib/activation_code/src/bloc/enter_activation_code_bloc_factory.dart
  app/lib/activation_code/src/models/enter_activation_code_result.dart
  app/lib/activation_code/src/widgets/enter_activation_code_text_field.dart
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/main/plugin_initializations.dart
  app/lib/navigation/drawer/drawer.dart
  app/lib/navigation/drawer/tiles/drawer_tiles.dart
  app/lib/navigation/models/navigation_item.dart
  app/lib/pages/homework/homework_details/homework_details.dart
  app/lib/pages/homework/homework_details/homework_details_view.dart
  app/lib/pages/homework/homework_details/homework_details_view_factory.dart
  app/lib/sharezone_plus/README.md
  app/lib/sharezone_plus/sharezone_plus_page.dart
  app/lib/sharezone_plus/subscription_service/purchase_service.dart
  app/lib/sharezone_plus/subscription_service/revenue_cat_sharezone_plus_service.dart
  app/lib/sharezone_plus/subscription_service/subscription_flag.dart
  app/lib/sharezone_plus/subscription_service/subscription_item.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/macos/Podfile.lock
  app/macos/Runner.xcodeproj/project.pbxproj
  app/pubspec.lock
  app/pubspec.yaml
  lib/sharezone_common/lib/src/helper_functions.dart
  lib/user/lib/src/models/subscription.dart
  lib/user/lib/src/models/user.dart
  lib/user/lib/user.dart
Labels: documentation, ci/cd, feature: homework, platform: macos, ui / ux, feature: navigation, dependencies

#426 Migrate `abgabe_http_api` to null safety
  lib/abgabe/abgabe_http_api/lib/api.dart
  lib/abgabe/abgabe_http_api/lib/api/abgabe_api.dart
  lib/abgabe/abgabe_http_api/lib/api/abgabedatei_api.dart
  lib/abgabe/abgabe_http_api/lib/api/abgabedateien_api.dart
  lib/abgabe/abgabe_http_api/lib/model/datei_hinzufuegen_command_dto.g.dart
  lib/abgabe/abgabe_http_api/lib/model/datei_hinzufuegen_command_dto1.g.dart
  lib/abgabe/abgabe_http_api/lib/model/dateien_hinzufuegen_command_dto.g.dart
  lib/abgabe/abgabe_http_api/lib/model/dateiname_dto.g.dart
  lib/abgabe/abgabe_http_api/lib/model/inline_response400.g.dart
  lib/abgabe/abgabe_http_api/lib/model/inline_response403.g.dart
  lib/abgabe/abgabe_http_api/lib/model/submission_dto.g.dart
  lib/abgabe/abgabe_http_api/lib/serializers.g.dart
  lib/abgabe/abgabe_http_api/pubspec.yaml
Labels: feature: homework-submissions, refactoring, dependencies

#568 Fix picking the homework reminder minutes.
  app/lib/timetable/src/edit_time.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: feature: timetable / calendar, dependencies

#559 Require fork PRs to have a safe to test label before running the tests.
  .github/workflows/safe_app_ci.yml
  .github/workflows/unsafe_app_ci.yml
Labels: ci/cd

#576 Update `remove-safe-to-test-label` GitHub Action
  .github/workflows/unsafe_app_ci.yml
Labels: ci/cd

#578 Upgrade to Flutter v3.7.10
  .fvm/fvm_config.json
Labels: dependencies

#606 Update `remove-safe-to-test-label` and `verify-safe-to-test` label to skip action in merge queues
  .github/workflows/unsafe_app_ci.yml
Labels: ci/cd

#603 Format `url_launcher_extended` package
  lib/url_launcher_extended/lib/mock_url_launcher_extended.dart
  lib/url_launcher_extended/lib/url_launcher_extended.dart
Labels: refactoring

#600 Format `last_online_reporting` package
  lib/last_online_reporting/lib/last_online_reporting.dart
Labels: refactoring

#590 Format `abgabe_http_api` package
  lib/abgabe/abgabe_http_api/lib/api.dart
  lib/abgabe/abgabe_http_api/lib/api_util.dart
  lib/abgabe/abgabe_http_api/lib/model/datei_hinzufuegen_command_dto.dart
  lib/abgabe/abgabe_http_api/lib/model/dateien_hinzufuegen_command_dto.dart
  lib/abgabe/abgabe_http_api/lib/model/dateiname_dto.dart
  lib/abgabe/abgabe_http_api/lib/model/inline_response400.dart
  lib/abgabe/abgabe_http_api/lib/model/inline_response403.dart
  lib/abgabe/abgabe_http_api/lib/model/submission_dto.dart
Labels: feature: homework-submissions, refactoring

#594 Format `design` package
  lib/design/lib/src/color_parser.dart
Labels: refactoring

#592 Format `build_context` package
  lib/build_context/lib/build_context.dart
Labels: refactoring

#597 Format `filesharing_logic` package
  lib/filesharing/filesharing_logic/lib/src/models/folder_type.dart
  lib/filesharing/filesharing_logic/lib/src/models/reference_type.dart
Labels: feature: file-sharing, feature: universal file features, refactoring

#607 Fix wrong label name for "sharezone cli" in `labeler.yml`
  .github/labeler.yml
Labels: ci/cd

#599 Format `hausaufgabenheft_logik` package
  lib/hausaufgabenheft_logik/lib/src/setup/create_homework_page_bloc.dart
  lib/hausaufgabenheft_logik/test/create_student_homework_view_test.dart
  lib/hausaufgabenheft_logik/test/date/date_test.dart
  lib/hausaufgabenheft_logik/test/homework_test.dart
Labels: feature: homework, testing, user: pupil / student, refactoring

#593 Format `crash_analytics` package
  lib/crash_analytics/lib/mock_crash_analytics.dart
Labels: feature: analytics

#598 Format `group_domain_models` package
  lib/group_domain_models/lib/src/models/member_role.dart
  lib/group_domain_models/lib/src/models/write_permissions.dart
Labels: feature: groups, feature: group permissions, refactoring

#595 Format `file_basics` package
  lib/filesharing/files_basics/lib/src/models/file_format.dart
Labels: feature: file-sharing, feature: universal file features, refactoring

#596 Format `file_usecases` package
  lib/filesharing/files_usecases/lib/src/file_viewer/pages/view_in_new_tab_page.dart
Labels: feature: file-sharing, feature: universal file features

#602 Format `sharezone_widgets` package
  lib/sharezone_widgets/lib/src/adaptive_dialog/left_and_right_action_dialog/left_and_right_action_adaptive_dialog.dart
  lib/sharezone_widgets/lib/src/additional/circular_button.dart
  lib/sharezone_widgets/lib/src/state_sheet/dialog.dart
  lib/sharezone_widgets/lib/src/theme/brightness/dark_theme.dart
  lib/sharezone_widgets/lib/src/theme/fade_route.dart
  lib/sharezone_widgets/lib/src/theme/ignore_will_pop_scope_when_ios_swipe_back_route.dart
  lib/sharezone_widgets/lib/src/theme/scale_up_route.dart
Labels: ui / ux, ui: dark-mode, refactoring

#601 Format `sharezone_utils` package
  lib/sharezone_utils/lib/device_information_manager.dart
  lib/sharezone_utils/lib/src/device_information_manager/ios_information.dart
Labels: refactoring

#586 Allow new line when adding the event description while adding a new event
  app/lib/timetable/timetable_add_event/tabs/optional_tab.dart
Labels: feature: timetable / calendar

#582 Hide debug login credentials for production flavor
  app/integration_test/app_test.dart
  app/lib/auth/login_page.dart
  app/lib/main/run_app.dart
  app/lib/main/sharezone.dart
Labels: testing, feature: authentification

#612 Add `sz format` command.
  tools/sz_repo_cli/lib/src/commands/src/format_command.dart
  tools/sz_repo_cli/lib/src/common/src/package.dart
  tools/sz_repo_cli/lib/src/main.dart
Labels: sharezone cli

#610 Add Sharezone Plus feature guard and guard some features.
  app/lib/blackboard/details/blackboard_item_read_by_users_list/blackboard_item_read_by_users_list_page.dart
  app/lib/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page.dart
  app/lib/pages/homework/homework_details/homework_details_view_factory.dart
  app/lib/pages/homework/homework_details/submissions/homework_list_submissions_page.dart
  app/lib/sharezone_plus/sharezone_plus_feature_guard.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
Labels: feature: homework, feature: homework-submissions, feature: information sheet, user: teacher, feature: sharezone plus

#613 Format `app`.
  app/lib/comments/comments_analytics.dart
  app/lib/comments/misc.dart
  app/lib/dashboard/timetable/lesson_card.dart
  app/lib/dashboard/timetable/lesson_view.dart
  app/lib/dashboard/tips/cache/dashboard_tip_cache.dart
  app/lib/dashboard/tips/models/dashboard_tip.dart
  app/lib/dashboard/widgets/dashboard_fab.dart
  app/lib/download_app_tip/analytics/download_app_tip_analytics.dart
  app/lib/download_app_tip/bloc/download_app_tip_bloc.dart
  app/lib/download_app_tip/cache/download_app_tip_cache.dart
  app/lib/feedback/src/api/feedback_api.dart
  app/lib/feedback/src/cache/cooldown_exception.dart
  app/lib/filesharing/widgets/move_file_page_header.dart
  app/lib/firebase_options_prod.g.dart
  app/lib/groups/analytics/group_analytics.dart
  app/lib/groups/src/pages/course/course_page/course_page_bloc.dart
  app/lib/groups/src/pages/course/create/src/bloc/user_input.dart
  app/lib/groups/src/pages/school_class/create_course/school_class_create_course.dart
  app/lib/homework/analytics/homework_analytics.dart
  app/lib/navigation/scaffold/portable/bottom_navigation_bar/navigation_experiment/navigation_experiment_option.dart
  app/lib/navigation/scaffold/portable/bottom_navigation_bar/tutorial/bnb_tutorial_widget.dart
  app/lib/onboarding/group_onboarding/logic/signed_up_bloc.dart
  app/lib/onboarding/group_onboarding/pages/create_schoolclass.dart
  app/lib/onboarding/group_onboarding/pages/join_group.dart
  app/lib/onboarding/group_onboarding/widgets/bottom_bar_button.dart
  app/lib/onboarding/sign_up/pages/advantages.dart
  app/lib/onboarding/sign_up/pages/privacy_policy.dart
  app/lib/overview/cache/profile_page_hint_cache.dart
  app/lib/pages/homework/homework_details/submissions/homework_create_submission_page.dart
  app/lib/pages/settings/changelog/changelog_page_view.dart
  app/lib/pages/settings/changelog_page.dart
  app/lib/pages/settings/mute/mute_student.dart
  app/lib/pages/settings/mute/mute_teacher.dart
  app/lib/pages/settings/src/subpages/privacy_policy/text_theme.dart
  app/lib/pages/settings/timetable_settings/bloc/timetable_settings_bloc_factory.dart
  app/lib/settings/periods_edit_page.dart
  app/lib/timetable/src/widgets/events/calender_event_card.dart
  app/lib/timetable/src/widgets/events/event_view.dart
  app/lib/timetable/src/widgets/quick_create/quick_create_bloc.dart
  app/lib/timetable/timetable_page/timetable_event_details.dart
  app/lib/util/api/timetable_gateway.dart
  app/lib/util/platform_information_manager/platform_information_retreiver.dart
  app/lib/widgets/avatar_card.dart
  app/lib/widgets/svg.dart
  app/lib/widgets/test.dart
  app/test/bottom_navigation_bar/extendable_bottom_navigation_bar_test.dart
  app/test/feedback/mock_feedback_api.dart
  app/test/feedback/mock_platform_information_retreiver.dart
  app/test/timetable/mock/mock_user_gateway.dart
Labels: feature: homework, feature: homework-submissions, feature: file-sharing, legal, feature: timetable / calendar, ui / ux, feature: universal file features, feature: groups:courses, feature: groups:classes, feature: groups, feature: navigation, testing, feature: onboarding, user: teacher, feature: comments, user: pupil / student, refactoring, feature: feedback, feature: analytics

#580 Limit "What's New" to 4000 characters when publishing to the App Store
  .github/workflows/alpha.yml
Labels: ci/cd

#573 Fix freeze when signing out on web
  lib/user/lib/src/models/user.dart
Labels: platform: web, feature: navigation

#579 Run `sz pub get`
  lib/abgabe/abgabe_http_api/pubspec.lock
Labels: feature: homework-submissions, dependencies

#583 Improve design for event details page to view long event titles
  app/lib/timetable/timetable_page/timetable_event_details.dart
Labels: feature: timetable / calendar, ui / ux

#587 Fix event description icon
  app/lib/timetable/timetable_page/timetable_event_details.dart
Labels: feature: timetable / calendar, ui / ux

#604 Remove duplicated file `datei_hinzufuegen_command_dto1.dart`
  lib/abgabe/abgabe_http_api/lib/model/datei_hinzufuegen_command_dto1.dart
  lib/abgabe/abgabe_http_api/lib/model/datei_hinzufuegen_command_dto1.g.dart
  lib/abgabe/abgabe_http_api/lib/model/dateien_hinzufuegen_command_dto.dart
  lib/abgabe/abgabe_http_api/lib/model/dateien_hinzufuegen_command_dto.g.dart
  lib/abgabe/abgabe_http_api/lib/serializers.dart
  lib/abgabe/abgabe_http_api/lib/serializers.g.dart
Labels: feature: homework-submissions, refactoring

#614 Add `--exclude-goldens` and `--only-goldens` argument to `sz test`
  .github/labeler.yml
  app/test_goldens/dashboard/dashboard_page_test.dart
  app/test_goldens/dashboard/goldens/holiday_card.phone.png
  app/test_goldens/flutter_test_config.dart
  app/test_goldens/widgets/alpha_version_banner_test.dart
  app/test_goldens/widgets/goldens/alpha_version_banner.png
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
  tools/sz_repo_cli/lib/src/common/src/package.dart
Labels: ci/cd, ui / ux, feature: holidays, testing, sharezone cli

#615 Run our integration tests only in our merge queue
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/integration_tests_app_fallback_ci.yml
  .github/workflows/unsafe_app_ci.yml
Labels: ci/cd

#611 Check formatting when running `sz analyze`.
  tools/sz_repo_cli/lib/src/common/src/package.dart
Labels: sharezone cli

#574 Fix navigation after signing out
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/main/sharezone.dart
Labels: feature: navigation

#618 `sz` CLI: Move logic out of `package.dart`.
  tools/sz_repo_cli/lib/src/commands/src/analyze_command.dart
  tools/sz_repo_cli/lib/src/commands/src/format_command.dart
  tools/sz_repo_cli/lib/src/commands/src/pub_get_command.dart
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
  tools/sz_repo_cli/lib/src/common/src/package.dart
Labels: sharezone cli

#617 Split our CI test job into `test-without-goldens` and `test-only-goldens`
  .github/workflows/cli_ci.yml
  .github/workflows/safe_app_ci.yml
Labels: ci/cd

#571 Add option to clear app cache
  app/lib/activation_code/src/bloc/enter_activation_code_bloc.dart
  app/lib/activation_code/src/bloc/enter_activation_code_bloc_factory.dart
  app/lib/activation_code/src/enter_activation_code_result_dialog.dart
  app/lib/activation_code/src/widgets/enter_activation_code_text_field.dart
  app/lib/blocs/sharezone_bloc_providers.dart
Labels: ui / ux

#569 Fix dark theme dialog colors.
  app/lib/widgets/apple_sign_in_button.dart
  lib/sharezone_widgets/lib/src/theme/brightness/dark_theme.dart
Labels: feature: timetable / calendar, ui / ux, feature: authentification, ui: dark-mode, dependencies

#621 Fix view PDF files on Web & Android
  app/web/index.html
  lib/filesharing/files_usecases/lib/src/file_viewer/pages/pdf_file_page.dart
Labels: platform: web, platform: android, feature: file-sharing, feature: universal file features

#616 Fix setting minutes in time pickers
  app/lib/timetable/src/edit_time.dart
Labels: feature: timetable / calendar

#624 Add `VisualDensitySetting` class.
  app/lib/account/theme/theme_settings.dart
  app/lib/main/sharezone.dart
  app/lib/main/sharezone_material_app.dart
  app/test/theme/theme_settings_test.dart
Labels: ui / ux, testing

#626 Re-create `index.html` with Flutter v3.7.10 and update logos in `web/icons`
  app/web/icons/Icon-192.png
  app/web/icons/Icon-512.png
  app/web/icons/Icon-521.png
  app/web/icons/Icon-maskable-192.png
  app/web/icons/Icon-maskable-512.png
  app/web/index.html
  app/web/manifest.json
Labels: platform: web

#627 Update macOS runner to `macos-13`
  .github/workflows/alpha.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/safe_app_ci.yml
Labels: ci/cd

#439 Add push notifications support for Android >= 13 and macOS (limited)
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/main/plugin_initializations.dart
  app/lib/main/sharezone.dart
  app/lib/main/sharezone_app.dart
  app/lib/navigation/navigation_controller.dart
  app/lib/notifications/firebase_messaging_callback_configurator.dart
  app/lib/notifications/is_firebase_messaging_supported.dart
  app/lib/notifications/notifications_permission.dart
  app/lib/onboarding/group_onboarding/pages/choose_name.dart
  app/lib/onboarding/group_onboarding/pages/turn_on_notifications.dart
  app/lib/util/notification_token_adder.dart
  app/macos/Runner/DebugProfile.entitlements
  app/macos/Runner/Release.entitlements
  app/macos/Runner/sharezoneProfile.entitlements
  app/test/notifications/notification_permission_test.dart
Labels: platform: macos, platform: web, platform: android, feature: notifications, testing, feature: onboarding, feature: group permissions

#629 Update to Flutter 3.7.12
  .fvm/fvm_config.json
Labels: dependencies
