Repository SharezoneApp/sharezone-app, pull requests merged in 2023-10, with the labels that each got.

#1104 Replace `FocusManager` call with `focusNode.requestFocus` in `delayKeyboard(...)`.
  lib/sharezone_widgets/lib/src/theme/theme.dart
Labels: ui / ux

#1105 Add missing bracket in error text.
  app/lib/pages/homework/homework_dialog.dart
Labels: feature: homework

#1106 Upgrade Sharezone to v1.7.9
  app/pubspec.yaml
Labels: dependencies

#1109 Remove `package:feature_discovery`.
  app/lib/activation_code/src/bloc/enter_activation_code_bloc.dart
  app/lib/blackboard/details/blackboard_details.dart
  app/lib/dashboard/dashboard_page.dart
  app/lib/dashboard/widgets/dashboard_fab.dart
  app/lib/main/sharezone_material_app.dart
  app/lib/pages/homework/homework_dialog.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/timetable/timetable_page_test.dart
  app/test_goldens/timetable/timetable_page_test.dart
Labels: feature: homework, feature: timetable / calendar, feature: information sheet, ui / ux, testing, dependencies, w: dashboard-page

#1112 Refactor some of the homework dialog code.
  app/lib/blocs/homework/homework_dialog_bloc.dart
  app/lib/homework/shared/open_homework_dialog.dart
  app/lib/pages/homework/homework_details/homework_details.dart
  app/lib/pages/homework/homework_dialog.dart
  app/lib/pages/homework_page.dart
  app/lib/util/next_lesson_calculator/next_lesson_calculator.dart
  app/test/homework/homework_dialog_bloc_test.dart
Labels: feature: homework, feature: timetable / calendar, testing

#1113 Continue refactoring homework dialog.
  app/lib/blocs/homework/homework_dialog_bloc.dart
  app/lib/pages/homework/homework_dialog.dart
  app/test/homework/homework_dialog_test.dart
  app/test/homework/homework_dialog_test.mocks.dart
Labels: feature: homework, testing, w: add-homework-page, refactoring

#1114 Add `mounted` check to `animated_tab_visibility.dart`
  app/lib/homework/shared/animated_tab_visibility.dart
Labels: feature: homework

#1116 Continue refactoring homework dialog.
  app/lib/blocs/homework/homework_dialog_bloc.dart
  app/lib/filesharing/dialog/attach_file.dart
  app/lib/pages/homework/homework_dialog.dart
  app/test/homework/homework_dialog_bloc_test.dart
  app/test/homework/homework_dialog_test.dart
Labels: feature: homework, feature: file-sharing, feature: universal file features, testing

#1118 Remove unnecessary homework dialog save code.
  app/lib/pages/homework/homework_dialog.dart
Labels: feature: homework

#1121 Fix displaying course name when editing homework.
  app/lib/blocs/homework/homework_dialog_bloc.dart
  app/test/homework/homework_dialog_test.dart
Labels: feature: homework, testing

#1119 Fix markdown analytics when editing a homework.
  app/lib/blocs/homework/homework_dialog_bloc.dart
  app/test/homework/homework_dialog_test.dart
Labels: feature: homework, testing

#1120 Remove `Validator` from `HomeworkDialogBloc`.
  app/lib/blocs/homework/homework_dialog_bloc.dart
  app/lib/pages/homework/homework_dialog.dart
  lib/sharezone_common/lib/homework_validators.dart
  lib/sharezone_common/lib/src/validators/homework_validators.dart
Labels: feature: homework

#1030 Restrict adding events to the local calendar to Sharezone Plus users.
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/lib/timetable/timetable_page/timetable_event_details.dart
Labels: feature: timetable / calendar, feature: sharezone plus

#1031 Fix light theme for plus advantages golden tests
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_parent_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_student_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_advantages_teacher_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.dart
Labels: ui / ux, testing, ui: light-mode, user: teacher, user: parent, user: pupil / student, feature: sharezone plus

#1095 Prevent the user to create a folder with `null` or an empty string
  lib/sharezone_widgets/lib/src/form.dart
Labels: ui / ux, build-app-preview

#1123 Change `_DashboardPageFAB` from `StatefulWidget` to `StatelessWidget`
  app/lib/dashboard/dashboard_page.dart
  app/lib/dashboard/widgets/dashboard_fab.dart
Labels: ui / ux, w: dashboard-page

#1124 Upgrade `codemagic-cli-tools` to v0.46.0
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/stable.yml
Labels: ci/cd

#1125 Add `--max-find-build-wait` when publishing to App Store Connect
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
Labels: sharezone cli

#1122 Continue refactoring homework dialog.
  app/lib/blackboard/blocs/blackboard_dialog_bloc.dart
  app/lib/blocs/homework/homework_dialog_bloc.dart
  app/lib/filesharing/dialog/attach_file.dart
  app/lib/filesharing/dialog/course_tile.dart
  app/lib/filesharing/file_sharing_api.dart
  app/lib/homework/shared/open_homework_dialog.dart
  app/lib/pages/homework/homework_details/homework_details.dart
  app/lib/pages/homework/homework_dialog.dart
  app/lib/pages/homework_page.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/homework/homework_dialog_test.dart
  app/test/homework/homework_dialog_test.mocks.dart
  lib/group_domain_models/lib/src/models/course.dart
  lib/time/lib/src/time.dart
Labels: feature: homework, feature: file-sharing, feature: information sheet, feature: universal file features, feature: groups:courses, feature: groups, testing, dependencies, build-app-preview

#1128 Upgrade to Flutter v3.13.7
  .fvm/fvm_config.json
Labels: dependencies

#1129 Upgrade Flutter to v3.13.8
  .fvm/fvm_config.json
Labels: dependencies

#1131 Use `process_runner` for Sharezone CLI.
  tools/sz_repo_cli/lib/src/commands/commands.dart
  tools/sz_repo_cli/lib/src/commands/src/add_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/analyze_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_runner_build_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_web_command.dart
  tools/sz_repo_cli/lib/src/commands/src/check_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_web_app_command.dart
  tools/sz_repo_cli/lib/src/commands/src/fix_comment_spacing_command.dart
  tools/sz_repo_cli/lib/src/commands/src/format_command.dart
  tools/sz_repo_cli/lib/src/commands/src/locate_sharezone_flutter_directory_command.dart
  tools/sz_repo_cli/lib/src/commands/src/pub_get_command.dart
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
  tools/sz_repo_cli/lib/src/common/common.dart
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
  tools/sz_repo_cli/lib/src/common/src/concurrent_command.dart
  tools/sz_repo_cli/lib/src/common/src/process_runner_utils.dart
  tools/sz_repo_cli/lib/src/common/src/run_process.dart
  tools/sz_repo_cli/lib/src/common/src/run_source_of_truth_command.dart
  tools/sz_repo_cli/lib/src/common/src/throw_if_command_is_not_installed.dart
  tools/sz_repo_cli/lib/src/main.dart
  tools/sz_repo_cli/pubspec.lock
  tools/sz_repo_cli/pubspec.yaml
  tools/sz_repo_cli/test/ensure_cmd_sot_file_exists_test.dart
Labels: platform: macos, platform: web, platform: ios, platform: android, testing, sharezone cli, feature: comments, dependencies

#1130 Add `sz exec` command.
  tools/sz_repo_cli/lib/src/commands/commands.dart
  tools/sz_repo_cli/lib/src/commands/src/exec_command.dart
  tools/sz_repo_cli/lib/src/main.dart
Labels: sharezone cli

#1132 Replace `dart:io` file code with `package:file`.
  tools/sz_repo_cli/lib/src/commands/src/add_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/analyze_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_runner_build_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_web_command.dart
  tools/sz_repo_cli/lib/src/commands/src/check_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_web_app_command.dart
  tools/sz_repo_cli/lib/src/commands/src/do_stuff_command.dart
  tools/sz_repo_cli/lib/src/commands/src/exec_command.dart
  tools/sz_repo_cli/lib/src/commands/src/fix_comment_spacing_command.dart
  tools/sz_repo_cli/lib/src/commands/src/format_command.dart
  tools/sz_repo_cli/lib/src/commands/src/pub_get_command.dart
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
  tools/sz_repo_cli/lib/src/common/common.dart
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
  tools/sz_repo_cli/lib/src/common/src/command_base.dart
  tools/sz_repo_cli/lib/src/common/src/concurrent_command.dart
  tools/sz_repo_cli/lib/src/common/src/context.dart
  tools/sz_repo_cli/lib/src/common/src/package.dart
  tools/sz_repo_cli/lib/src/common/src/process_runner_utils.dart
  tools/sz_repo_cli/lib/src/common/src/sharezone_repo.dart
  tools/sz_repo_cli/lib/src/main.dart
  tools/sz_repo_cli/pubspec.lock
  tools/sz_repo_cli/pubspec.yaml
  tools/sz_repo_cli/test/common/build_utils_test.dart
  tools/sz_repo_cli/test/ensure_cmd_sot_file_exists_test.dart
Labels: platform: macos, platform: web, platform: ios, platform: android, testing, sharezone cli, feature: comments, dependencies

#1134 Fix wrong section title for homeworks in next month.
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/sort_and_subcategorization/todo_date_subcategorizer.dart
  lib/hausaufgabenheft_logik/test/homework_page_bloc_test.dart
Labels: feature: homework, testing

#1136 Automatically select next weekday in homework dialog.
  app/lib/homework/homework_dialog/homework_dialog_bloc.dart
  app/test/homework/homework_dialog_bloc_test.dart
  lib/date/lib/src/date.dart
Labels: feature: homework, testing
