Repository SharezoneApp/sharezone-app, pull requests merged in 2023-07, with the labels that each got.

#672 Fix integration tests for Android (use default Android SDK, use `prod` flavor and disable FCM)
  .github/workflows/integration_tests_app_ci.yml
  app/android/gradle.properties
  app/integration_test/app_test.dart
  app/lib/main/sharezone.dart
  app/lib/notifications/firebase_messaging_callback_configurator.dart
  app/lib/notifications/notifications_permission.dart
  app/lib/util/api/user_api.dart
  app/lib/util/notification_token_adder.dart
Labels: ci/cd, platform: android, feature: notifications, testing, feature: group permissions

#673 Catch `.firstWhere` error in `homework_api.dart`.
  app/lib/util/api/homework_api.dart
Labels: feature: homework

#669 Run `sz pub get`.
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/filesharing/filesharing_logic/pubspec.lock
Labels: feature: homework-submissions, feature: file-sharing, feature: universal file features, dependencies

#671 Fix course color picker
  app/lib/groups/src/pages/course/course_edit/design/course_edit_design.dart
  app/lib/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog.dart
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_design_dialog.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog_test.dart
Labels: feature: groups:courses, feature: groups, testing

#684 Upgrade app version to 1.7.3
  app/pubspec.yaml
Labels: dependencies

#655 Fix loading homeworks for teachers
  app/lib/util/api/homework_api.dart
  lib/last_online_reporting/lib/src/implementation.dart
  lib/user/lib/src/models/user.dart
Labels: feature: homework

#685 Add "build android" command to Sharezone CLI
  tools/sz_repo_cli/lib/src/commands/src/build_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_command.dart
  tools/sz_repo_cli/lib/src/main.dart
Labels: platform: android, sharezone cli

#687 Migrate Sharezone Repo CLI to null safety
  tools/sz_repo_cli/lib/src/commands/src/build_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/check_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_web_app_command.dart
  tools/sz_repo_cli/lib/src/commands/src/fix_comment_spacing_command.dart
  tools/sz_repo_cli/lib/src/commands/src/locate_sharezone_flutter_directory_command.dart
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
  tools/sz_repo_cli/lib/src/common/common.dart
  tools/sz_repo_cli/lib/src/common/src/concurrent_command.dart
  tools/sz_repo_cli/lib/src/common/src/concurrent_package_task_runner.dart
  tools/sz_repo_cli/lib/src/common/src/package.dart
  tools/sz_repo_cli/lib/src/common/src/run_process.dart
  tools/sz_repo_cli/lib/src/common/src/shared_args.dart
  tools/sz_repo_cli/lib/src/common/src/sharezone_repo.dart
  tools/sz_repo_cli/lib/src/main.dart
  tools/sz_repo_cli/pubspec.yaml
Labels: platform: web, platform: android, sharezone cli, feature: comments, dependencies

#690 Add `sz build ios` command to Sharezone Repo CLI
  tools/sz_repo_cli/lib/src/commands/src/build_ios_command.dart
  tools/sz_repo_cli/lib/src/main.dart
Labels: sharezone cli

#700 Rename concurrency group for alpha deployments
  .github/workflows/alpha.yml
Labels: ci/cd
