Repository SharezoneApp/sharezone-app, pull requests merged in 2023-05, with the labels that each got.

#636 Replace `open_file` package with `open_file_plus`.
  app/lib/filesharing/widgets/download_unknown_file_type_dialog_content.dart
  app/pubspec.lock
  app/pubspec.yaml
  lib/filesharing/files_usecases/lib/src/file_viewer/pages/pdf_file_page.dart
  lib/filesharing/files_usecases/pubspec.lock
  lib/filesharing/files_usecases/pubspec.yaml
Labels: feature: file-sharing, ui / ux, feature: universal file features, dependencies

#640 Fix getting latest build number when publishing iOS alpha
  .github/workflows/alpha.yml
Labels: ci/cd

#645 Add docs page for deleting the account
  docs.yaml
  docs/account/delete.mdx
Labels: documentation

#641 Hide "Daten werden nach Frankfurt gesendet" Snackbar when adding an homework / information sheet.
  app/lib/blackboard/blackboard_dialog.dart
  app/lib/pages/homework/homework_dialog.dart
Labels: feature: homework, feature: information sheet

#644 Fix page transition for desktop
  lib/sharezone_widgets/lib/src/theme/brightness/general_theme.dart
Labels: ui / ux

#646 Update version to 1.7.0
  app/pubspec.yaml
Labels: dependencies

#643 Fix displaying a loading indicator for loading holidays
  app/lib/blocs/dashbord_widgets_blocs/holiday_bloc.dart
Labels: feature: holidays

#651 Update version to 1.7.1
  app/pubspec.yaml
Labels: dependencies

#653 Change "Akzeptieren" to "Weiter" in onboarding privacy policy step.
  app/lib/onboarding/sign_up/pages/privacy_policy.dart
Labels: legal, feature: onboarding

#666 Update Version to 1.7.2
  app/pubspec.yaml
Labels: dependencies

#667 Add docs for Firewall configurations
  docs.yaml
  docs/more/firewall.mdx
Labels: documentation
