Repository SharezoneApp/sharezone-app, pull requests merged in 2023-02, with the labels that each got.

#345 Remove Meetings (Jitsi) from Sharezone.
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/groups/src/pages/course/course_details.dart
  app/lib/groups/src/pages/course/course_details/course_settings.dart
  app/lib/groups/src/pages/school_class/school_class_details.dart
  app/lib/groups/src/widgets/meeting/group_meeting_button.dart
  app/lib/groups/src/widgets/meeting/group_meeting_button_view.dart
  app/lib/groups/src/widgets/meeting/is_group_meeting_enabled_switch.dart
  app/lib/meeting/analytics/meeting_analytics.dart
  app/lib/meeting/analytics/meeting_event.dart
  app/lib/meeting/bloc/meeting_bloc.dart
  app/lib/meeting/bloc/meeting_bloc_factory.dart
  app/lib/meeting/cache/meeting_cache.dart
  app/lib/meeting/jitsi/jitsi_auth.dart
  app/lib/meeting/jitsi/jitsi_launcher.dart
  app/lib/meeting/models/meeting_id.dart
  app/lib/meeting/widgets/meeting_copied_meeting_url_dialog.dart
  app/lib/meeting/widgets/meeting_error_dialog.dart
  app/lib/meeting/widgets/meeting_warning.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/meeting/group_meeting_button_test.dart
  app/test/meeting/jitsi_launcher_test.dart
  app/test/meeting/jitsi_service_test.dart
  app/test/meeting/meeting_bloc_test.dart
  app/test/meeting/mock/mock_meeting_bloc.dart
  app/test/meeting/mock_meeting_analytics.dart
Labels: testing, dependencies

#355 Add new macOS app logo
  app/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  app/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
Labels: platform: macos

#354 Fix macOS build after issue with `pdfx`
  app/android/gradle/wrapper/gradle-wrapper.properties
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/macos/Podfile.lock
  app/macos/Runner.xcodeproj/project.pbxproj
  app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/pubspec.lock
  lib/filesharing/files_usecases/pubspec.yaml
  lib/sharezone_utils/pubspec.lock
  lib/sharezone_utils/pubspec.yaml
Labels: platform: macos, platform: android, dependencies

#357 Upgrade `package_info_plus` package for macOS support
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/macos/Podfile.lock
  app/macos/Runner.xcodeproj/project.pbxproj
  app/pubspec.lock
  app/pubspec.yaml
Labels: platform: macos, dependencies

#358 Add `sharezone_lints` package
  lib/sharezone_lints/REAMDE.md
  lib/sharezone_lints/lib/analysis_options.yaml
  lib/sharezone_lints/pubspec.lock
  lib/sharezone_lints/pubspec.yaml
Labels: documentation, dependencies

#361 Add `sharezone_lints` to `sharezone_utils`
  lib/sharezone_utils/analysis_options.yaml
  lib/sharezone_utils/lib/src/dimensions/dimensions.dart
  lib/sharezone_utils/lib/src/platform/platform_check.dart
  lib/sharezone_utils/pubspec.lock
  lib/sharezone_utils/pubspec.yaml
Labels: dependencies

#363 Migrate `util` package to null saftey
  app/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.yaml
  lib/util/lib/src/encryption/aes_encryption.dart
  lib/util/lib/src/encryption/rsa_encryption.dart
  lib/util/lib/src/encryption/rsa_pem.dart
  lib/util/lib/src/logging.dart
  lib/util/lib/src/string_helper.dart
  lib/util/pubspec.lock
  lib/util/pubspec.yaml
Labels: code quality, dependencies

#371 Add concurrency options to `sz pub get`.
  tools/sz_repo_cli/lib/src/commands/src/pub_get_command.dart
Labels: sharezone cli

#368 Remove unused code in `util` package
  lib/util/lib/src/decoding_encoding_helper.dart
  lib/util/lib/src/encryption/rsa_pem.dart
  lib/util/lib/src/logging.dart
  lib/util/lib/src/string_helper.dart
  lib/util/lib/util.dart
Labels: refactoring

#230 Integrate Android integration tests into CI pipeline
  .github/workflows/main.yml
  app/lib/blocs/homework/homework_page_bloc.dart
  app/lib/notifications/firebase_messaging_callback_configurator.dart
Labels: ci/cd

#376 Initialize Firebase via Dart
  .github/workflows/alpha.yml
  .github/workflows/main.yml
  .vscode/launch.json
  app/integration_test/app_test.dart
  app/lib/main/run_app.dart
  app/lib/main_common.dart
  app/lib/main_dev.dart
  app/lib/main_prod.dart
  app/lib/notifications/firebase_messaging_callback_configurator.dart
  app/lib/util/flavor.dart
  app/test_driver/app.dart
  app/web/firebase_init_debug.js
  app/web/firebase_init_release.js
  app/web/index.html
  codemagic.yaml
  tools/sz_repo_cli/lib/src/commands/src/deploy_web_app_command.dart
Labels: ci/cd, platform: web, testing

#379 Add one empty line after a heading in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: documentation

#380 Migrate `crash_analytics` to null safety
  lib/crash_analytics/lib/src/crash_analytics.dart
  lib/crash_analytics/lib/src/implementation/stub_crash_analytics.dart
  lib/crash_analytics/lib/src/mock_crash_analytics.dart
  lib/crash_analytics/pubspec.yaml
Labels: dependencies

#382 Migrate `build_context` package to null safety
  lib/build_context/lib/src/build_context_impl.dart
  lib/build_context/pubspec.yaml
Labels: dependencies

#383 Add instructions to run the app in the `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: documentation

#385 Only build the app preview when the PR has the label "build-app-preview"
  .github/workflows/label_app_preview.yaml
  codemagic.yaml
Labels: ci/cd, build-app-preview

#394 Fix macOS build
  app/macos/.gitignore
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/macos/Podfile
  app/macos/Podfile.lock
  app/macos/Runner.xcodeproj/project.pbxproj
  app/macos/firebase_app_id_file.json
  app/macos/firebase_app_id_file_dev.json
  app/pubspec.lock
  lib/authentification/authentification_base/pubspec.lock
  lib/authentification/authentification_base/pubspec.yaml
Labels: platform: macos, dependencies

#391 Remove Flutter Driver code
  app/.gitignore
  app/lib/main_common.dart
  app/lib/notifications/firebase_messaging_callback_configurator.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test_driver/README.md
  app/test_driver/app.dart
  app/test_driver/app_test.dart
Labels: documentation, testing, refactoring, dependencies

#386 Introduce iOS alpha program 🙌
  .github/workflows/alpha.yml
  app/.gitignore
  app/pubspec.yaml
Labels: ci/cd, dependencies

#401 Add path filters for releasing alpha versions
  .github/workflows/alpha.yml
Labels: ci/cd

#397 Clean up Markdown files
  README.md
  app/README.md
  app/integration_test/README.md
  lib/abgabe/abgabe_http_api/README.md
  lib/build_context/README.md
  lib/hausaufgabenheft_logik/README.md
Labels: documentation
