Repository SharezoneApp/sharezone-app, pull requests merged in 2023-08, with the labels that each got.

#79 Replace privacy policy page.
  app/lib/homework/student/src/homework_bottom_action_bar.dart
  app/lib/main/auth_app.dart
  app/lib/main/sharezone_app.dart
  app/lib/onboarding/sign_up/pages/privacy_policy.dart
  app/lib/onboarding/sign_up/sign_up_page.dart
  app/lib/pages/settings/src/subpages/privacy_policy/privacy_policy.dart
  app/lib/pages/settings/src/subpages/privacy_policy/text_theme.dart
  app/lib/pages/settings/src/subpages/privacy_policy/topic.dart
  app/lib/pages/settings_page.dart
  app/lib/privacy_policy/privacy_policy_page.dart
  app/lib/privacy_policy/src/currently_reading_controller.dart
  app/lib/privacy_policy/src/data/privacy_policy_v1.dart
  app/lib/privacy_policy/src/data/privacy_policy_v2.dart
  app/lib/privacy_policy/src/document_controller.dart
  app/lib/privacy_policy/src/factory.dart
  app/lib/privacy_policy/src/privacy_policy_src.dart
  app/lib/privacy_policy/src/shared/currently_read_threshold.dart
  app/lib/privacy_policy/src/shared/document_section.dart
  app/lib/privacy_policy/src/shared/privacy_policy.dart
  app/lib/privacy_policy/src/shared/privacy_policy_end_section.dart
  app/lib/privacy_policy/src/shared/privacy_policy_page_config.dart
  app/lib/privacy_policy/src/shared/shared.dart
  app/lib/privacy_policy/src/table_of_contents/document_section_view.dart
  app/lib/privacy_policy/src/table_of_contents/section_expansion.dart
  app/lib/privacy_policy/src/table_of_contents/table_of_contents.dart
  app/lib/privacy_policy/src/table_of_contents_controller.dart
  app/lib/privacy_policy/src/ui/common.dart
  app/lib/privacy_policy/src/ui/mobile_layout.dart
  app/lib/privacy_policy/src/ui/narrow_layout.dart
  app/lib/privacy_policy/src/ui/privacy_policy_display_settings.dart
  app/lib/privacy_policy/src/ui/privacy_policy_theme_settings.dart
  app/lib/privacy_policy/src/ui/sharezone_markdown_extensions.dart
  app/lib/privacy_policy/src/ui/table_of_contents_bottom_sheet.dart
  app/lib/privacy_policy/src/ui/ui.dart
  app/lib/privacy_policy/src/ui/wide_layout.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/privacy_policy/generate_anchor_hash_test.dart
  app/test/privacy_policy/helper.dart
  app/test/privacy_policy/privacy_policy_v2.dart
  app/test/privacy_policy/privacy_policy_widget_test.dart
  app/test/privacy_policy/table_of_contents/toc_currently_reading_test.dart
  app/test/privacy_policy/table_of_contents/toc_section_expansion_test.dart
  lib/sharezone_about_page_addon/pubspec.lock
  lib/sharezone_widgets/lib/sharezone_widgets.dart
  lib/sharezone_widgets/lib/src/show_rounded_modal_bottom_sheet.dart
  lib/user/pubspec.lock
Labels: feature: homework, legal, ui / ux, testing, feature: onboarding, feature: authentification, user: pupil / student, w: onboarding/privacy-policy-page, dependencies

#701 Use `sz deploy ios` command in `alpha.yml` workflow
  .github/workflows/alpha.yml
Labels: ci/cd

#708 Fix working directory for deploying iOS alpha versions
  .github/workflows/alpha.yml
Labels: ci/cd

#710 Upgrade dio to 5.3.2 to resolve CVE-2020-35669
  app/lib/blocs/sharezone_bloc_providers.dart
  app/pubspec.lock
  app/pubspec.yaml
  lib/abgabe/abgabe_http_api/lib/api.dart
  lib/abgabe/abgabe_http_api/pubspec.lock
  lib/abgabe/abgabe_http_api/pubspec.yaml
Labels: feature: homework-submissions, dependencies

#709 Add `--export-options-plist` to `sz deploy ios` and `sz build ios`
  .github/workflows/alpha.yml
  tools/sz_repo_cli/lib/src/commands/src/build_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_ios_command.dart
Labels: ci/cd, sharezone cli

#699 Add CD workflow to deploy new iOS stable versions
  .github/workflows/stable.yml
Labels: ci/cd

#712 Format GitHub Actions files with Prettier
  .github/workflows/alpha.yml
  .github/workflows/integration_tests_app_fallback_ci.yml
  .github/workflows/licence.yml
  .github/workflows/safe_app_ci.yml
Labels: ci/cd

#711 Add CI for GitHub Actions
  .github/workflows/actions_ci.yml
Labels: ci/cd

#714 Skip image compressing for macOS
  lib/filesharing/files_usecases/lib/src/file_compression/implementation/mobile_native_image_compressor.dart
Labels: platform: macos, feature: file-sharing, feature: universal file features

#716 Update `Runner.xcscheme` after building macOS
  app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: platform: macos

#718 Run `flutter pub get` in `abgabe_client_lib` to resolve CVE-2020-35669
  lib/abgabe/abgabe_client_lib/pubspec.lock
Labels: feature: homework-submissions, dependencies

#720 Remove `School` from codebase.
  app/lib/groups/src/pages/course/group_page.dart
  app/lib/onboarding/group_onboarding/pages/share_sharecode.dart
  app/lib/util/api.dart
  app/lib/util/api/connections_gateway.dart
  app/lib/util/api/school_gateway.dart
  lib/group_domain_models/lib/group_domain_models.dart
  lib/group_domain_models/lib/src/models/connections_data.dart
  lib/group_domain_models/lib/src/models/group_type.dart
  lib/group_domain_models/lib/src/models/school.dart
Labels: feature: groups:courses, feature: groups, feature: onboarding

#511 Fail our CI when there are Git changes
  .github/workflows/cli_ci.yml
  .github/workflows/safe_app_ci.yml
Labels: ci/cd

#721 Upgrade `codemagic_app_preview` in `codemagic.yaml`
  codemagic.yaml
Labels: ci/cd

#722 Remove "opened" pull request trigger for "label_app_preview"
  .github/workflows/label_app_preview.yaml
Labels: ci/cd

#723 Using the Flutter version from the `fvm_config.json` for `codemagic.yaml`
  codemagic.yaml
Labels: ci/cd

#724 Use custom Sign In With Apple button
  app/assets/logo/apple-logo.svg
  app/lib/auth/login_page.dart
  app/lib/widgets/apple_sign_in_button.dart
Labels: ui / ux, feature: authentification

#445 Migrate `authentication_base` package to null safety
  app/pubspec.lock
  lib/authentification/authentification_base/lib/src/analytics/events/authentifaction_event.dart
  lib/authentification/authentification_base/lib/src/apple/apple_sign_in_logic.dart
  lib/authentification/authentification_base/lib/src/blocs/auth_state_changed.dart
  lib/authentification/authentification_base/lib/src/blocs/authentification_validators.dart
  lib/authentification/authentification_base/lib/src/blocs/login_bloc.dart
  lib/authentification/authentification_base/lib/src/gateways/link_provider_gateway.dart
  lib/authentification/authentification_base/lib/src/gateways/registration_gateway.dart
  lib/authentification/authentification_base/lib/src/google/google_sign_in_logic.dart
  lib/authentification/authentification_base/lib/src/models/auth_user.dart
  lib/authentification/authentification_base/lib/src/models/demo_user.dart
  lib/authentification/authentification_base/pubspec.lock
  lib/authentification/authentification_base/pubspec.yaml
  lib/authentification/authentification_qrcode/pubspec.lock
Labels: feature: authentification, dependencies, feature: analytics

#728 Migrate `sharezone_widgets` to null safety.
  lib/sharezone_common/lib/src/helper_functions.dart
  lib/sharezone_widgets/lib/src/adaptive_dialog/adaptive_dialog_action.dart
  lib/sharezone_widgets/lib/src/adaptive_dialog/column_actions_dialog/column_actions_dialog.dart
  lib/sharezone_widgets/lib/src/adaptive_dialog/left_and_right_action_dialog/left_and_right_action_adaptive_dialog.dart
  lib/sharezone_widgets/lib/src/adaptive_dialog/long_press_dialog/long_press.dart
  lib/sharezone_widgets/lib/src/adaptive_dialog/long_press_dialog/long_press_adaptive_dialog.dart
  lib/sharezone_widgets/lib/src/additional/circular_button.dart
  lib/sharezone_widgets/lib/src/additional/gray_shimmer.dart
  lib/sharezone_widgets/lib/src/alternating_colored_list.dart
  lib/sharezone_widgets/lib/src/animated_visibility.dart
  lib/sharezone_widgets/lib/src/announcement_card.dart
  lib/sharezone_widgets/lib/src/cards/overlay_card.dart
  lib/sharezone_widgets/lib/src/common/models/action_item.dart
  lib/sharezone_widgets/lib/src/common/models/simple_data.dart
  lib/sharezone_widgets/lib/src/common/widgets/action_item_button.dart
  lib/sharezone_widgets/lib/src/dialog_wrapper.dart
  lib/sharezone_widgets/lib/src/expanded_chip.dart
  lib/sharezone_widgets/lib/src/form.dart
  lib/sharezone_widgets/lib/src/placeholder.dart
  lib/sharezone_widgets/lib/src/prefilled_text_field.dart
  lib/sharezone_widgets/lib/src/rounded_simple_dialog.dart
  lib/sharezone_widgets/lib/src/show_rounded_modal_bottom_sheet.dart
  lib/sharezone_widgets/lib/src/snackbars.dart
  lib/sharezone_widgets/lib/src/state_sheet/dialog.dart
  lib/sharezone_widgets/lib/src/state_sheet/sheet.dart
  lib/sharezone_widgets/lib/src/state_sheet/state_dialog_content.dart
  lib/sharezone_widgets/lib/src/state_sheet/state_sheet_content.dart
  lib/sharezone_widgets/lib/src/state_sheet/widgets/state_dialog_loading_body.dart
  lib/sharezone_widgets/lib/src/state_sheet/widgets/state_dialog_simple_body.dart
  lib/sharezone_widgets/lib/src/state_sheet/widgets/state_sheet_loading_body.dart
  lib/sharezone_widgets/lib/src/state_sheet/widgets/state_sheet_simple_body.dart
  lib/sharezone_widgets/lib/src/svg.dart
  lib/sharezone_widgets/lib/src/theme/brightness/dark_theme.dart
  lib/sharezone_widgets/lib/src/theme/brightness/light_theme.dart
  lib/sharezone_widgets/lib/src/theme/fade_route.dart
  lib/sharezone_widgets/lib/src/theme/ignore_will_pop_scope_when_ios_swipe_back_route.dart
  lib/sharezone_widgets/lib/src/theme/platform.dart
  lib/sharezone_widgets/lib/src/theme/scale_up_route.dart
  lib/sharezone_widgets/lib/src/theme/theme.dart
  lib/sharezone_widgets/lib/src/widgets.dart
  lib/sharezone_widgets/lib/src/widgets/modal_floating_action_button.dart
  lib/sharezone_widgets/lib/src/wrappable_list.dart
  lib/sharezone_widgets/lib/src/wrapper.dart
  lib/sharezone_widgets/pubspec.yaml
  lib/sharezone_widgets/test/alternating_colored_list/alternating_colored_list_test.dart
  lib/sharezone_widgets/test/announcement_card_test.dart
  lib/sharezone_widgets/test/prefilled_text_field_test.dart
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, dependencies

#727 Migrate `last_online_reporting` to null safety.
  lib/last_online_reporting/lib/last_online_reporting.dart
  lib/last_online_reporting/pubspec.yaml
  lib/last_online_reporting/test/last_online_reporting_test.dart
Labels: testing, dependencies

#731 Migrate `dynamic_links` package to null safety.
  lib/dynamic_links/lib/src/dynamic_links.dart
  lib/dynamic_links/lib/src/implementation/firebase_dynamic_links.dart
  lib/dynamic_links/lib/src/implementation/local_dynamic_links.dart
  lib/dynamic_links/lib/src/implementation/stub_dynamic_links.dart
  lib/dynamic_links/lib/src/models/dynamic_link_data.dart
  lib/dynamic_links/pubspec.yaml
Labels: dependencies

#732 Migrate authentification_qrcode to null safety.
  lib/authentification/authentification_qrcode/lib/src/blocs/qr_sign_in_authentification_device_bloc.dart
  lib/authentification/authentification_qrcode/lib/src/blocs/qr_sign_in_web_bloc.dart
  lib/authentification/authentification_qrcode/lib/src/logic/qr_code_user_authenticator.dart
  lib/authentification/authentification_qrcode/lib/src/models/qr_sign_in_document.dart
  lib/authentification/authentification_qrcode/lib/src/models/qr_sign_in_state.dart
  lib/authentification/authentification_qrcode/pubspec.yaml
  lib/sharezone_widgets/lib/src/announcement_card.dart
Labels: platform: web, ui / ux, feature: authentification, dependencies

#495 Migrate `group_domain_models` package null safety
  app/lib/calendrical_events/models/calendrical_event.dart
  app/lib/groups/group_join/models/group_info_with_selection_state.dart
  app/lib/timetable/src/models/lesson.dart
  app/lib/util/api/connections_gateway.dart
  app/lib/util/api/course_gateway.dart
  app/lib/util/api/school_class_gateway.dart
  lib/group_domain_models/lib/src/accessors/group_member_accessor.dart
  lib/group_domain_models/lib/src/models/connections_data.dart
  lib/group_domain_models/lib/src/models/course.dart
  lib/group_domain_models/lib/src/models/group_info.dart
  lib/group_domain_models/lib/src/models/group_key.dart
  lib/group_domain_models/lib/src/models/group_type.dart
  lib/group_domain_models/lib/src/models/member.dart
  lib/group_domain_models/lib/src/models/member_role.dart
  lib/group_domain_models/lib/src/models/school_class.dart
  lib/group_domain_models/lib/src/models/sharecode.dart
  lib/group_domain_models/lib/src/models/write_permissions.dart
  lib/group_domain_models/pubspec.yaml
  lib/group_domain_models/test/models/sharecode_test.dart
Labels: feature: timetable / calendar, feature: groups:courses, feature: groups:classes, feature: groups, testing, feature: group permissions, dependencies

#738 Upgrade bloc library in `hausaufgabenheft_logik` package.
  app/lib/homework/student/src/homework_bottom_action_bar.dart
  app/lib/homework/student/student_homework_page.dart
  app/lib/homework/teacher/src/teacher_homework_bottom_action_bar.dart
  app/lib/homework/teacher/teacher_homework_page.dart
  app/pubspec.lock
  app/test/homework/teacher/teacher_homework_page_widget_test.dart
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/firebase_hausaufgabenheft_logik/pubspec.lock
  lib/hausaufgabenheft_logik/lib/src/completed_homeworks/completed_homeworks_view_bloc/completed_homeworks_view_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/completed_homeworks/completed_homeworks_view_bloc/completed_homeworks_view_bloc_impl.dart
  lib/hausaufgabenheft_logik/lib/src/completed_homeworks/lazy_loading_completed_homeworks_bloc/lazy_loading_completed_homeworks_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/completed_homeworks/lazy_loading_completed_homeworks_bloc/lazy_loading_completed_homeworks_bloc_impl.dart
  lib/hausaufgabenheft_logik/lib/src/lehrer/teacher_homework_page_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/open_homework_list_bloc/open_homework_list_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/open_homework_view_bloc/open_homework_view_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/setup/create_homework_page_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/student_homework_page_bloc/student_homework_page_bloc.dart
  lib/hausaufgabenheft_logik/pubspec.lock
  lib/hausaufgabenheft_logik/pubspec.yaml
  lib/hausaufgabenheft_logik/test/homework_page_bloc_test.dart
  lib/hausaufgabenheft_logik/test/open_homework_view_bloc_test.dart
Labels: feature: homework, feature: homework-submissions, testing, user: teacher, user: pupil / student, dependencies

#742 Clean up `pubspec.yaml` files in `lib`
  lib/analytics/pubspec.yaml
  lib/authentification/authentification_base/pubspec.yaml
  lib/authentification/authentification_qrcode/pubspec.yaml
  lib/bloc_base/pubspec.yaml
  lib/common_domain_models/pubspec.yaml
  lib/dynamic_links/pubspec.yaml
  lib/filesharing/files_usecases/pubspec.yaml
  lib/filesharing/files_web/pubspec.yaml
  lib/filesharing/filesharing_logic/pubspec.yaml
  lib/hausaufgabenheft_logik/pubspec.yaml
  lib/last_online_reporting/pubspec.yaml
  lib/notifications/pubspec.yaml
  lib/sharezone_widgets/pubspec.yaml
  lib/user/pubspec.yaml
Labels: feature: homework, platform: web, feature: file-sharing, feature: notifications, ui / ux, feature: universal file features, dependencies, feature: analytics

#735 Add `sharezone_lints` to Sharezone Repo CLI
  tools/sz_repo_cli/analysis_options.yaml
  tools/sz_repo_cli/lib/src/commands/src/add_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/analyze_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_web_command.dart
  tools/sz_repo_cli/lib/src/commands/src/check_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_web_app_command.dart
  tools/sz_repo_cli/lib/src/commands/src/do_stuff_command.dart
  tools/sz_repo_cli/lib/src/commands/src/fix_comment_spacing_command.dart
  tools/sz_repo_cli/lib/src/commands/src/format_command.dart
  tools/sz_repo_cli/lib/src/commands/src/locate_sharezone_flutter_directory_command.dart
  tools/sz_repo_cli/lib/src/commands/src/pub_get_command.dart
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
  tools/sz_repo_cli/lib/src/common/common.dart
  tools/sz_repo_cli/lib/src/common/src/concurrent_command.dart
  tools/sz_repo_cli/lib/src/common/src/concurrent_package_task_runner.dart
  tools/sz_repo_cli/lib/src/common/src/run_process.dart
  tools/sz_repo_cli/lib/src/common/src/shared_args.dart
  tools/sz_repo_cli/lib/src/common/src/sharezone_repo.dart
  tools/sz_repo_cli/lib/src/main.dart
  tools/sz_repo_cli/pubspec.lock
  tools/sz_repo_cli/pubspec.yaml
  tools/sz_repo_cli/test/bad_comment_spacing_test.dart
Labels: code quality, platform: macos, platform: web, platform: android, testing, sharezone cli, feature: comments, dependencies

#741 Deploy web app on new stable release
  .github/workflows/stable.yml
Labels: ci/cd

#737 Use Firebase Test Lab for our Android integration tests
  .github/workflows/integration_tests_app_ci.yml
  app/android/app/build.gradle
  app/android/gradle.properties
  app/integration_test/README.md
Labels: documentation, ci/cd, platform: android, testing

#740 Migrate `group_domain_implementation` to null safety
  lib/group_domain_implementation/lib/src/accessors/firestore_course_member_accessor.dart
  lib/group_domain_implementation/lib/src/accessors/firestore_school_class_member_accessor.dart
  lib/group_domain_implementation/pubspec.yaml
Labels: feature: groups:courses, feature: groups, dependencies

#744 Migrate `hausaufgabenheft_logik` and `firebase_hausaufgabenheft_logik` to null safety.
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/firestore_abgaben_gateway.dart
  lib/firebase_hausaufgabenheft_logik/lib/src/firestore_homework_data_source.dart
  lib/firebase_hausaufgabenheft_logik/lib/src/homework_dto.dart
  lib/firebase_hausaufgabenheft_logik/lib/src/homework_transformation.dart
  lib/firebase_hausaufgabenheft_logik/lib/src/realtime_updating_lazy_loading_controller.dart
  lib/firebase_hausaufgabenheft_logik/pubspec.lock
  lib/firebase_hausaufgabenheft_logik/pubspec.yaml
  lib/firebase_hausaufgabenheft_logik/test/lazy_loading_controller_test.dart
  lib/hausaufgabenheft_logik/lib/src/completed_homeworks/completed_homeworks_view_bloc/completed_homeworks_view_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/completed_homeworks/lazy_loading_completed_homeworks_bloc/lazy_loading_completed_homeworks_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/completed_homeworks/lazy_loading_completed_homeworks_bloc/states.dart
  lib/hausaufgabenheft_logik/lib/src/completed_homeworks/views/completed_homwork_list_view.dart
  lib/hausaufgabenheft_logik/lib/src/data_source/homework_data_source.dart
  lib/hausaufgabenheft_logik/lib/src/homework_completion/homework_page_completion_dispatcher.dart
  lib/hausaufgabenheft_logik/lib/src/lehrer/teacher_archived_homework_list_view.dart
  lib/hausaufgabenheft_logik/lib/src/lehrer/teacher_homework_page_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/lehrer/teacher_homework_read_model.dart
  lib/hausaufgabenheft_logik/lib/src/lehrer/teacher_homework_view.dart
  lib/hausaufgabenheft_logik/lib/src/lehrer/teacher_homework_view_factory.dart
  lib/hausaufgabenheft_logik/lib/src/lehrer/teacher_open_homework_list_view.dart
  lib/hausaufgabenheft_logik/lib/src/models/date.dart
  lib/hausaufgabenheft_logik/lib/src/models/homework/homework.dart
  lib/hausaufgabenheft_logik/lib/src/models/homework_list.dart
  lib/hausaufgabenheft_logik/lib/src/models/subject.dart
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/open_homework_view_bloc/open_homework_view_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/open_homework_view_bloc/states.dart
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/sort_and_subcategorization/sort/smallest_date_subject_and_title_sort.dart
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/sort_and_subcategorization/sort/src/homework_sort_enum_sort_object_conversion_extensions.dart
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/sort_and_subcategorization/subject_subcategorizer.dart
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/sort_and_subcategorization/todo_date_subcategorizer.dart
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/views/open_homework_list_view.dart
  lib/hausaufgabenheft_logik/lib/src/open_homeworks/views/open_homework_list_view_factory.dart
  lib/hausaufgabenheft_logik/lib/src/setup/config.dart
  lib/hausaufgabenheft_logik/lib/src/setup/dependencies.dart
  lib/hausaufgabenheft_logik/lib/src/student_homework_page_bloc/homework_sorting_cache.dart
  lib/hausaufgabenheft_logik/lib/src/student_homework_page_bloc/student_homework_page_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/views/homework_view.dart
  lib/hausaufgabenheft_logik/lib/src/views/student_homework_view_factory.dart
  lib/hausaufgabenheft_logik/pubspec.lock
  lib/hausaufgabenheft_logik/pubspec.yaml
  lib/hausaufgabenheft_logik/test/create_homework_util.dart
  lib/hausaufgabenheft_logik/test/create_student_homework_view_test.dart
  lib/hausaufgabenheft_logik/test/homework_list_test.dart
  lib/hausaufgabenheft_logik/test/homework_page_bloc_test.dart
  lib/hausaufgabenheft_logik/test/homework_test.dart
  lib/hausaufgabenheft_logik/test/in_memory_repo/firebase_realtime_updating_lazy_loading_controller.dart
  lib/hausaufgabenheft_logik/test/open_homework_view_bloc_test.dart
  lib/hausaufgabenheft_logik/test/subject_test.dart
Labels: feature: homework, feature: homework-submissions, testing, user: teacher, user: pupil / student, dependencies

#746 Format GitHub Actions files with `sz format` command
  .github/workflows/actions_ci.yml
  bin/format_action_files.sh
  bin/source_of_truth/commands_source_of_truth.yaml
  tools/sz_repo_cli/lib/src/commands/src/add_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/check_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/format_command.dart
  tools/sz_repo_cli/lib/src/common/src/run_source_of_truth_command.dart
Labels: ci/cd, sharezone cli

#754 Bump the min. Dart Version of our Sharezone CLI to 2.19.6
  tools/sz_repo_cli/pubspec.lock
  tools/sz_repo_cli/pubspec.yaml
Labels: sharezone cli, dependencies

#756 Remove unused feature flag feature
  app/lib/account/features/feature_gateway.dart
  app/lib/account/features/features_bloc.dart
  app/lib/account/features/objects/all_colors.dart
  app/lib/account/features/objects/feature.dart
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/groups/src/pages/course/course_edit/design/course_edit_design.dart
  app/lib/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog.dart
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_design_dialog.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog_test.dart
Labels: technical debt, feature: groups:courses, feature: groups, testing

#758 Upgrade Gradle version to 7.4.2
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.jar
  app/android/gradle/wrapper/gradle-wrapper.properties
  app/android/gradlew
  app/android/gradlew.bat
Labels: platform: android, build-app-preview

#763 Fix camera access on iOS to upload files with the camera
  app/ios/Podfile
  app/ios/Podfile.lock
Labels: platform: ios

#761 Add git diff checks for integration tests
  .github/workflows/cli_ci.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/safe_app_ci.yml
Labels: ci/cd

#765 Upgrade Firebase packages
  app/ios/Podfile
  app/ios/Podfile.lock
  app/macos/Podfile
  app/macos/Podfile.lock
  app/pubspec.lock
  app/pubspec.yaml
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.yaml
  lib/analytics/pubspec.lock
  lib/analytics/pubspec.yaml
  lib/app_functions/pubspec.lock
  lib/app_functions/pubspec.yaml
  lib/authentification/authentification_base/pubspec.lock
  lib/authentification/authentification_base/pubspec.yaml
  lib/authentification/authentification_qrcode/pubspec.lock
  lib/authentification/authentification_qrcode/pubspec.yaml
  lib/crash_analytics/pubspec.lock
  lib/crash_analytics/pubspec.yaml
  lib/date/pubspec.lock
  lib/design/pubspec.lock
  lib/dynamic_links/pubspec.lock
  lib/dynamic_links/pubspec.yaml
  lib/filesharing/files_usecases/pubspec.lock
  lib/filesharing/filesharing_logic/pubspec.lock
  lib/filesharing/filesharing_logic/pubspec.yaml
  lib/firebase_hausaufgabenheft_logik/pubspec.lock
  lib/firebase_hausaufgabenheft_logik/pubspec.yaml
  lib/group_domain_implementation/pubspec.lock
  lib/group_domain_implementation/pubspec.yaml
  lib/group_domain_models/pubspec.lock
  lib/holidays/pubspec.lock
  lib/holidays/pubspec.yaml
  lib/last_online_reporting/pubspec.lock
  lib/last_online_reporting/pubspec.yaml
  lib/notifications/pubspec.lock
  lib/notifications/pubspec.yaml
  lib/remote_configuration/pubspec.lock
  lib/remote_configuration/pubspec.yaml
  lib/sharezone_common/pubspec.lock
  lib/sharezone_common/pubspec.yaml
  lib/sharezone_widgets/pubspec.lock
  lib/user/pubspec.lock
Labels: feature: homework-submissions, platform: macos, platform: ios, feature: file-sharing, feature: notifications, ui / ux, feature: universal file features, feature: holidays, feature: groups, dependencies, build-app-preview, feature: analytics

#768 Update `Podfile.lock` and `project.pbxproj` after running iOS build
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
Labels: platform: ios

#775 Fix position and color of loading indicator in onboarding continue button
  app/lib/onboarding/sign_up/pages/privacy_policy.dart
Labels: legal, feature: onboarding

#773 Fix using `ScaffoldMessengerKey` to show Snack Bars without a context
  app/lib/account/account_page.dart
  app/lib/navigation/scaffold/desktop/desktop_main_scaffold.dart
  app/lib/navigation/scaffold/portable/portable_main_scaffold.dart
Labels: feature: navigation

#769 Add support for Google Sign In on iOS for dev environment
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Info.plist
Labels: platform: ios

#777 Do not store an event when start and end time is equal or end is before start time
  app/lib/timetable/timetable_add_event/bloc/timetable_add_event_bloc.dart
  app/lib/timetable/timetable_add_event/tabs/time_tab.dart
  lib/sharezone_common/lib/src/api_errors/api_errors.dart
  lib/sharezone_common/lib/src/api_errors/handle_error_message.dart
Labels: feature: timetable / calendar

#780 Hide time picker five minutes interval on non iOS platforms
  app/lib/pages/settings/timetable_settings/timetable_settings_page.dart
Labels: feature: timetable / calendar

#788 Fix broken null safety migration of `sharezone_widgets`
  lib/sharezone_widgets/lib/src/adaptive_dialog/column_actions_dialog/column_actions_dialog.dart
  lib/sharezone_widgets/lib/src/adaptive_dialog/left_and_right_action_dialog/left_and_right_action_adaptive_dialog.dart
  lib/sharezone_widgets/lib/src/adaptive_dialog/long_press_dialog/long_press_adaptive_dialog.dart
  lib/sharezone_widgets/lib/src/placeholder.dart
  lib/sharezone_widgets/lib/src/widgets.dart
Labels: ui / ux

#784 Reduce the padding in holiday counter card a bit
  app/lib/dashboard/sections/holiday_countdown_section.dart
  app/test_goldens/dashboard/goldens/holiday_card.phone.png
Labels: feature: holidays, testing

#783 Fix changelog showing always "please update the update"
  app/lib/dashboard/update_reminder/update_reminder_bloc.dart
  app/lib/pages/settings/changelog/change.dart
  app/lib/pages/settings/changelog/change_database_model.dart
  app/lib/pages/settings/changelog/changelog_bloc.dart
  app/test/dashboard/update_reminder_bloc_test.dart
  app/test/settings/changelog/changelog_test.dart
Labels: testing

#789 Use Codemagic for running golden tests
  .github/workflows/safe_app_ci.yml
  codemagic.yaml
Labels: ci/cd

#786 Fix display of `showDisplaySettingsDialog` on privacy policy page
  app/lib/privacy_policy/src/ui/privacy_policy_display_settings.dart
  app/test_goldens/privacy_policy/goldens/show_display_settings_dialog.png
  app/test_goldens/privacy_policy/privacy_policy_display_settings_test.dart
Labels: legal, testing, w: onboarding/privacy-policy-page

#779 Fix to allow entering time values for each minute when adding an event or lesson
  app/lib/timetable/src/edit_time.dart
Labels: feature: timetable / calendar

#782 Improve `UpdatePromptCard`
  app/lib/pages/settings/changelog_page.dart
  app/test_goldens/pages/settings/changelog_page_test.dart
  app/test_goldens/pages/settings/goldens/update_prompt_card_android.png
  app/test_goldens/pages/settings/goldens/update_prompt_card_ios.png
  app/test_goldens/pages/settings/goldens/update_prompt_card_macos.png
  app/test_goldens/pages/settings/goldens/update_prompt_card_web.png
Labels: platform: macos, platform: web, platform: android, testing

#794 Move golden tests of `qr_code_scanner` into the `test_goldens` folder
  lib/qr_code_scanner/test/scan_qr_code_page_test.dart
  lib/qr_code_scanner/test_goldens/flutter_test_config.dart
  lib/qr_code_scanner/test_goldens/goldens/scanner_page.png
  lib/qr_code_scanner/test_goldens/overlay/goldens/scan_overlay.iphone11.png
  lib/qr_code_scanner/test_goldens/overlay/goldens/scan_overlay.phone.png
  lib/qr_code_scanner/test_goldens/overlay/goldens/scan_overlay.phone_landscape.png
  lib/qr_code_scanner/test_goldens/overlay/goldens/scan_overlay.tablet_landscape.png
  lib/qr_code_scanner/test_goldens/overlay/goldens/scan_overlay.tablet_portrait.png
  lib/qr_code_scanner/test_goldens/overlay/scan_overlay_test.dart
  lib/qr_code_scanner/test_goldens/scan_qr_code_page_test.dart
Labels: testing

#799 Show snack bar when changing course color was not successful
  app/lib/groups/src/pages/course/course_edit/design/course_edit_design.dart
  app/lib/groups/src/pages/course/course_edit/design/src/bloc/course_edit_design_bloc.dart
  app/lib/util/api/course_gateway.dart
Labels: feature: groups:courses, feature: groups

#800 Fix requesting focus for keyboard
  lib/sharezone_widgets/lib/src/theme/theme.dart
Labels: ui / ux

#801 Fix null safety error on reset password page
  app/lib/auth/reset_pw_page.dart
Labels: feature: authentification

#803 Fix wrong link to privacy policy on change email page
  app/lib/widgets/settings/my_profile/change_data.dart
Labels: ui / ux

#804 Add semantics label for our Sharezone logo
  lib/sharezone_widgets/lib/src/widgets.dart
Labels: ui / ux

#805 Add max width for reset password page
  app/lib/auth/reset_pw_page.dart
Labels: feature: authentification

#806 Fix switching with enter from email to password text field
  app/lib/auth/login_page.dart
Labels: feature: authentification

#808 Skip request notification permissions on macOS
  app/lib/onboarding/group_onboarding/pages/choose_name.dart
Labels: feature: onboarding

#630 Introduce alpha program for our macOS app
  .github/workflows/alpha.yml
  app/macos/Podfile.lock
  app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/macos/Runner/Info.plist
  app/pubspec.lock
  docs/more/alpha-program.mdx
  lib/authentification/authentification_qrcode/pubspec.lock
  lib/authentification/authentification_qrcode/pubspec.yaml
Labels: documentation, ci/cd, platform: macos, dependencies

#815 Do not show error message when user cancels Apple Sign In on iOS
  lib/authentification/authentification_base/lib/src/apple/apple_sign_in_logic.dart
Labels: feature: authentification

#816 Add x86 as abi filter for Android
  app/android/app/build.gradle
Labels: platform: android

#818 Update `Podfile.lock` in `app/macos`
  app/macos/Podfile.lock
Labels: platform: macos

#822 Fix displaying "Anonym angemeldet" after linking account with a sign in method
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/navigation/drawer/account_section.dart
  app/lib/navigation/drawer/drawer.dart
Labels: feature: navigation

#823 Hide loading snack bar after linking account with email & password
  app/lib/auth/email_and_password_link_page.dart
Labels: feature: authentification

#828 Fix links on support and about page for Android
  app/lib/pages/settings/src/subpages/about/widgets/social_media_button.dart
  app/lib/pages/settings/support_page.dart
Labels: ui / ux

#832 Change sorting state text for homework page
  app/lib/homework/student/src/homework_bottom_action_bar.dart
Labels: feature: homework, user: pupil / student

#834 Fix adding events to OS calendar for Android
  app/android/app/src/main/AndroidManifest.xml
  app/lib/timetable/timetable_page/timetable_event_details.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: platform: android, feature: timetable / calendar, dependencies

#829 Use `TextCapitalization`
  app/lib/auth/email_and_password_link_page.dart
  app/lib/blackboard/blackboard_dialog.dart
  app/lib/comments/widgets/user_comment_field.dart
  app/lib/feedback/feedback_box_page.dart
  app/lib/groups/src/pages/course/create/course_create_page.dart
  app/lib/groups/src/pages/school_class/create_course/school_class_create_course.dart
  app/lib/groups/src/pages/school_class/edit/school_class_edit_page.dart
  app/lib/groups/src/pages/school_class/school_class_create.dart
  app/lib/onboarding/group_onboarding/pages/create_schoolclass.dart
  app/lib/pages/homework/homework_dialog.dart
  app/lib/report/page/report_page.dart
  app/lib/timetable/timetable_add_event/tabs/optional_tab.dart
  app/lib/timetable/timetable_add_event/tabs/title_tab.dart
  app/lib/timetable/timetable_edit/event/timetable_event_edit_page.dart
  app/lib/timetable/timetable_edit/lesson/timetable_lesson_edit_page.dart
  lib/sharezone_widgets/lib/src/prefilled_text_field.dart
Labels: feature: homework, feature: timetable / calendar, feature: information sheet, ui / ux, feature: groups:courses, feature: groups:classes, feature: groups, feature: onboarding, feature: authentification, feature: report, feature: comments, feature: feedback

#836 Update initializing Firebase Crashlytics
  app/lib/main/flutter_error_handler.dart
  app/lib/main/run_app.dart
  lib/crash_analytics/lib/src/crash_analytics.dart
  lib/crash_analytics/lib/src/implementation/firebase_crashlytics_crash_analytics.dart
  lib/crash_analytics/lib/src/implementation/stub_crash_analytics.dart
  lib/crash_analytics/lib/src/mock_crash_analytics.dart
Labels: feature: analytics

#837 Use iOS picker for homework reminder on Android
  app/lib/pages/settings/notification.dart
Labels: feature: notifications

#839 Update `app/macos/Runner.xcscheme`
  app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: platform: macos

#840 Remove "sharezone.net" as Android Intent
  app/android/app/src/main/AndroidManifest.xml
Labels: platform: android

#841 Update `app/macos/Podfile.lock`
  app/macos/Podfile.lock
Labels: platform: macos

#847 Upgrade app version to 1.7.4
  app/pubspec.yaml
Labels: dependencies

#845 Add `--update-goldens` flag to `sz test`
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
Labels: sharezone cli

#843 Update `sharezone` package description
  app/pubspec.yaml
Labels: dependencies

#846 Remove `--name-status` for Git diff check because otherwise you can't see what changed in the file
  .github/workflows/cli_ci.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/safe_app_ci.yml
Labels: ci/cd

#848 Add GitHub as channel to follow us
  app/assets/icons/github.svg
  app/lib/pages/settings/src/subpages/about/about_page.dart
  app/lib/pages/settings/src/subpages/about/widgets/social_media_button.dart
Labels: ui / ux

#849 Update my about us image and remove team titles
  app/assets/team/nils.png
  app/lib/pages/settings/src/subpages/about/widgets/member_card.dart
  app/lib/pages/settings/src/subpages/about/widgets/team.dart
Labels: ui / ux

#859 Remove Jonas' LinkedIn account from about us.
  app/lib/pages/settings/src/subpages/about/widgets/team.dart
Labels: ui / ux
