Repository SharezoneApp/sharezone-app, pull requests merged in 2023-12, with the labels that each got.

#1169 Connect Stripe with the frontend
  app/lib/main/plugin_initializations.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
  app/pubspec.lock
  app/pubspec.yaml
  lib/sharezone_plus/stripe_checkout_session/analysis_options.yaml
  lib/sharezone_plus/stripe_checkout_session/lib/src/stripe_checkout_session.dart
  lib/sharezone_plus/stripe_checkout_session/lib/stripe_checkout_session.dart
  lib/sharezone_plus/stripe_checkout_session/pubspec.lock
  lib/sharezone_plus/stripe_checkout_session/pubspec.yaml
  lib/sharezone_plus/stripe_checkout_session/test/stripe_checkout_session_test.dart
  lib/sharezone_plus/stripe_checkout_session/test/stripe_checkout_session_test.mocks.dart
  licenses_config.yaml
Labels: code quality, testing, dependencies, feature: sharezone plus

#1170 Use `canvaskit` as web renderer for pull request previews
  .github/workflows/unsafe_app_ci.yml
Labels: ci/cd

#1171 Pass `successUrl` and `cancelUrl` to `createStripeCheckoutSession` cloud function
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
  lib/sharezone_plus/stripe_checkout_session/lib/src/stripe_checkout_session.dart
  lib/sharezone_plus/stripe_checkout_session/test/stripe_checkout_session_test.dart
Labels: testing, feature: sharezone plus

#1173 Fix `/tickets` and `/feature-ranking` redirects
  website/firebase.json
Labels: ci/cd, website

#1175 Add CI/CD for our website
  .github/workflows/safe_website_ci.yml
  .github/workflows/unsafe_website_ci.yml
  .github/workflows/website_cd.yml
  website/.firebaserc
  website/.gitignore
  website/firebase.json
Labels: ci/cd, website

#1182 Fix website PR preview
  .github/workflows/unsafe_website_ci.yml
Labels: ci/cd

#1181 Fix SvgPicture.asset.color lints.
  website/lib/footer.dart
  website/lib/support_page.dart
Labels: website

#1162 Add due date selection chips in homework dialog.
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/lib/homework/homework_dialog/homework_dialog_bloc.dart
  app/lib/main/constants.dart
  app/lib/main/sharezone.dart
  app/lib/util/next_lesson_calculator/next_lesson_calculator.dart
  app/test/homework/homework_dialog_bloc_test.dart
  app/test/homework/homework_dialog_test.dart
  app/test_goldens/homework/homework_dialog/homework_dialog_test.dart
  lib/sharezone_widgets/lib/src/widgets.dart
Labels: feature: homework, feature: timetable / calendar, ui / ux, testing

#1033 Add +200 colors for Sharezone Plus users
  app/lib/groups/src/pages/course/course_edit/design/course_edit_design.dart
  app/lib/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_accurate_color_dialog_dark.iphone11.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_accurate_color_dialog_dark.phone.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_accurate_color_dialog_dark.phone_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_accurate_color_dialog_dark.tablet_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_accurate_color_dialog_dark.tablet_portrait.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_accurate_color_dialog_light.iphone11.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_accurate_color_dialog_light.phone.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_accurate_color_dialog_light.phone_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_accurate_color_dialog_light.tablet_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_accurate_color_dialog_light.tablet_portrait.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_base_color_dialog_dark.iphone11.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_base_color_dialog_dark.phone.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_base_color_dialog_dark.phone_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_base_color_dialog_dark.tablet_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_base_color_dialog_dark.tablet_portrait.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_base_color_dialog_light.iphone11.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_base_color_dialog_light.phone.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_base_color_dialog_light.phone_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_base_color_dialog_light.tablet_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_base_color_dialog_light.tablet_portrait.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_design_dialog.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_free_design_dialog_dark.iphone11.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_free_design_dialog_dark.phone.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_free_design_dialog_dark.phone_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_free_design_dialog_dark.tablet_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_free_design_dialog_dark.tablet_portrait.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_free_design_dialog_light.iphone11.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_free_design_dialog_light.phone.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_free_design_dialog_light.phone_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_free_design_dialog_light.tablet_landscape.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/goldens/select_free_design_dialog_light.tablet_portrait.png
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog_test.dart
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog_test.mocks.dart
  lib/design/lib/src/design.dart
Labels: feature: groups:courses, feature: groups, testing, feature: sharezone plus

#1184 Add `go_router` to our website and use path URL strategy instead of hash URL strategy
  website/firebase.json
  website/lib/footer.dart
  website/lib/home/home_page.dart
  website/lib/home/src/support.dart
  website/lib/legal/imprint_page.dart
  website/lib/legal/privacy_policy.dart
  website/lib/main.dart
  website/lib/page.dart
  website/lib/support_page.dart
  website/pubspec.lock
  website/pubspec.yaml
Labels: ci/cd, legal, dependencies, website

#1186 Replace Twitter with X icon
  website/assets/icons/twitter.svg
  website/assets/icons/x.svg
  website/lib/footer.dart
Labels: ui / ux, website

#1185 Use the Sharezone blue for the social media icons
  website/assets/icons/discord.svg
  website/assets/icons/github.svg
  website/assets/icons/instagram.svg
Labels: ui / ux, website

#1187 Add tooltip to social media button on website footer
  website/lib/footer.dart
Labels: website

#1188 Add `sharezone_lints` to our website
  website/analysis_options.yaml
  website/pubspec.lock
  website/pubspec.yaml
Labels: code quality, dependencies, website

#1189 Move AppFunctionsDialog/Sheet from `sharezone_widgets` to `app_functions` package
  app/lib/groups/src/pages/course/course_card.dart
  app/lib/groups/src/pages/course/course_details.dart
  app/lib/groups/src/pages/course/course_details/course_member_options.dart
  app/lib/groups/src/pages/course/course_details/course_settings.dart
  app/lib/groups/src/pages/school_class/card/school_class_card.dart
  app/lib/groups/src/pages/school_class/school_class_details.dart
  app/lib/groups/src/pages/school_class/school_class_details/school_class_member_option.dart
  app/lib/groups/src/pages/school_class/school_class_page.dart
  lib/analytics/pubspec.lock
  lib/app_functions/lib/app_functions_ui.dart
  lib/app_functions/lib/src/app_functions_state_dialog.dart
  lib/app_functions/lib/src/app_functions_state_sheet.dart
  lib/app_functions/pubspec.lock
  lib/app_functions/pubspec.yaml
  lib/authentification/authentification_base/pubspec.lock
  lib/authentification/authentification_qrcode/pubspec.lock
  lib/date/pubspec.lock
  lib/design/pubspec.lock
  lib/firebase_hausaufgabenheft_logik/pubspec.lock
  lib/group_domain_implementation/pubspec.lock
  lib/group_domain_models/pubspec.lock
  lib/holidays/pubspec.lock
  lib/last_online_reporting/pubspec.lock
  lib/sharezone_common/pubspec.lock
  lib/sharezone_widgets/lib/sharezone_widgets.dart
  lib/sharezone_widgets/pubspec.lock
  lib/sharezone_widgets/pubspec.yaml
  lib/user/pubspec.lock
Labels: ui / ux, feature: holidays, feature: groups:courses, feature: groups:classes, feature: groups, refactoring, dependencies, feature: analytics

#1191 Remove `pull_request` permission for `website-cd` workflow
  .github/workflows/alpha.yml
  .github/workflows/website_cd.yml
Labels: ci/cd

#1192 Update privacy policy anchor hashes and add tests.
  app/lib/privacy_policy/src/data/privacy_policy_v1.dart
  app/lib/privacy_policy/src/data/privacy_policy_v2.dart
  app/test/privacy_policy/generate_anchor_hash_test.dart
Labels: legal, testing

#1193 Move `Dimensions` to `sharezone_widgets`
  app/lib/auth/sign_in_with_qr_code_page.dart
  app/lib/blackboard/details/blackboard_details.dart
  app/lib/filesharing/file_sharing_view_group.dart
  app/lib/navigation/scaffold/sharezone_custom_scaffold.dart
  app/lib/navigation/scaffold/sharezone_main_scaffold.dart
  lib/sharezone_utils/lib/dimensions.dart
  lib/sharezone_widgets/lib/sharezone_widgets.dart
  lib/sharezone_widgets/lib/src/dimensions.dart
  lib/sharezone_widgets/lib/src/widgets/modal_floating_action_button.dart
  lib/sharezone_widgets/pubspec.lock
  lib/sharezone_widgets/pubspec.yaml
Labels: feature: file-sharing, feature: information sheet, ui / ux, feature: universal file features, feature: groups, feature: navigation, feature: authentification, dependencies

#1197 Use for `google_sign_in_dartio` version from pub.dev
  app/pubspec.lock
  lib/authentification/authentification_base/pubspec.lock
  lib/authentification/authentification_base/pubspec.yaml
  lib/authentification/authentification_qrcode/pubspec.lock
Labels: dependencies

#1078 Add flavors to macOS
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/stable.yml
  CONTRIBUTING.md
  app/firebase.json
  app/macos/Runner.xcodeproj/project.pbxproj
  app/macos/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  app/macos/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  app/macos/Runner/GoogleService-Info.plist
  app/macos/config/dev/GoogleService-Info.plist
  app/macos/config/prod/GoogleService-Info.plist
  tools/sz_repo_cli/lib/src/commands/src/build_macos_command.dart
Labels: documentation, ci/cd, platform: macos, sharezone cli

#1201 Fix `firebase_options_dev.g.dart` for macOS
  app/lib/firebase_options_dev.g.dart
Labels: platform: macos

#1198 Remove `google_sign_in_dartio`
  app/macos/Runner.xcodeproj/project.pbxproj
  app/macos/Runner/DebugProfile.entitlements
  app/macos/Runner/Info.plist
  app/macos/Runner/Release.entitlements
  app/pubspec.lock
  lib/authentification/authentification_base/lib/src/google/google_sign_in_logic.dart
  lib/authentification/authentification_base/pubspec.lock
  lib/authentification/authentification_base/pubspec.yaml
  lib/authentification/authentification_qrcode/pubspec.lock
Labels: platform: macos, feature: authentification, dependencies

#1202 Upgrade to FlutterFire v0.3.0-dev.19
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/stable.yml
  CONTRIBUTING.md
  app/macos/Runner.xcodeproj/project.pbxproj
Labels: documentation, ci/cd, platform: macos

#1203 Fix deployment of macOS (flavor support)
  tools/sz_repo_cli/lib/src/commands/src/deploy_macos_command.dart
Labels: platform: macos, sharezone cli

#1206 Use more beautiful name for deploying the website
  .github/workflows/website_cd.yml
Labels: ci/cd
