Repository SharezoneApp/sharezone-app, pull requests merged in 2023-01, with the labels that each got.

#333 Fix building iOS
  .github/workflows/main.yml
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/pubspec.lock
  lib/filesharing/files_usecases/pubspec.yaml
Labels: ci/cd, platform: ios, dependencies

#323 Remove adding Dart SDK for PATH for `codemagic.yaml`
  codemagic.yaml
Labels: ci/cd

#330 Move blackboard files to `app/lib/blackboard`.
  app/lib/blackboard/analytics/blackboard_analytics.dart
  app/lib/blackboard/blackboard_card.dart
  app/lib/blackboard/blackboard_dialog.dart
  app/lib/blackboard/blackboard_item.dart
  app/lib/blackboard/blackboard_page.dart
  app/lib/blackboard/blackboard_picture.dart
  app/lib/blackboard/blackboard_view.dart
  app/lib/blackboard/blocs/blackboard_card_bloc.dart
  app/lib/blackboard/blocs/blackboard_dialog_bloc.dart
  app/lib/blackboard/blocs/blackboard_page_bloc.dart
  app/lib/blackboard/details/blackboard_details.dart
  app/lib/blackboard/details/blackboard_details_bloc.dart
  app/lib/blackboard/details/blackboard_item_read_by_users_list/blackboard_item_read_by_users_list_bloc.dart
  app/lib/blackboard/details/blackboard_item_read_by_users_list/blackboard_item_read_by_users_list_page.dart
  app/lib/blackboard/details/blackboard_item_read_by_users_list/user_view.dart
  app/lib/blackboard/show_delete_blackboard_item_dialog.dart
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/dashboard/bloc/dashboard_bloc.dart
  app/lib/dashboard/dashboard_page.dart
  app/lib/dashboard/widgets/blackboard_card_dashboard.dart
  app/lib/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page.dart
  app/lib/main/sharezone_app.dart
  app/lib/navigation/models/navigation_item.dart
  app/lib/notifications/action_requests/navigate_to_location.dart
  app/lib/notifications/action_requests/show_blackboard_item.dart
  app/lib/util/api/blackboard_api.dart
  app/test/blackboard/blackboard_item_read_by_users_list/user_view_test.dart
  app/test/dashboard/update_reminder_test.dart
Labels: testing

#324 Refactor holiday code into separate holidays package
  app/lib/blocs/dashbord_widgets_blocs/holiday_bloc.dart
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/dashboard/dashboard_page.dart
  app/lib/util/next_lesson_calculator/next_lesson_calculator.dart
  app/macos/Podfile.lock
  app/macos/Runner.xcodeproj/project.pbxproj
  app/pubspec.lock
  app/pubspec.yaml
  app/test/dashboard/dashboard_page_test.dart
  app/test/dashboard/update_reminder_test.dart
  app/test/holidays/holiday_bloc_unit_test.dart
  app/test/holidays/holiday_cache_test.dart
  app/test/holidays/integration_test.dart
  lib/holidays/.gitignore
  lib/holidays/lib/holidays.dart
  lib/holidays/lib/src/api/datetime_serializer.dart
  lib/holidays/lib/src/api/holiday.dart
  lib/holidays/lib/src/api/holiday.g.dart
  lib/holidays/lib/src/api/serializers.dart
  lib/holidays/lib/src/api/serializers.g.dart
  lib/holidays/lib/src/holiday_api.dart
  lib/holidays/lib/src/holiday_cache.dart
  lib/holidays/lib/src/holiday_service.dart
  lib/holidays/lib/src/state.dart
  lib/holidays/pubspec.yaml
  lib/holidays/test/holiday_api_test.dart
Labels: platform: macos, testing, dependencies

#325 Licence check ignore generated dart files
  .github/workflows/main.yml
  lib/abgabe/abgabe_http_api/lib/model/datei_hinzufuegen_command_dto.g.dart
  lib/abgabe/abgabe_http_api/lib/model/datei_hinzufuegen_command_dto1.g.dart
  lib/abgabe/abgabe_http_api/lib/model/dateien_hinzufuegen_command_dto.g.dart
  lib/abgabe/abgabe_http_api/lib/model/dateiname_dto.g.dart
  lib/abgabe/abgabe_http_api/lib/model/inline_response400.g.dart
  lib/abgabe/abgabe_http_api/lib/model/inline_response403.g.dart
  lib/abgabe/abgabe_http_api/lib/model/submission_dto.g.dart
  lib/abgabe/abgabe_http_api/lib/serializers.g.dart
  lib/holidays/lib/src/api/holiday.g.dart
  lib/holidays/lib/src/api/serializers.g.dart
Labels: ci/cd

#331 Use `fvm` in GitHub Actions and Sharezone CLI.
  .github/workflows/alpha.yml
  .github/workflows/main.yml
  tools/sz_repo_cli/lib/src/commands/src/analyze_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_web_app_command.dart
  tools/sz_repo_cli/lib/src/common/src/package.dart
Labels: ci/cd, sharezone cli

#334 Replace `CrashAnalyticsBloc` with Provider<CrashAnalytics>.
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/crash_analytics/crash_analytics_bloc.dart
  app/lib/groups/src/widgets/meeting/group_meeting_button.dart
  app/lib/pages/settings/my_profile/my_profile_page.dart
  app/test/meeting/group_meeting_button_test.dart
Labels: code quality, testing, refactoring

#337 Fix wrong command `sz packages get` in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: documentation

#339 Add license check commands to Sharezone CLI
  .github/workflows/main.yml
  bin/add_license_headers.sh
  bin/check_license_headers.sh
  bin/source_of_truth/commands_source_of_truth.yaml
  bin/source_of_truth/get_sot_cmd.sh
  tools/sz_repo_cli/lib/src/commands/src/add_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/check_license_headers_command.dart
  tools/sz_repo_cli/lib/src/commands/src/license_headers_command.dart
  tools/sz_repo_cli/lib/src/common/src/run_process.dart
  tools/sz_repo_cli/lib/src/common/src/sharezone_repo.dart
  tools/sz_repo_cli/lib/src/main.dart
  tools/sz_repo_cli/test/ensure_cmd_sot_file_exists_test.dart
Labels: ci/cd, testing

#341 `sz analyze` command refactoring.
  tools/sz_repo_cli/lib/src/commands/src/analyze_command.dart
  tools/sz_repo_cli/lib/src/commands/src/fix_comment_spacing_command.dart
  tools/sz_repo_cli/lib/src/commands/src/locate_sharezone_flutter_directory_command.dart
  tools/sz_repo_cli/lib/src/common/common.dart
  tools/sz_repo_cli/lib/src/common/src/concurrent_package_task_runner.dart
  tools/sz_repo_cli/lib/src/common/src/run_process.dart
  tools/sz_repo_cli/lib/src/common/src/sharezone_repo.dart
  tools/sz_repo_cli/pubspec.lock
  tools/sz_repo_cli/pubspec.yaml
Labels: code quality, sharezone cli, refactoring, dependencies

#340 Make `sz test` more performant.
  .github/workflows/main.yml
  tools/sz_repo_cli/lib/src/commands/src/analyze_command.dart
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
  tools/sz_repo_cli/lib/src/common/src/shared_args.dart
Labels: ci/cd, sharezone cli
