Repository SharezoneApp/sharezone-app, pull requests merged in 2023-03, with the labels that each got.

#406 Trigger App CI and Alpha CD when Flutter Version changed.
  .github/workflows/alpha.yml
  .github/workflows/app_ci.yml
Labels: ci/cd

#404 Add Fallback App CI
  .github/workflows/app_ci.yml
  .github/workflows/app_fallback_ci.yml
Labels: ci/cd

#389 Use latest macOS version for iOS integration tests
  .github/workflows/app_ci.yml
Labels: ci/cd

#410 Remove pull request trigger `codemagic.yaml`
  codemagic.yaml
Labels: ci/cd

#412 Migrate `app_functions` package to null safety
  lib/app_functions/lib/src/app_functions.dart
  lib/app_functions/lib/src/app_functions_result.dart
  lib/app_functions/lib/src/app_functions_web_stub.dart
  lib/app_functions/lib/src/sharezone_app_functions.dart
  lib/app_functions/pubspec.yaml
Labels: dependencies

#413 Remove unused code in `sharezone_common`
  lib/sharezone_common/lib/src/database_foundation.dart
  lib/sharezone_common/lib/src/helper_functions.dart
  lib/sharezone_common/pubspec.yaml
Labels: dependencies

#417 Use `sharezone_lints` in `time` package
  lib/time/analysis_options.yaml
  lib/time/lib/src/time.dart
  lib/time/pubspec.lock
  lib/time/pubspec.yaml
  lib/time/test/time_test.dart
Labels: testing, dependencies

#416 Use `sharezone_lints` for `url_launcher_extended`
  lib/url_launcher_extended/analysis_options.yaml
  lib/url_launcher_extended/lib/src/url_launcher_extended.dart
  lib/url_launcher_extended/pubspec.lock
  lib/url_launcher_extended/pubspec.yaml
  lib/url_launcher_extended/test/mock_url_launcher_extended_test.dart
Labels: testing, dependencies

#415 Add `sharezone_lints` to `util` package
  lib/util/analysis_options.yaml
  lib/util/lib/src/encryption/rsa_pem.dart
  lib/util/pubspec.lock
  lib/util/pubspec.yaml
Labels: refactoring, dependencies

#419 Migrate `notifications` to null safety
  lib/notifications/lib/src/action_registration.dart
  lib/notifications/lib/src/instrumentation.dart
  lib/notifications/lib/src/notification_parser.dart
  lib/notifications/lib/src/push_notification.dart
  lib/notifications/lib/src/push_notification_action_handler.dart
  lib/notifications/pubspec.lock
  lib/notifications/pubspec.yaml
  lib/notifications/test/docs_example_test.dart
Labels: testing, dependencies

#414 Migrate `sharezone_common` package to null safety
  lib/sharezone_common/lib/src/api_errors/api_errors.dart
  lib/sharezone_common/lib/src/api_errors/handle_error_message.dart
  lib/sharezone_common/lib/src/database_foundation.dart
  lib/sharezone_common/lib/src/firebase_dependencies.dart
  lib/sharezone_common/lib/src/helper_functions.dart
  lib/sharezone_common/lib/src/references.dart
  lib/sharezone_common/lib/src/validator.dart
  lib/sharezone_common/lib/src/validators/blackboard_validators.dart
  lib/sharezone_common/lib/src/validators/homework_validators.dart
  lib/sharezone_common/pubspec.yaml
Labels: refactoring, dependencies

#408 Add CI for Sharezone CLI
  .github/workflows/cli_ci.yml
  .github/workflows/cli_fallback_ci.yml
Labels: ci/cd

#423 Add `sharezone_lints` to `notifications` package
  lib/notifications/analysis_options.yaml
  lib/notifications/lib/src/action_registration.dart
  lib/notifications/lib/src/notification_parser.dart
  lib/notifications/lib/src/push_notification.dart
  lib/notifications/lib/src/push_notification_action_handler.dart
  lib/notifications/pubspec.lock
  lib/notifications/pubspec.yaml
  lib/notifications/test/docs_example_test.dart
Labels: testing, dependencies

#432 Add `sharezone_lints` to `sharezone_common`
  lib/sharezone_common/analysis_options.yaml
  lib/sharezone_common/lib/src/api_errors/api_errors.dart
  lib/sharezone_common/lib/src/database_foundation.dart
  lib/sharezone_common/lib/src/helper_functions.dart
  lib/sharezone_common/pubspec.lock
  lib/sharezone_common/pubspec.yaml
Labels: dependencies

#428 Migrate `bloc_base` to null safety
  lib/bloc_base/pubspec.yaml
Labels: dependencies

#430 Migrate `design` to null safety
  lib/design/lib/src/color_parser.dart
  lib/design/lib/src/design.dart
  lib/design/pubspec.yaml
Labels: dependencies

#429 Migrate `bloc_provider` to null safety
  lib/bloc_provider/lib/src/bloc_provider.dart
  lib/bloc_provider/lib/src/multi_bloc_provider.dart
  lib/bloc_provider/pubspec.yaml
Labels: dependencies

#434 Update `actions/checkout` from v2 to v3 in our GitHub workflows
  .github/workflows/alpha.yml
  .github/workflows/app_ci.yml
  .github/workflows/licence.yml
Labels: ci/cd

#425 Remove `test` package when already `flutter_test` is used
  app/pubspec.lock
  app/pubspec.yaml
  app/test/analytics/analytics_test.dart
  app/test/analytics/navigation/navigation_analytics_test.dart
  app/test/analytics/registration/register_analytics_test.dart
  app/test/blackboard/blackboard_item_read_by_users_list/user_view_test.dart
  app/test/bottom_navigation_bar/bnb_tutorial_bloc_test.dart
  app/test/course/course_create_bloc_test.dart
  app/test/dashboard/current_lesson_index_test.dart
  app/test/dashboard/update_reminder_bloc_test.dart
  app/test/donate/donation_service_test.dart
  app/test/dynamic_link/dynamic_link_bloc_test.dart
  app/test/dynamic_link/gruppen_beitritts_transformer_test.dart
  app/test/feedback/feedback_cache_test.dart
  app/test/feedback/feedback_test.dart
  app/test/groups/group_join_select_courses_bloc_test.dart
  app/test/holidays/holiday_bloc_unit_test.dart
  app/test/holidays/holiday_cache_test.dart
  app/test/holidays/integration_test.dart
  app/test/homework/homework_dialog_bloc_test.dart
  app/test/notifications/fcm_notification_test.dart
  app/test/settings/changelog/changelog_test.dart
  app/test/settings/notifications/notification_test.dart
  app/test/temp_test.dart
  app/test/timetable/lesson_length_test.dart
  app/test/timetable/school_class_filter_view_test.dart
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.yaml
  lib/abgabe/abgabe_client_lib/test/bloc_test.dart
  lib/date/pubspec.lock
  lib/date/pubspec.yaml
  lib/group_domain_models/pubspec.lock
  lib/group_domain_models/pubspec.yaml
  lib/group_domain_models/test/models/sharecode_test.dart
  lib/last_online_reporting/pubspec.lock
  lib/last_online_reporting/pubspec.yaml
  lib/last_online_reporting/test/last_online_reporting_test.dart
  lib/url_launcher_extended/pubspec.lock
  lib/url_launcher_extended/pubspec.yaml
  lib/url_launcher_extended/test/mock_url_launcher_extended_test.dart
Labels: testing, refactoring, dependencies

#402 Remove remaining Jitsi code
  app/android/app/build.gradle
  app/android/app/proguard-rules.pro
  app/android/app/src/main/AndroidManifest.xml
  app/android/build.gradle
Labels: platform: android, refactoring

#435 Trim the "What's new" string when publishing a new version to TestFlight
  .github/workflows/alpha.yml
Labels: ci/cd

#424 Migrate `common_domain_model` package to null safety
  lib/common_domain_models/lib/src/ids/abgabenziel_id.dart
  lib/common_domain_models/lib/src/ids/datei_id.dart
  lib/common_domain_models/lib/src/ids/group_id.dart
  lib/common_domain_models/lib/src/ids/src/id.dart
  lib/common_domain_models/lib/src/ids/user_id.dart
  lib/common_domain_models/lib/src/sharecode.dart
  lib/common_domain_models/pubspec.yaml
Labels: dependencies

#418 Migrate `remote_configuration` to null safety
  lib/remote_configuration/lib/src/implementation/firebase_remote_configuration.dart
  lib/remote_configuration/lib/src/implementation/stub_remote_configuration.dart
  lib/remote_configuration/pubspec.yaml
Labels: dependencies

#437 Fix trim "What's new" string for publishing the alpha version to TestFlight
  .github/workflows/alpha.yml
Labels: ci/cd

#427 Migrate `analytics` to null safety
  lib/analytics/lib/src/analytics/analytics.dart
  lib/analytics/lib/src/analytics/analytics_navigation_observer.dart
  lib/analytics/lib/src/analytics/analytics_provider.dart
  lib/analytics/lib/src/analytics/backend/firebase_analytics_backend.dart
  lib/analytics/lib/src/analytics/backend/logging_analytics_backend.dart
  lib/analytics/lib/src/analytics/backend/null_analytics_backend.dart
  lib/analytics/lib/src/analytics/named_analytics_event.dart
  lib/analytics/pubspec.lock
  lib/analytics/pubspec.yaml
Labels: dependencies

#443 Add `sharezone_lints` to the `analytics` package
  lib/analytics/analysis_options.yaml
  lib/analytics/lib/src/analytics/analytics_navigation_observer.dart
  lib/analytics/lib/src/analytics/analytics_provider.dart
  lib/analytics/lib/src/analytics/backend/firebase_analytics_backend.dart
  lib/analytics/lib/src/analytics/backend/logging_analytics_backend.dart
  lib/analytics/pubspec.lock
  lib/analytics/pubspec.yaml
Labels: refactoring, dependencies

#446 Migrate `date` package to null safety
  app/lib/calendrical_events/models/calendrical_event.dart
  app/lib/timetable/src/models/lesson.dart
  lib/date/lib/src/date.dart
  lib/date/lib/src/weekday.dart
  lib/date/lib/src/weektype.dart
  lib/date/pubspec.yaml
Labels: dependencies

#452 Revert cancel previous CI builds in the same PR
  .github/workflows/app_ci.yml
  .github/workflows/cli_ci.yml
Labels: ci/cd

#453 Skip `web-preview` workflow for merge queues
  .github/workflows/app_ci.yml
Labels: ci/cd

#455 Add path filters to `merge_queue` for our CI
  .github/workflows/app_ci.yml
  .github/workflows/app_fallback_ci.yml
  .github/workflows/cli_ci.yml
  .github/workflows/cli_fallback_ci.yml
Labels: ci/cd

#456 Use `dorny/paths-filter` instead of native path filters for our CI
  .github/workflows/app_ci.yml
  .github/workflows/app_fallback_ci.yml
  .github/workflows/cli_ci.yml
  .github/workflows/cli_fallback_ci.yml
Labels: ci/cd

#457 Switch from `dorny/path-filter` to `AurorNZ/path-filter` for path filters in our CI
  .github/workflows/app_ci.yml
  .github/workflows/cli_ci.yml
Labels: ci/cd

#458 Remove unused `paths` in `cli_ci.yml`
  .github/workflows/cli_ci.yml
Labels: ci/cd

#436 Remove unused code in `build_context` package
  lib/build_context/lib/src/build_context_impl.dart
Labels: refactoring

#444 Add `sharezone_lints` to `app_functions`
  lib/app_functions/analysis_options.yaml
  lib/app_functions/lib/src/app_functions.dart
  lib/app_functions/pubspec.lock
  lib/app_functions/pubspec.yaml
Labels: refactoring, dependencies

#448 Fix "sz pub get" not running for all packages.
  lib/authentification/authentification_qrcode/pubspec.lock
  tools/sz_repo_cli/lib/src/commands/src/pub_get_command.dart
Labels: dependencies

#460 Fix `Looking up a deactivated widget's ancestor is unsafe.` when open the web/macOS app
  app/lib/download_app_tip/widgets/download_app_tip_card.dart
Labels: platform: macos, platform: web

#461 Replace try-catch with `mounted` in `ColorFadeIn`
  app/lib/widgets/animation/color_fade_in.dart
Labels: refactoring, build-app-preview

#462 Fix timetable grey screen (parsing `startDate` & `endDate` lesson)
  app/lib/timetable/src/models/lesson.dart
  lib/date/lib/src/date.dart
Labels: build-app-preview

#465 Remove "<>" characters when publishing a new version to TestFlight
  .github/workflows/alpha.yml
Labels: ci/cd

#466 Use macOS runner for CLI `test` workflow in CI
  .github/workflows/cli_ci.yml
Labels: ci/cd

#471 Bump build number for Android alpha builds
  .github/workflows/alpha.yml
Labels: ci/cd

#468 Add label "documentation" to `.mdx` files
  .github/labeler.yml
Labels: ci/cd

#469 Migrate the `user` package to null safety
  app/lib/navigation/drawer/account_section.dart
  app/lib/overview/views/user_view.dart
  app/lib/pages/settings/my_profile/user_view.dart
  app/test/account/account_page_test.dart
  lib/user/lib/src/models/features.dart
  lib/user/lib/src/models/timetable/enabled_weekdays.dart
  lib/user/lib/src/models/timetable/period.dart
  lib/user/lib/src/models/tips/user_tip_data.dart
  lib/user/lib/src/models/tips/user_tip_key.dart
  lib/user/lib/src/models/tips/user_tips.dart
  lib/user/lib/src/models/type_of_user.dart
  lib/user/lib/src/models/user.dart
  lib/user/lib/src/models/user_settings.dart
  lib/user/pubspec.lock
  lib/user/pubspec.yaml
Labels: testing, dependencies

#477 Install `codemagic-cli-tools` when publishing Android alpha
  .github/workflows/alpha.yml
Labels: ci/cd

#472 Migrate `holiday` package to null safety and remove `HttpHolidayApiClient`
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/main/plugin_initializations.dart
  app/test/holidays/integration_test.dart
  lib/holidays/lib/src/api/holiday.dart
  lib/holidays/lib/src/api/holiday.g.dart
  lib/holidays/lib/src/api/serializers.g.dart
  lib/holidays/lib/src/holiday_api.dart
  lib/holidays/lib/src/holiday_cache.dart
  lib/holidays/lib/src/holiday_service.dart
  lib/holidays/lib/src/state.dart
  lib/holidays/pubspec.yaml
  lib/holidays/test/holiday_api_test.dart
  lib/holidays/test/holiday_api_test.mocks.dart
Labels: testing, dependencies

#478 Use fix versions for tools and Actions in our CI
  .github/workflows/alpha.yml
  .github/workflows/app_ci.yml
  .github/workflows/cli_ci.yml
  .github/workflows/label_app_preview.yaml
  .github/workflows/licence.yml
  .github/workflows/pull_request_label.yml
  codemagic.yaml
Labels: ci/cd

#479 Add dependabot
  .github/dependabot.yml
  .github/labeler.yml
Labels: ci/cd

#481 Add all git ignored `pubspec.lock` to git
  lib/abgabe/abgabe_http_api/.gitignore
  lib/abgabe/abgabe_http_api/pubspec.lock
  lib/bloc_base/.gitignore
  lib/bloc_base/pubspec.lock
  lib/common_domain_models/.gitignore
  lib/common_domain_models/pubspec.lock
  lib/holidays/.gitignore
  lib/holidays/pubspec.lock
Labels: dependencies

#482 Remove `Gemfile` & `Gemfile.lock`
  app/android/Gemfile
  app/android/Gemfile.lock
Labels: platform: android, refactoring

#483 Add `sharezone_lints` to `sharezone_about_page_addon` package
  lib/sharezone_about_page_addon/analysis_options.yaml
  lib/sharezone_about_page_addon/lib/game/custom/util.dart
  lib/sharezone_about_page_addon/lib/sharezone_about_page_addon.dart
  lib/sharezone_about_page_addon/pubspec.lock
  lib/sharezone_about_page_addon/pubspec.yaml
Labels: refactoring, dependencies

#484 Add `sharezone_lints` to `remote_configuration` package
  lib/remote_configuration/analysis_options.yaml
  lib/remote_configuration/lib/src/implementation/firebase_remote_configuration.dart
  lib/remote_configuration/lib/src/implementation/stub_remote_configuration.dart
  lib/remote_configuration/pubspec.lock
  lib/remote_configuration/pubspec.yaml
Labels: refactoring, dependencies

#485 Add `sharezone_lints` to `key_value_store` package
  lib/key_value_store/analysis_options.yaml
  lib/key_value_store/pubspec.lock
  lib/key_value_store/pubspec.yaml
Labels: refactoring, dependencies

#486 Add `sharezone_lints` to `date` package
  lib/date/analysis_options.yaml
  lib/date/lib/src/fuzzy_date_time_string.dart
  lib/date/pubspec.lock
  lib/date/pubspec.yaml
Labels: refactoring, dependencies

#487 Add `sharezone_lints` to `crash_analytics` package
  lib/crash_analytics/analysis_options.yaml
  lib/crash_analytics/lib/src/implementation/stub_crash_analytics.dart
  lib/crash_analytics/pubspec.lock
  lib/crash_analytics/pubspec.yaml
Labels: dependencies

#489 Add `sharezone_lints` to `bloc_provider` package
  lib/bloc_provider/analysis_options.yaml
  lib/bloc_provider/lib/src/bloc_provider.dart
  lib/bloc_provider/pubspec.lock
  lib/bloc_provider/pubspec.yaml
Labels: dependencies

#492 Format `labeler.yml` file
  .github/labeler.yml
Labels: ci/cd

#494 Rename a few Dart files from camelCase to snake_case
  app/lib/blackboard/blackboard_view.dart
  app/lib/blackboard/blocs/blackboard_dialog_bloc.dart
  app/lib/blackboard/blocs/blackboard_page_bloc.dart
  app/lib/blackboard/details/blackboard_details_bloc.dart
  app/lib/blocs/application_bloc.dart
  app/lib/blocs/homework/homework_card_bloc.dart
  app/lib/blocs/homework/homework_dialog_bloc.dart
  app/lib/blocs/homework/homework_page_bloc.dart
  app/lib/blocs/sharezone_bloc_providers.dart
  app/lib/calendrical_events/bloc/calendrical_events_page_bloc.dart
  app/lib/calendrical_events/bloc/calendrical_events_page_bloc_factory.dart
  app/lib/comments/comment_view_factory.dart
  app/lib/comments/widgets/comment_section_builder.dart
  app/lib/dashboard/bloc/dashboard_bloc.dart
  app/lib/dashboard/gateway/dashboard_gateway.dart
  app/lib/dashboard/models/homework_view.dart
  app/lib/filesharing/dialog/course_tile.dart
  app/lib/filesharing/rules/filesharing_permissions.dart
  app/lib/groups/group_join/bloc/group_join_bloc.dart
  app/lib/groups/group_join/bloc/group_join_function.dart
  app/lib/groups/src/pages/course/course_details/course_details_bloc.dart
  app/lib/groups/src/pages/course/course_edit/course_edit_bloc.dart
  app/lib/groups/src/pages/course/course_edit/design/src/bloc/course_edit_design_bloc.dart
  app/lib/groups/src/pages/course/create/src/gateway/course_create_gateway.dart
  app/lib/groups/src/pages/school_class/create_course/school_class_create_course_bloc.dart
  app/lib/groups/src/pages/school_class/edit/school_class_edit_gateway.dart
  app/lib/groups/src/pages/school_class/my_school_class_bloc.dart
  app/lib/main/ist_schon_gruppe_beigetreten.dart
  app/lib/main/run_app.dart
  app/lib/main/sharezone_app.dart
  app/lib/notifications/action_requests/show_timetable_event.dart
  app/lib/onboarding/group_onboarding/logic/group_onboarding_bloc.dart
  app/lib/pages/homework/homework_details/homework_details_view_factory.dart
  app/lib/pages/homework/homework_details/submissions/submission_permissions.dart
  app/lib/timetable/src/bloc/timetable_bloc.dart
  app/lib/timetable/src/bloc/timetable_selection_bloc.dart
  app/lib/timetable/timetable_add/bloc/timetable_add_bloc.dart
  app/lib/timetable/timetable_add/bloc/timetable_add_bloc_dependencies.dart
  app/lib/timetable/timetable_add_event/bloc/timetable_add_event_bloc.dart
  app/lib/timetable/timetable_add_event/bloc/timetable_add_event_bloc_dependencies.dart
  app/lib/timetable/timetable_edit/event/timetable_event_edit_bloc.dart
  app/lib/timetable/timetable_edit/event/timetable_event_edit_page.dart
  app/lib/timetable/timetable_edit/lesson/timetable_lesson_edit_bloc.dart
  app/lib/timetable/timetable_edit/lesson/timetable_lesson_edit_page.dart
  app/lib/util/api.dart
  app/lib/util/api/connections_gateway.dart
  app/lib/util/api/course_gateway.dart
  app/lib/util/api/school_class_gateway.dart
  app/lib/util/api/school_gateway.dart
  app/lib/util/api/timetable_gateway.dart
  app/lib/util/api/user_api.dart
  app/lib/util/next_lesson_calculator/next_lesson_calculator.dart
  app/lib/widgets/homework/delete_homework.dart
  app/lib/widgets/homework/homework_card.dart
  app/test/account/account_page_test.dart
  app/test/timetable/mock/mock_course_gateway.dart
  app/test/timetable/mock/mock_school_class_gateway.dart
  app/test/timetable/mock/mock_timetable_gateway.dart
  app/test/timetable/timetable_page_test.dart
Labels: testing

#491 Remove `repo-token` attribute for labeler
  .github/workflows/pull_request_label.yml
Labels: ci/cd, refactoring

#488 Add `sharezone_lints` to `build_context` package
  lib/build_context/analysis_options.yaml
  lib/build_context/lib/src/build_context_impl.dart
  lib/build_context/pubspec.lock
  lib/build_context/pubspec.yaml
Labels: dependencies

#502 Don't explicitly pass `CERTIFICATE_PRIVATE_KEY` to Codemagic CLI Tools for `deploy-alpha-ios-app`
  .github/workflows/alpha.yml
Labels: ci/cd, refactoring

#498 Add integration test for loading groups, timetable and information sheets
  app/integration_test/README.md
  app/integration_test/app_test.dart
  app/lib/navigation/drawer/tiles/drawer_tile.dart
  app/lib/navigation/scaffold/portable/bottom_navigation_bar/bottom_navigation_bar.dart
Labels: documentation, testing

#505 Increase test timeout to 15 minutes.
  .github/workflows/app_ci.yml
  .github/workflows/cli_ci.yml
Labels: ci/cd

#503 Increase timeout for `android-integration-test` from 60 to 90 minutes
  .github/workflows/app_ci.yml
Labels: ci/cd

#392 Add macOS build test
  .github/workflows/app_ci.yml
Labels: ci/cd

#506 Remove `app/lib/generated_plugin_registrant.dart` from `gitignore`
  app/.gitignore
Labels: refactoring

#510 Run `pub get` for all packages
  lib/holidays/pubspec.lock
Labels: dependencies

#513 Migrate `file_basics` to null safety.
  lib/filesharing/files_basics/lib/src/local_file/local_file.dart
  lib/filesharing/files_basics/lib/src/local_file/local_file_data.dart
  lib/filesharing/files_basics/lib/src/local_file/local_file_io.dart
  lib/filesharing/files_basics/lib/src/local_file/mime_type.dart
  lib/filesharing/files_basics/pubspec.yaml
Labels: dependencies

#526 Use `sharezone_lints` in `filesharing_logic`.
  lib/filesharing/filesharing_logic/analysis_options.yaml
  lib/filesharing/filesharing_logic/lib/src/file_uploader/file_uploader.dart
  lib/filesharing/filesharing_logic/lib/src/file_uploader/implementation/mobile_firebase_file_uploader.dart
  lib/filesharing/filesharing_logic/lib/src/models/change_activity.dart
  lib/filesharing/filesharing_logic/lib/src/models/cloud_file.dart
  lib/filesharing/filesharing_logic/lib/src/models/filesharing_data.dart
  lib/filesharing/filesharing_logic/lib/src/models/folder.dart
  lib/filesharing/filesharing_logic/lib/src/models/folder_path.dart
  lib/filesharing/filesharing_logic/lib/src/models/reference_data.dart
  lib/filesharing/filesharing_logic/pubspec.lock
  lib/filesharing/filesharing_logic/pubspec.yaml
Labels: dependencies

#530 Use `sharezone_lints` in `last_online_reporting`.
  lib/last_online_reporting/analysis_options.yaml
  lib/last_online_reporting/lib/last_online_reporting.dart
  lib/last_online_reporting/pubspec.lock
  lib/last_online_reporting/pubspec.yaml
  lib/last_online_reporting/test/last_online_reporting_test.dart
Labels: testing, dependencies

#531 Use `sharezone_lints` in `holidays`.
  lib/holidays/analysis_options.yaml
  lib/holidays/lib/src/api/holiday.dart
  lib/holidays/lib/src/holiday_api.dart
  lib/holidays/lib/src/holiday_service.dart
  lib/holidays/pubspec.lock
  lib/holidays/pubspec.yaml
  lib/holidays/test/holiday_api_test.dart
Labels: testing, dependencies

#535 Use `sharezone_lints` in `user`.
  lib/user/analysis_options.yaml
  lib/user/lib/src/models/features.dart
  lib/user/lib/src/models/tips/user_tip_data.dart
  lib/user/lib/src/models/user.dart
  lib/user/lib/src/models/user_settings.dart
  lib/user/pubspec.lock
  lib/user/pubspec.yaml
Labels: dependencies

#534 Use `sharezone_lints` in `sharezone_widgets`.
  app/lib/auth/email_and_password_link_page.dart
  app/lib/auth/login_page.dart
  app/lib/auth/reset_pw_page.dart
  app/lib/auth/sign_in_with_qr_code_page.dart
  app/lib/navigation/drawer/drawer.dart
  app/lib/onboarding/sign_up/pages/choose_type_of_user.dart
  lib/sharezone_widgets/analysis_options.yaml
  lib/sharezone_widgets/lib/animated_visibility.dart
  lib/sharezone_widgets/lib/src/adaptive_dialog/column_actions_dialog/column_actions_dialog.dart
  lib/sharezone_widgets/lib/src/adaptive_dialog/left_and_right_action_dialog/left_and_right_action_adaptive_dialog.dart
  lib/sharezone_widgets/lib/src/additional/circular_button.dart
  lib/sharezone_widgets/lib/src/cards/overlay_card.dart
  lib/sharezone_widgets/lib/src/common/models/simple_data.dart
  lib/sharezone_widgets/lib/src/common/widgets/action_item_button.dart
  lib/sharezone_widgets/lib/src/dialog_wrapper.dart
  lib/sharezone_widgets/lib/src/form.dart
  lib/sharezone_widgets/lib/src/placeholder.dart
  lib/sharezone_widgets/lib/src/prefilled_text_field.dart
  lib/sharezone_widgets/lib/src/rounded_simple_dialog.dart
  lib/sharezone_widgets/lib/src/snackbars.dart
  lib/sharezone_widgets/lib/src/state_sheet/dialog.dart
  lib/sharezone_widgets/lib/src/state_sheet/sheet.dart
  lib/sharezone_widgets/lib/src/state_sheet/simple/appfunctions_state_dialog.dart
  lib/sharezone_widgets/lib/src/state_sheet/simple/appfunctions_state_sheet.dart
  lib/sharezone_widgets/lib/src/state_sheet/simple/simple_content_dialog.dart
  lib/sharezone_widgets/lib/src/state_sheet/simple/simple_content_sheet.dart
  lib/sharezone_widgets/lib/src/state_sheet/simple/simple_state_dialog.dart
  lib/sharezone_widgets/lib/src/state_sheet/simple/simple_state_sheet.dart
  lib/sharezone_widgets/lib/src/state_sheet/widgets/state_dialog_loading_body.dart
  lib/sharezone_widgets/lib/src/state_sheet/widgets/state_dialog_simple_body.dart
  lib/sharezone_widgets/lib/src/state_sheet/widgets/state_sheet_loading_body.dart
  lib/sharezone_widgets/lib/src/state_sheet/widgets/state_sheet_simple_body.dart
  lib/sharezone_widgets/lib/src/theme/brightness/dark_theme.dart
  lib/sharezone_widgets/lib/src/theme/brightness/light_theme.dart
  lib/sharezone_widgets/lib/src/theme/fade_route.dart
  lib/sharezone_widgets/lib/src/theme/scale_up_route.dart
  lib/sharezone_widgets/lib/src/theme/theme.dart
  lib/sharezone_widgets/lib/src/widgets.dart
  lib/sharezone_widgets/lib/src/widgets/modal_floating_action_button.dart
  lib/sharezone_widgets/pubspec.lock
  lib/sharezone_widgets/pubspec.yaml
  lib/sharezone_widgets/test/alternating_colored_list/alternating_colored_list_test.dart
  lib/sharezone_widgets/test/announcement_card_test.dart
  lib/sharezone_widgets/test/prefilled_text_field_test.dart
  lib/sharezone_widgets/test/snackbar_test.dart
Labels: testing, dependencies

#523 Use `sharezone_lints` in `files_basics`.
  lib/filesharing/files_basics/analysis_options.yaml
  lib/filesharing/files_basics/lib/src/local_file/local_file_data.dart
  lib/filesharing/files_basics/lib/src/local_file/local_file_io.dart
  lib/filesharing/files_basics/lib/src/local_file/mime_type.dart
  lib/filesharing/files_basics/lib/src/models/file_format.dart
  lib/filesharing/files_basics/pubspec.lock
  lib/filesharing/files_basics/pubspec.yaml
Labels: dependencies

#520 Use `sharezone_lints` in `common_domain_models`.
  lib/common_domain_models/analysis_options.yaml
  lib/common_domain_models/lib/src/ids/abgaben_id.dart
  lib/common_domain_models/lib/src/ids/abgabenziel_id.dart
  lib/common_domain_models/pubspec.lock
  lib/common_domain_models/pubspec.yaml
Labels: dependencies

#517 Use `sharezone_lints` in `authentification_base`.
  lib/authentification/authentification_base/analysis_options.yaml
  lib/authentification/authentification_base/lib/src/analytics/link_provider_analytics.dart
  lib/authentification/authentification_base/pubspec.lock
  lib/authentification/authentification_base/pubspec.yaml
Labels: dependencies

#516 Use `sharezone_lints` in `abgabe_client_lib`.
  lib/abgabe/abgabe_client_lib/analysis_options.yaml
  lib/abgabe/abgabe_client_lib/lib/src/abnahme/view_submissions_page_bloc_factory.dart
  lib/abgabe/abgabe_client_lib/lib/src/abnahme/views.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/bloc/homework_user_create_submissions_bloc_factory.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/bloc/homework_user_submissions_bloc.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/bloc/local_files_to_abgabedatei.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/cloud_storage_abgabedatei_uploader.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/cloud_storage_abgabendatei_uploader.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/firestore_abgaben_gateway.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/lokale_abgabedatei.dart
  lib/abgabe/abgabe_client_lib/lib/src/erstellung/views.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/abgabedatei.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/auto_id_generator.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/dateiname.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/download_url.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/dto.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/ersteller_abgabe_model.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/ersteller_abgaben_model_dto.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/hochgeladene_abgabedatei.dart
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.yaml
  lib/abgabe/abgabe_client_lib/test/bloc_test.dart
Labels: testing, dependencies

#518 Use `sharezone_lints` in `authentification_qrcode`.
  lib/authentification/authentification_qrcode/analysis_options.yaml
  lib/authentification/authentification_qrcode/lib/src/blocs/qr_sign_in_authentification_device_bloc.dart
  lib/authentification/authentification_qrcode/lib/src/blocs/qr_sign_in_web_bloc.dart
  lib/authentification/authentification_qrcode/lib/src/logic/qr_code_user_authenticator.dart
  lib/authentification/authentification_qrcode/lib/src/models/qr_sign_in_document.dart
  lib/authentification/authentification_qrcode/lib/src/models/qr_sign_in_state.dart
  lib/authentification/authentification_qrcode/pubspec.lock
  lib/authentification/authentification_qrcode/pubspec.yaml
Labels: dependencies

#519 Use `sharezone_lints` in `bloc_base`.
  lib/bloc_base/analysis_options.yaml
  lib/bloc_base/pubspec.lock
  lib/bloc_base/pubspec.yaml
Labels: dependencies

#493 Extend `labeler.yml` to automatically assign nearly all labels
  .github/labeler.yml
Labels: ci/cd

#522 Use `sharezone_lints` in `dynamic_links`.
  lib/dynamic_links/analysis_options.yaml
  lib/dynamic_links/pubspec.lock
  lib/dynamic_links/pubspec.yaml
Labels: dependencies

#525 Use `sharezone_lints` in `files_web`.
  lib/filesharing/files_web/analysis_options.yaml
  lib/filesharing/files_web/pubspec.lock
  lib/filesharing/files_web/pubspec.yaml
Labels: dependencies

#521 Use `sharezone_lints` in `design`.
  lib/design/analysis_options.yaml
  lib/design/lib/src/design.dart
  lib/design/pubspec.lock
  lib/design/pubspec.yaml
Labels: dependencies

#528 Use `sharezone_lints` in `group_domain_implementation`.
  lib/group_domain_implementation/analysis_options.yaml
  lib/group_domain_implementation/lib/src/accessors/firestore_course_member_accessor.dart
  lib/group_domain_implementation/pubspec.lock
  lib/group_domain_implementation/pubspec.yaml
Labels: dependencies

#537 Fix typo in authentification label in `labeler.yml`
  .github/labeler.yml
Labels: ci/cd
