Repository SharezoneApp/sharezone-app, pull requests merged in 2024-11, with the labels that each got.

#1779 Upgrade to Nextra v3
  docs/next.config.js
  docs/next.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/pages/_meta.js
  docs/pages/_meta.json
  docs/pages/account.mdx
  docs/pages/account/_meta.js
  docs/pages/account/_meta.json
  docs/pages/app-settings/_meta.js
  docs/pages/app-settings/_meta.json
  docs/pages/app-settings/notifications.mdx
  docs/pages/app-settings/notifications/_meta.js
  docs/pages/app-settings/notifications/_meta.json
  docs/pages/more/_meta.js
  docs/theme.config.jsx
Labels: documentation

#1787 Move widgets for quickly creating lessons to own file.
  app/lib/timetable/src/widgets/quick_create/quick_create_bloc.dart
  app/lib/timetable/src/widgets/quick_create/timetable_quick_create_dialog.dart
  app/lib/timetable/src/widgets/timetable_day_view.dart
  app/lib/timetable/timetable_page/timetable_page_empty.dart
Labels: feature: timetable / calendar, ui / ux, refactoring

#1788 Set app version to 2.2.2
  app/pubspec.yaml
Labels: dependencies

#1790 Fix opening keyboard when selecting event/exam time
  app/lib/timetable/timetable_add_event/timetable_add_event_dialog.dart
Labels: feature: timetable / calendar

#1792 Set app version to 2.2.3
  app/pubspec.yaml
Labels: dependencies

#1794 Set default value of "Show abbreviation in timetable" to true
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.iphone11.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.phone.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.phone_landscape.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.tablet_landscape.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.tablet_portrait.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.iphone11.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.phone.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.phone_landscape.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.tablet_landscape.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.tablet_portrait.png
  lib/user/lib/src/models/user_settings.dart
Labels: feature: timetable / calendar, testing

#1796 Display notice if JavaScript is disabled
  app/web/index.html
  console/web/index.html
  website/web/index.html
Labels: platform: web, website, admin console
