Repository SharezoneApp/sharezone-app, pull requests merged in 2024-05, with the labels that each got.

#1584 Fix share "let parents buy" option for iPad
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
Labels: feature: sharezone plus

#1585 Update iOS project files
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
Labels: platform: ios

#1592 Quick fix for changing subjects weights will not be updated in the UI
  app/lib/grades/pages/term_settings_page/term_settings_page_controller.dart
Labels: feature: grades

#1587 Bump app version to v2.0.5
  app/pubspec.yaml
Labels: dependencies

#1588 Set `selectable` and `softLineBreak` for Markdown widget in Feedback message bubble
  lib/feedback_shared_implementation/lib/src/pages/feedback_details_page.dart
  lib/feedback_shared_implementation/test_goldens/pages/goldens/feedback_details_page_loaded_dark.iphone11.png
  lib/feedback_shared_implementation/test_goldens/pages/goldens/feedback_details_page_loaded_dark.tablet_landscape.png
  lib/feedback_shared_implementation/test_goldens/pages/goldens/feedback_details_page_loaded_dark.tablet_portrait.png
  lib/feedback_shared_implementation/test_goldens/pages/goldens/feedback_details_page_loaded_light.iphone11.png
  lib/feedback_shared_implementation/test_goldens/pages/goldens/feedback_details_page_loaded_light.tablet_landscape.png
  lib/feedback_shared_implementation/test_goldens/pages/goldens/feedback_details_page_loaded_light.tablet_portrait.png
Labels: testing, feature: feedback

#1595 Fix deletion of subjects if final type of term was changed.
  app/lib/grades/grades_service/src/term.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

#1598 Replace `list-certificates` with `certificates list` for our `sz deploy` command
  tools/sz_repo_cli/lib/src/common/src/app_store_connect_utils.dart
Labels: sharezone cli

#1602 Improve homework card for teachers and parents
  app/lib/homework/shared/homework_card.dart
Labels: feature: homework

#1596 Bump app version to v2.0.6
  app/pubspec.yaml
Labels: dependencies

#1609 Enable accessibility features on web & desktop
  app/lib/main/run_app.dart
Labels: platform: macos, platform: web, accessibility

#1611 Enable video player for macOS
  app/lib/filesharing/logic/open_cloud_file.dart
Labels: feature: file-sharing, feature: universal file features

#1613 Make substitution feature available on stable track
  app/lib/timetable/timetable_page/lesson/substitution_section.dart
Labels: feature: timetable / calendar

#1616 Add editing custom grade types
  app/lib/grades/grades_service/grades_service.dart
  app/test/grades/grade_types_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

#1617 Bump app version to v2.0.7
  app/pubspec.yaml
Labels: dependencies

#1618 Add editing grades
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

#1621 Make passing ids to `GradesService` optional, create `GradeInput`,`SubjectInput` classes
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/create_term_page/create_term_page_controller.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/lib/grades/pages/term_settings_page/term_settings_page_controller.dart
  app/test/grades/grades_repository_test.dart
  app/test/grades/grades_test_common.dart
  app/test_goldens/grades/pages/create_term_page/create_term_page_test.mocks.dart
Labels: testing, feature: grades

#1625 Add button to call fix iCal calendars cloud function to admin console
  console/lib/home_page.dart
  console/lib/pages/fix_ical_calendars.dart
Labels: admin console

#1627 Fix theme of `showSheetBuilder()`
  app/lib/widgets/common/picker.dart
  app/test_goldens/widgets/common/goldens/picker_dark.png
  app/test_goldens/widgets/common/goldens/picker_light.png
  app/test_goldens/widgets/common/picker_test.dart
Labels: ui / ux, testing

#1630 Remove lessons row top padding on dashboard page
  app/lib/dashboard/timetable/lesson_row.dart
Labels: feature: timetable / calendar, w: dashboard-page

#1631 Fix dashboard homework card
  app/lib/dashboard/sections/homework_section.dart
Labels: feature: homework, feature: timetable / calendar, w: dashboard-page

#1629 Add teachers to the timetable
  app/lib/dashboard/dashboard_page.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/lib/timetable/src/bloc/timetable_bloc.dart
  app/lib/timetable/src/models/lesson.dart
  app/lib/timetable/timetable_add/bloc/timetable_add_bloc.dart
  app/lib/timetable/timetable_add/tabs/room_and_teacher_tab.dart
  app/lib/timetable/timetable_add/tabs/room_tab.dart
  app/lib/timetable/timetable_add/timetable_add_page.dart
  app/lib/timetable/timetable_edit/event/timetable_event_edit_page.dart
  app/lib/timetable/timetable_edit/lesson/timetable_lesson_edit_bloc.dart
  app/lib/timetable/timetable_edit/lesson/timetable_lesson_edit_page.dart
  app/lib/timetable/timetable_page/lesson/substitution_section.dart
  app/lib/timetable/timetable_page/lesson/timetable_lesson_details.dart
  app/lib/timetable/timetable_page/lesson/timetable_lesson_tile.dart
  app/test/timetable/teacher_field_test.dart
  app/test/timetable/teacher_field_test.mocks.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_light_theme.tablet_portrait.png
Labels: feature: timetable / calendar, ui / ux, testing, ui: light-mode, user: teacher, ui: dark-mode, feature: sharezone plus, w: dashboard-page

#1637 Use Java 17 in `codemagic.yaml`
  codemagic.yaml
Labels: ci/cd, build-app-preview

#1638 Add Java 17 requirement to `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: documentation

#1636 Fix crash on Huawei P 30 Lite when picking an image.
  lib/filesharing/files_usecases/lib/src/file_picker/implementation/file_picker_mobile.dart
Labels: feature: file-sharing, feature: universal file features, build-app-preview

#1646 Sort grades by date on term details page
  app/lib/grades/pages/term_details_page/term_details_page_controller.dart
Labels: feature: grades
