Repository SharezoneApp/sharezone-app, pull requests merged in 2024-09, with the labels that each got.

#1727 Replace "Schwarze Brett" with "Infozettel" in the delete course dialog
  app/lib/groups/src/pages/course/course_card.dart
Labels: feature: groups:courses, feature: groups

#1725 Add more helpful error message for keychain error on macOS
  lib/sharezone_common/lib/src/api_errors/handle_error_message.dart
Labels: platform: macos

#1709 Replace Videokonferenz with Notensystem on Website
  website/assets/features/notensystem.png
  website/assets/features/videokonferenzen.png
  website/assets/icons/notensystem.svg
  website/assets/icons/videokonferenzen.svg
  website/lib/home/src/all_in_one_platform.dart
Labels: ui / ux, website

#1732 Update docs dependencies
  docs/package-lock.json
Labels: documentation

#1735 Fix `onPressed` on macOS using `CupertinoAlertDialog`
  app/lib/navigation/drawer/sign_out_dialogs/src/sign_out_and_delete_anonymous_user.dart
  app/lib/settings/src/subpages/my_profile/my_profile_page.dart
Labels: feature: navigation, feature: authentification

#1736 Upgrade Gemfile dependencies
  app/android/Gemfile.lock
  app/android/fastlane/README.md
Labels: documentation, platform: android
