Repository SharezoneApp/sharezone-app, pull requests merged in 2024-10, with the labels that each got.

#1743 Fix typo in "/content-creator-programm" link
  website/firebase.json
Labels: ci/cd, website

#1745 Fix formatting in Fastlane `README.md`
  app/android/fastlane/README.md
Labels: documentation, platform: android

#1744 Fix subtitle cards in documentation
  docs/pages/account.mdx
  docs/pages/app-settings/notifications.mdx
Labels: documentation, feature: notifications

#1747 Update web app link
  app/lib/settings/src/subpages/web_app.dart
Labels: platform: web

#1748 Add video to delete account page
  docs/pages/account/delete-account.mdx
Labels: documentation

#1749 Fix running app for iOS 18 simulator
  app/ios/Runner.xcodeproj/project.pbxproj
Labels: platform: ios

#1751 Fix "Support kontaktieren" button on our website
  website/lib/home/src/support.dart
  website/lib/support_page.dart
Labels: website

#1752 Migrate to new Flutter JS initialization
  website/web/index.html
Labels: website

#1755 Fix text height for folder cards to avoid cutting off text
  app/lib/filesharing/widgets/card_with_icon_and_text.dart
Labels: feature: file-sharing, ui / ux, feature: universal file features

#1753 Update app imprint from Sharezone GbR to Sharezone UG
  app/lib/main/auth_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/settings/src/subpages/imprint/bloc/imprint_bloc.dart
  app/lib/settings/src/subpages/imprint/bloc/imprint_bloc_factory.dart
  app/lib/settings/src/subpages/imprint/gateway/imprint_gateway.dart
  app/lib/settings/src/subpages/imprint/models/imprint.dart
  app/lib/settings/src/subpages/imprint/page/imprint_page.dart
  app/pubspec.lock
  app/pubspec.yaml
  lib/legal/lib/legal.dart
  lib/legal/lib/src/imprint/imprint.dart
  website/lib/legal/imprint.dart
  website/lib/legal/imprint_page.dart
Labels: legal, dependencies, website

#1757 Fix color for chip using light theme
  lib/sharezone_widgets/lib/src/theme/brightness/light_theme.dart
Labels: ui / ux, ui: light-mode

#1758 Update design of dangerous buttons
  app/lib/groups/src/widgets/danger_section.dart
  app/lib/settings/src/subpages/my_profile/my_profile_page.dart
Labels: ui / ux, feature: groups

#1754 Upgrade GitHub Actions jobs from `macos-13` to `macos-14`
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/stable.yml
Labels: ci/cd

#1761 Add `app-ads.txt` to our website to verify our domain for AdMob
  website/web/app-ads.txt
Labels: website

#1762 Do not show Sharezone Plus support for teacher and parents
  app/lib/main/auth_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/support/support_page_controller.dart
  app/test/settings/support/support_page_controller_test.dart
Labels: testing

#1763 Remove "in process of open-sourcing" notice in README.md
  README.md
Labels: documentation

#1760 Add prototype of Google AdMob ads
  app/android/app/src/main/AndroidManifest.xml
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Info.plist
  app/lib/activation_code/src/bloc/enter_activation_code_bloc.dart
  app/lib/ads/ad_banner.dart
  app/lib/ads/ad_info_dialog.dart
  app/lib/ads/ads_controller.dart
  app/lib/dashboard/dashboard_page.dart
  app/lib/dashboard/sections/ad_section.dart
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/lib/homework/homework_dialog/homework_dialog_bloc.dart
  app/lib/homework/student/src/open_homework_list.dart
  app/lib/homework/student/student_homework_page.dart
  app/lib/main/plugin_initializations.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/lib/timetable/timetable_page/school_class_filter/school_class_filter.dart
  app/lib/timetable/timetable_page/timetable_page.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/dashboard/update_reminder_test.dart
  app/test/dashboard/update_reminder_test.mocks.dart
  app/test/homework/homework_dialog_test.dart
  app/test/homework/homework_dialog_test.mocks.dart
  app/test/settings/support/support_page_test.mocks.dart
  app/test/sharezone_plus/sharezone_plus_page_test.dart
  app/test/sharezone_plus/sharezone_plus_page_test.mocks.dart
  app/test_goldens/settings/support/support_page_test.mocks.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.mocks.dart
  lib/hausaufgabenheft_logik/lib/src/student/bloc/student_homework_page_bloc.dart
  lib/hausaufgabenheft_logik/lib/src/student/create_student_homework_page_bloc.dart
  lib/hausaufgabenheft_logik/test/homework_page_bloc_test.dart
  lib/remote_configuration/lib/src/get_remote_configuration.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
Labels: feature: homework, platform: ios, platform: android, feature: timetable / calendar, feature: groups:classes, testing, user: pupil / student, dependencies, build-app-preview, feature: sharezone plus, w: dashboard-page

#1764 Improve layout for light mode Sharecode textfield
  app/lib/groups/group_join/widgets/group_join_text_field.dart
Labels: ui / ux, feature: groups

#1766 Fix dark theme checkbox for Cupertino dialogs
  app/lib/navigation/drawer/sign_out_dialogs/src/sign_out_and_delete_anonymous_user.dart
Labels: platform: macos, platform: ios, feature: timetable / calendar, feature: navigation, feature: authentification

#1765 Improve layout for dark mode activation code textfield
  app/lib/activation_code/src/widgets/enter_activation_code_text_field.dart
Labels: ui / ux

#1767 Remove "Lesson start" and "Lesson length" from the timetable settings page, as they can be found in "Lesson times".
  app/lib/settings/src/subpages/timetable/timetable_settings_page.dart
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.iphone11.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.phone.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.phone_landscape.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.tablet_landscape.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.tablet_portrait.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.iphone11.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.phone.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.phone_landscape.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.tablet_landscape.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.tablet_portrait.png
  app/test_goldens/timetable/timetable_settings_page_test.dart
  app/test_goldens/timetable/timetable_settings_page_test.mocks.dart
Labels: feature: timetable / calendar, testing

#1768 Remove scrollbar from traction counter on website
  website/lib/home/src/traction.dart
Labels: website

#1266 Add strike through animation to homework
  app/lib/homework/shared/homework_tile_template.dart
  app/lib/homework/student/src/completed_homework_list.dart
  app/lib/homework/student/src/homework_tile.dart
  app/lib/homework/student/src/open_homework_list.dart
  app/lib/homework/teacher_and_parent/src/teacher_and_parent_homework_tile.dart
Labels: feature: homework, user: teacher, user: parent, user: pupil / student, build-app-preview

#1769 Improved title for calendar export on timetable settings page
  app/lib/settings/src/subpages/timetable/timetable_settings_page.dart
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.iphone11.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.phone.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.tablet_landscape.png
  app/test_goldens/timetable/goldens/timetable_settings_page_dark.tablet_portrait.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.iphone11.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.phone.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.tablet_landscape.png
  app/test_goldens/timetable/goldens/timetable_settings_page_light.tablet_portrait.png
Labels: feature: timetable / calendar, testing

#1773 Only show ad info dialog for free users
  app/lib/ads/ads_controller.dart
  app/lib/dashboard/dashboard_page.dart
Labels: w: dashboard-page

#1771 Add placeholder for ads
  app/lib/ads/ad_banner.dart
  app/lib/dashboard/sections/ad_section.dart
Labels: w: dashboard-page

#1774 Set app version to 2.2.0
  app/pubspec.yaml
Labels: dependencies

#1775 Set app version to 2.2.1
  app/pubspec.yaml
Labels: dependencies

#1776 Fix typo "registiert"
  app/lib/homework/homework_details/homework_details.dart
Labels: feature: homework

#1777 Add user ID to the subject when pressing email support button
  app/lib/main/auth_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/support/support_page.dart
  app/lib/support/support_page_controller.dart
  app/test/settings/support/support_page_controller_test.dart
  app/test/settings/support/support_page_controller_test.mocks.dart
  app/test/settings/support/support_page_test.mocks.dart
  app/test_goldens/settings/support/support_page_test.mocks.dart
Labels: testing, build-app-preview

#1778 Fix that when you launch Mail with a template, the space character is a '+'.
  lib/url_launcher_extended/lib/src/url_launcher_extended.dart
Labels: platform: ios

#1781 Fix race condition when joining a school class with courses
  app/lib/groups/group_join/group_join_page.dart
Labels: feature: groups
