Repository SharezoneApp/sharezone-app, pull requests merged in 2024-08, with the labels that each got.

#1642 Rework the public API of `GradesService`.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grades_service_internal.dart
  app/lib/grades/pages/create_term_page/create_term_page_controller.dart
  app/lib/grades/pages/grades_details_page/grade_details_page_controller.dart
  app/lib/grades/pages/grades_details_page/grade_details_page_controller_factory.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/subject_settings_page/subject_settings_page.dart
  app/lib/grades/pages/subject_settings_page/subject_settings_page_controller.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller_factory.dart
  app/lib/grades/pages/term_settings_page/term_settings_page_controller.dart
  app/lib/grades/pages/term_settings_page/term_settings_page_controller_factory.dart
  app/test/grades/grades_repository_test.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
  app/test/grades/pages/grade_details_page/grade_details_page_test.mocks.dart
  app/test_goldens/grades/pages/create_term_page/create_term_page_test.mocks.dart
  app/test_goldens/grades/pages/grade_details_page/grade_details_page_test.mocks.dart
  app/test_goldens/grades/pages/term_details_page/term_details_page_test.mocks.dart
  lib/feedback_shared_implementation/test_goldens/pages/feedback_details_page_test.mocks.dart
Labels: testing, feature: feedback, feature: grades

#1700 Remove Sharezone Wrapped
  app/assets/icons/graduation-cap.svg
  app/ios/Podfile.lock
  app/lib/dashboard/tips/dashboard_tip_system.dart
  app/lib/dashboard/tips/models/wrapped_tip.dart
  app/lib/main/plugin_initializations.dart
  app/lib/main/sharezone_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/settings/settings_page.dart
  app/lib/settings/src/bloc/user_tips_bloc.dart
  app/lib/sharezone_wrapped/sharezone_wrapped_controller.dart
  app/lib/sharezone_wrapped/sharezone_wrapped_image.dart
  app/lib/sharezone_wrapped/sharezone_wrapped_page.dart
  app/lib/sharezone_wrapped/sharezone_wrapped_repository.dart
  app/lib/sharezone_wrapped/sharezone_wrapped_view.dart
  app/lib/widgets/limited_chip.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/homework/homework_dialog_test.mocks.dart
  app/test/settings/notifications/notification_test.mocks.dart
  app/test/sharezone_wrapped/sharezone_wrapped_controller_test.dart
  app/test/sharezone_wrapped/sharezone_wrapped_controller_test.mocks.dart
  app/test/sharezone_wrapped/sharezone_wrapped_view_test.dart
  app/test_goldens/settings/settings_page_test.dart
  app/test_goldens/settings/settings_page_test.mocks.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.mocks.dart
Labels: feature: homework, platform: ios, feature: notifications, ui / ux, testing, dependencies, feature: sharezone plus, w: dashboard-page

#1701 Fixed grammar issues in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1699 Fixed double entry bug when clicking safe homework button again after uploading
  app/lib/homework/homework_dialog/homework_dialog.dart
Labels: documentation, feature: homework

#1705 Add build step for docs preview
  .github/workflows/unsafe_docs_ci.yml
Labels: ci/cd

#1706 Add "npm run format" command for docs folder
  docs/package-lock.json
  docs/package.json
Labels: documentation

#1707 Add format for mdx files
  bin/source_of_truth/commands_source_of_truth.yaml
  docs/pages/index.mdx
  docs/pages/more/content-creator-program.mdx
  docs/pages/more/firewall.mdx
Labels: documentation, ci/cd

#1704 Add workflow to automatically add new tickets to our triage board
  .github/workflows/add_ticket_to_board.yml
Labels: ci/cd

#1708 Reenable homework dialog save button on error.
  app/lib/homework/homework_dialog/homework_dialog.dart
Labels: feature: homework

#1714 Fix spelling error in support page
  app/lib/support/support_page.dart
  app/test_goldens/settings/support/goldens/support_page_with_plus_dark.iphone11.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_dark.phone.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_dark.phone_landscape.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_dark.tablet_landscape.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_dark.tablet_portrait.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_light.iphone11.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_light.phone.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_light.phone_landscape.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_light.tablet_landscape.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_light.tablet_portrait.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.iphone11.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.phone.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.phone_landscape.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.tablet_landscape.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.tablet_portrait.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.iphone11.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.phone.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.phone_landscape.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.tablet_landscape.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.tablet_portrait.png
Labels: testing

#1710 Add term settings page golden tests.
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_error_dark.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_error_dark.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_error_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_error_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_error_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_error_light.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_error_light.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_error_light.phone_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_error_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_error_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_loading_dark.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_loading_dark.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_loading_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_loading_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_loading_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_loading_light.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_loading_light.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_loading_light.phone_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_loading_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_loading_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_dark.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_dark.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_light.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_light.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_light.phone_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_dark.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_dark.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_light.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_light.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_light.phone_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/term_settings_page_test.dart
  app/test_goldens/grades/pages/term_settings_page/term_settings_page_test.mocks.dart
Labels: testing, feature: grades

#1711 Add subject settings page golden tests.
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_error_dark.iphone11.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_error_dark.phone.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_error_dark.phone_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_error_dark.tablet_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_error_dark.tablet_portrait.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_error_light.iphone11.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_error_light.phone.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_error_light.phone_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_error_light.tablet_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_error_light.tablet_portrait.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_loading_dark.iphone11.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_loading_dark.phone.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_loading_dark.phone_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_loading_dark.tablet_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_loading_dark.tablet_portrait.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_loading_light.iphone11.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_loading_light.phone.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_loading_light.phone_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_loading_light.tablet_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_loading_light.tablet_portrait.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_with_data_light.phone.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/subject_settings_page/goldens/subject_settings_page_with_data_light.tablet_portrait.png
  app/test_goldens/grades/pages/subject_settings_page/subject_settings_page_test.dart
  app/test_goldens/grades/pages/subject_settings_page/subject_settings_page_test.mocks.dart
Labels: testing, feature: grades

#1715 Remove "Erledigt-Status bei Hausaufgaben" as Sharezone advantage
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/lib/sharezone_v2/sz_v2_announcement_dialog.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_light_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_faq_section_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_faq_section_light_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/sharezone_plus_page_ui_test.dart
  website/lib/sharezone_plus/sharezone_plus_page.dart
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus, website

#1716 Add "Plus" to the website navigation bar
  website/lib/page.dart
  website/lib/sharezone_plus/sharezone_plus_page.dart
Labels: feature: sharezone plus, website

#1712 Enable changing display type of weights (factor or percentage)
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grades_repository.dart
  app/lib/grades/grades_service/src/grades_service_internal.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/term_settings_page/term_settings_page.dart
  app/lib/grades/pages/term_settings_page/term_settings_page_controller.dart
  app/lib/grades/pages/term_settings_page/term_settings_page_view.dart
  app/test/grades/grades_repository_test.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
  app/test/grades/pages/term_settings_page/term_settings_page_test.dart
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_dark.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_dark.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_light.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_light.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_page_with_data_2_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_dark.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_dark.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_light.iphone11.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_light.phone.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_settings_page/goldens/terms_settings_with_data_1_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_settings_page/term_settings_page_test.dart
Labels: documentation, testing, feature: grades

#1718 Delete duplicated test.
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

#1719 Throw `ArgumentError` when trying to change to a negative `Weight`.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grades_repository.dart
  app/lib/grades/grades_service/src/grades_service_internal.dart
  app/lib/grades/grades_service/src/term.dart
  app/test/grades/grades_repository_test.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

#1333 Add "Konto" and "App-Einstellung" section to docs
  docs/pages/_meta.json
  docs/pages/account.mdx
  docs/pages/account/_meta.json
  docs/pages/account/change-email.mdx
  docs/pages/account/change-name.mdx
  docs/pages/account/change-password.mdx
  docs/pages/account/change-province.mdx
  docs/pages/account/delete-account.mdx
  docs/pages/account/setup-email.mdx
  docs/pages/app-settings/_meta.json
  docs/pages/app-settings/notifications.mdx
  docs/pages/app-settings/notifications/_meta.json
  docs/pages/app-settings/notifications/comments.mdx
  docs/pages/app-settings/notifications/infopages.mdx
  docs/pages/app-settings/notifications/open-homework.mdx
  docs/pages/app-settings/theme.mdx
  docs/pages/app-settings/timetable.mdx
  docs/pages/more/_meta.json
Labels: documentation, feature: homework, feature: notifications, feature: timetable / calendar, ui / ux, feature: comments
