Repository SharezoneApp/sharezone-app, pull requests merged in 2024-06, with the labels that each got.

#1654 Add family license to the FAQ
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_faq.dart
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_faq_section_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_faq_section_light_theme.tablet_portrait.png
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#1647 Add teachers to substitution plan
  app/lib/dashboard/bloc/build_lesson_views.dart
  app/lib/timetable/src/models/lesson.dart
  app/lib/timetable/src/models/substitution.dart
  app/lib/timetable/timetable_page/lesson/substitution_controller.dart
  app/lib/timetable/timetable_page/lesson/substitution_section.dart
  app/lib/timetable/timetable_page/lesson/timetable_lesson_details.dart
  app/lib/timetable/timetable_page/lesson/timetable_lesson_tile.dart
  app/lib/util/api/timetable_gateway.dart
  app/test/timetable/mock/mock_timetable_gateway.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_light_theme.tablet_portrait.png
Labels: feature: homework, feature: timetable / calendar, ui / ux, feature: groups:courses, feature: groups, testing, ui: light-mode, user: teacher, ui: dark-mode, feature: sharezone plus, w: dashboard-page

#1662 Fix bugs of substitution plan
  app/lib/dashboard/bloc/build_lesson_views.dart
  app/lib/timetable/timetable_page/lesson/substitution_section.dart
  app/lib/timetable/timetable_page/lesson/timetable_lesson_tile.dart
Labels: feature: timetable / calendar, w: dashboard-page

#1663 Remove beta tag from substitution feature
  app/lib/timetable/timetable_page/lesson/substitution_section.dart
  app/lib/timetable/timetable_page/lesson/timetable_lesson_details.dart
Labels: feature: timetable / calendar

#1665 Migrate `index.html` to the new way of bootstrap Flutter
  app/web/index.html
Labels: platform: web

#1668 Fix typo in onboarding
  app/lib/onboarding/group_onboarding/pages/is_it_first_person_using_sharezone.dart
  app/pubspec.yaml
Labels: feature: onboarding, dependencies

#1659 Disable concurrency for `sz` command in our CI/CD pipeline
  .github/workflows/cli_ci.yml
  .github/workflows/safe_app_ci.yml
  .github/workflows/safe_console_ci.yml
  .github/workflows/safe_website_ci.yml
Labels: ci/cd, platform: web

#1672 Bump app version to v2.1.1
  app/pubspec.yaml
Labels: dependencies

#1675 Add equality operator to `AnalyticsEvent`
  lib/analytics/lib/src/analytics/analytics.dart
  lib/analytics/pubspec.lock
  lib/analytics/pubspec.yaml
Labels: dependencies, feature: analytics

#1676 Upgrade XCode to 15.4 for `codemagic.yaml`
  codemagic.yaml
Labels: ci/cd, build-app-preview

#1660 Sharezone Wrapped
  app/assets/icons/graduation-cap.svg
  app/ios/Podfile.lock
  app/lib/dashboard/sections/dashboard_tip.dart
  app/lib/dashboard/tips/dashboard_tip_system.dart
  app/lib/dashboard/tips/models/action.dart
  app/lib/dashboard/tips/models/rate_our_app_tip.dart
  app/lib/dashboard/tips/models/wrapped_tip.dart
  app/lib/main/plugin_initializations.dart
  app/lib/main/sharezone_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/settings/settings_page.dart
  app/lib/settings/src/bloc/user_tips_bloc.dart
  app/lib/sharezone_wrapped/sharezone_wrapped_controller.dart
  app/lib/sharezone_wrapped/sharezone_wrapped_image.dart
  app/lib/sharezone_wrapped/sharezone_wrapped_page.dart
  app/lib/sharezone_wrapped/sharezone_wrapped_repository.dart
  app/lib/sharezone_wrapped/sharezone_wrapped_view.dart
  app/lib/widgets/limited_chip.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/homework/homework_dialog_test.mocks.dart
  app/test/settings/notifications/notification_test.mocks.dart
  app/test/sharezone_wrapped/sharezone_wrapped_controller_test.dart
  app/test/sharezone_wrapped/sharezone_wrapped_controller_test.mocks.dart
  app/test/sharezone_wrapped/sharezone_wrapped_view_test.dart
  app/test_goldens/settings/settings_page_test.dart
  app/test_goldens/settings/settings_page_test.mocks.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.mocks.dart
Labels: feature: homework, platform: ios, feature: notifications, ui / ux, testing, dependencies, build-app-preview, feature: sharezone plus, w: dashboard-page

#1677 Bump app version to 2.1.2
  app/pubspec.yaml
Labels: dependencies

#1679 Fix join option when long pressing course while being a member
  app/lib/groups/src/pages/course/course_card.dart
Labels: feature: groups:courses, feature: groups
