Repository SharezoneApp/sharezone-app, pull requests merged in 2024-03, with the labels that each got.

#1335 Add formatting for Markdown files
  .github/ISSUE_TEMPLATE/bug_report.md
  .prettierignore
  CONTRIBUTING.md
  README.md
  app/android/fastlane/README.md
  app/integration_test/README.md
  app/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  app/lib/groups/group_join/README.md
  app/lib/sharezone_plus/README.md
  bin/source_of_truth/commands_source_of_truth.yaml
  lib/abgabe/abgabe_http_api/README.md
  lib/abgabe/abgabe_http_api/doc/AbgabeApi.md
  lib/abgabe/abgabe_http_api/doc/AbgabedateiApi.md
  lib/abgabe/abgabe_http_api/doc/AbgabedateienApi.md
  lib/abgabe/abgabe_http_api/doc/DateiHinzufuegenCommandDto.md
  lib/abgabe/abgabe_http_api/doc/DateiHinzufuegenCommandDto1.md
  lib/abgabe/abgabe_http_api/doc/DateienHinzufuegenCommandDto.md
  lib/abgabe/abgabe_http_api/doc/DateinameDto.md
  lib/abgabe/abgabe_http_api/doc/InlineResponse400.md
  lib/abgabe/abgabe_http_api/doc/InlineResponse403.md
  lib/abgabe/abgabe_http_api/doc/SubmissionDto.md
  lib/authentification/authentification_qrcode/README.md
  lib/hausaufgabenheft_logik/README.md
  lib/qr_code_scanner/README.md
  lib/qr_code_scanner/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  lib/sharezone_lints/REAMDE.md
  tools/sz_repo_cli/lib/src/commands/src/format_command.dart
Labels: documentation, ci/cd, code quality, sharezone cli

#1336 Add ".firebase/" to docs gitignore
  docs/.gitignore
Labels: documentation

#1338 Add video to delete account docs
  docs/pages/account/delete-account.mdx
Labels: documentation

#1337 Fix link to privacy policy in docs footer
  docs/theme.config.jsx
Labels: documentation, ui / ux

#1341 Fix disconnecting Google account for signing in with Google.
  lib/authentification/authentification_base/lib/src/google/google_sign_in_logic.dart
Labels: feature: authentification

#1350 Add `sz build website` command to Sharezone Repo CLI
  .github/workflows/unsafe_website_ci.yml
  .github/workflows/website_cd.yml
  tools/sz_repo_cli/lib/src/commands/src/build_website_command.dart
  tools/sz_repo_cli/lib/src/main.dart
Labels: ci/cd, platform: web, sharezone cli

#1340 Upgrade `compileSdkVersion` and `targetSdkVersion` from 33 to 34
  app/android/app/build.gradle
Labels: platform: android

#1351 Add missing FIREBASE_CLI_EXPERIMENTS flag for Docs CD pipeline
  .github/workflows/docs_cd.yml
Labels: ci/cd

#1353 Only deploy docs when "docs/" folder changed
  .github/workflows/docs_cd.yml
Labels: ci/cd

#1352 Only deploy website when "website/**" has changed
  .github/workflows/website_cd.yml
Labels: ci/cd, platform: web

#1354 Remove "app/macos" path as an exception for alpha updates
  .github/workflows/alpha.yml
Labels: ci/cd

#1355 Add missing `CI_CD_DART_SCRIPTS_PACKAGE_PATH` in "website_cd.yml" and "unsafe_website_ci.yml"
  .github/workflows/unsafe_website_ci.yml
  .github/workflows/website_cd.yml
Labels: ci/cd, platform: web

#1357 Migrate to FVM 3
  .fvm/fvm_config.json
  .fvmrc
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/cli_ci.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/licence.yml
  .github/workflows/safe_app_ci.yml
  .github/workflows/safe_website_ci.yml
  .github/workflows/stable.yml
  .github/workflows/unsafe_app_ci.yml
  .github/workflows/unsafe_website_ci.yml
  .github/workflows/website_cd.yml
  .gitignore
  .vscode/settings.json
Labels: ci/cd, platform: web, dependencies

#1358 Remove `--credentials` parameter in `sz deploy web`
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/stable.yml
  tools/sz_repo_cli/lib/src/commands/src/deploy_web_app_command.dart
Labels: ci/cd, platform: web, sharezone cli

#1356 Add `sz deploy website` command to Sharezone Repo CLI
  .github/workflows/website_cd.yml
  tools/sz_repo_cli/lib/src/commands/src/deploy_website_command.dart
  tools/sz_repo_cli/lib/src/main.dart
Labels: ci/cd, platform: web, sharezone cli

#1359 Add `robots.txt` and `sitemap.xml` for website
  tools/sz_repo_cli/lib/src/commands/src/build_website_command.dart
  website/web/robots_dev.txt
  website/web/robots_prod.txt
  website/web/sitemap.xml
Labels: platform: web, sharezone cli, website

#1361 Add `sz.bat` and `sharezone.bat` to `/bin`.
  CONTRIBUTING.md
  bin/sharezone.bat
  bin/sz.bat
Labels: documentation

#1362 Fix deploy commands to use new build command
  tools/sz_repo_cli/lib/src/commands/src/deploy_app_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_app_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_app_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_app_web_command.dart
Labels: platform: macos, platform: web, platform: ios, platform: android, sharezone cli

#1363 Replace `flutter build apk` with `sz build android` in `alpha.yml`
  .github/workflows/alpha.yml
Labels: ci/cd

#1268 Change "Benutzerdefiniert" to "In X Stunden"
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/test/homework/homework_dialog_test.dart
Labels: feature: homework, testing

#1349 Add option to change the type of user
  app/lib/main/sharezone_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/settings/src/subpages/my_profile/change_type_of_user/change_type_of_user_analytics.dart
  app/lib/settings/src/subpages/my_profile/change_type_of_user/change_type_of_user_controller.dart
  app/lib/settings/src/subpages/my_profile/change_type_of_user/change_type_of_user_page.dart
  app/lib/settings/src/subpages/my_profile/change_type_of_user/change_type_of_user_service.dart
  app/lib/settings/src/subpages/my_profile/my_profile_page.dart
  app/macos/Runner.xcodeproj/project.pbxproj
  app/test_goldens/settings/change_type_of_user/change_type_of_user_test.dart
  app/test_goldens/settings/change_type_of_user/change_type_of_user_test.mocks.dart
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_dark.iphone11.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_dark.phone.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_dark.phone_landscape.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_dark.tablet_landscape.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_dark.tablet_portrait.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_failure_ChangeTypeOfUserUnknownException.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_failure_ChangedTypeOfUserTooOftenException.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_failure_NoTypeOfUserSelectedException.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_failure_TypeUserOfUserHasNotChangedException.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_light.iphone11.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_light.phone.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_light.phone_landscape.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_light.tablet_landscape.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_light.tablet_portrait.png
  app/test_goldens/settings/change_type_of_user/goldens/change_type_of_user_page_successful.png
Labels: platform: macos, testing, feature: analytics

#1365 Remove anonymous option from feedback page
  app/lib/feedback/feedback_box_page.dart
  app/lib/feedback/src/bloc/feedback_bloc.dart
  app/test/feedback/feedback_bloc_test.dart
  app/test/feedback/feedback_page_test.dart
Labels: testing, feature: feedback

#1367 Open source our console
  console/.firebaserc
  console/.gitignore
  console/.metadata
  console/README.md
  console/assets/login_image.png
  console/firebase.json
  console/lib/activation_codes/activation_codes_page.dart
  console/lib/activation_codes/bloc/new_activation_code_bloc.dart
  console/lib/activation_codes/pages/new_activation_code_page.dart
  console/lib/bloc/bloc_base.dart
  console/lib/bloc/bloc_provider.dart
  console/lib/firebase_options.dart
  console/lib/home_page.dart
  console/lib/login_signup_page.dart
  console/lib/main.dart
  console/lib/pages/change_type_of_user.dart
  console/lib/widgets/date_picker.dart
  console/lib/widgets/picker.dart
  console/lib/widgets/text_field_labeled.dart
  console/pubspec.lock
  console/pubspec.yaml
  console/web/favicon.png
  console/web/icons/Icon-192.png
  console/web/icons/Icon-512.png
  console/web/index.html
  console/web/manifest.json
  console/web/robots.txt
Labels: documentation, ci/cd, ui / ux, feature: authentification, dependencies

#1370 Add `admin console` to `labeler.yml`.
  .github/labeler.yml
Labels: ci/cd

#1369 Fix analyzer issues in `console`.
  console/lib/pages/change_type_of_user.dart
Labels: admin console

#1368 Add `sharezone_console` to cli tasks.
  tools/sz_repo_cli/lib/src/common/src/sharezone_repo.dart
Labels: sharezone cli, admin console

#1371 Add `borderColor` to `CustomCard`
  lib/sharezone_widgets/lib/src/widgets.dart
Labels: ui / ux

#1372 Add `ErrorCard` to `sharezone_widgets`
  lib/sharezone_widgets/lib/sharezone_widgets.dart
  lib/sharezone_widgets/lib/src/widgets/error_card.dart
  lib/sharezone_widgets/test/widgets/error_card_test.dart
  lib/sharezone_widgets/test_goldens/widgets/error_card_test.dart
  lib/sharezone_widgets/test_goldens/widgets/goldens/error_card_dark.iphone11.png
  lib/sharezone_widgets/test_goldens/widgets/goldens/error_card_dark.phone.png
  lib/sharezone_widgets/test_goldens/widgets/goldens/error_card_dark.phone_landscape.png
  lib/sharezone_widgets/test_goldens/widgets/goldens/error_card_dark.tablet_landscape.png
  lib/sharezone_widgets/test_goldens/widgets/goldens/error_card_dark.tablet_portrait.png
  lib/sharezone_widgets/test_goldens/widgets/goldens/error_card_light.iphone11.png
  lib/sharezone_widgets/test_goldens/widgets/goldens/error_card_light.phone.png
  lib/sharezone_widgets/test_goldens/widgets/goldens/error_card_light.phone_landscape.png
  lib/sharezone_widgets/test_goldens/widgets/goldens/error_card_light.tablet_landscape.png
  lib/sharezone_widgets/test_goldens/widgets/goldens/error_card_light.tablet_portrait.png
Labels: ui / ux, testing

#1374 Fix deployment of Android alpha
  .github/workflows/alpha.yml
Labels: ci/cd

#1373 Add feature to view the feedback history
  app/lib/feedback/feedback_box_page.dart
  app/lib/feedback/history/feedback_history_page.dart
  app/lib/feedback/history/feedback_history_page_analytics.dart
  app/lib/feedback/history/feedback_history_page_controller.dart
  app/lib/feedback/history/feedback_view.dart
  app/lib/feedback/src/api/feedback_api.dart
  app/lib/feedback/src/api/firebase_feedback_api.dart
  app/lib/feedback/src/models/user_feedback.dart
  app/lib/main/sharezone_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test/feedback/feedback_history_page_controller_test.dart
  app/test/feedback/feedback_history_page_controller_test.mocks.dart
  app/test/feedback/mock_feedback_api.dart
  app/test_goldens/feedback/history/feedback_history_page_test.dart
  app/test_goldens/feedback/history/feedback_history_page_test.mocks.dart
  app/test_goldens/feedback/history/goldens/feedback_history_page_dark.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_dark.phone.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_dark.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_dark.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_dark.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_empty_dark.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_empty_dark.phone.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_empty_dark.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_empty_dark.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_empty_dark.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_empty_light.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_empty_light.phone.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_empty_light.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_empty_light.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_empty_light.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_error_dark.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_error_dark.phone.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_error_dark.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_error_dark.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_error_dark.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_error_light.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_error_light.phone.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_error_light.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_error_light.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_error_light.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_light.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_light.phone.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_light.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_light.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_light.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_loading_dark.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_loading_dark.phone.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_loading_dark.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_loading_dark.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_loading_dark.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_loading_light.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_loading_light.phone.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_loading_light.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_loading_light.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_history_page_loading_light.tablet_portrait.png
Labels: testing, feature: feedback, feature: analytics

#1375 Add repository overview to our `README.md`
  README.md
Labels: documentation

#1320 Replace randomness in tests with deterministic randomness.
  app/pubspec.lock
  app/pubspec.yaml
  app/test/dashboard/update_reminder_bloc_test.dart
  app/test/feedback/feedback_bloc_test.dart
  app/test/feedback/feedback_page_test.dart
  app/test/groups/group_join_select_courses_bloc_test.dart
  app/test/holidays/holiday_bloc_unit_test.dart
  app/test/homework/homework_dialog_test.dart
  app/test/homework/teacher/teacher_homework_page_widget_test.dart
  app/test/timetable/school_class_filter_view_test.dart
  app/test/timetable/timetable_bloc_test.dart
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.yaml
  lib/abgabe/abgabe_client_lib/test/bloc_test.dart
  lib/firebase_hausaufgabenheft_logik/pubspec.lock
  lib/hausaufgabenheft_logik/lib/src/lehrer/teacher_homework_page_bloc.dart
  lib/hausaufgabenheft_logik/pubspec.lock
  lib/hausaufgabenheft_logik/pubspec.yaml
  lib/hausaufgabenheft_logik/test/create_homework_util.dart
  lib/sharezone_utils/test/random_string/random_string_test.dart
  lib/test_randomness/.gitignore
  lib/test_randomness/.metadata
  lib/test_randomness/analysis_options.yaml
  lib/test_randomness/lib/src/test_randomness.dart
  lib/test_randomness/lib/test_randomness.dart
  lib/test_randomness/pubspec.lock
  lib/test_randomness/pubspec.yaml
  licenses_config.yaml
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
Labels: code quality, feature: homework, feature: homework-submissions, feature: timetable / calendar, feature: information sheet, feature: holidays, feature: groups:courses, feature: groups:classes, feature: groups, testing, user: teacher, sharezone cli, dependencies, feature: feedback, w: dashboard-page

#1380 Fix loading feedback when rating is null
  app/lib/feedback/history/feedback_view.dart
  app/lib/feedback/src/models/user_feedback.dart
  app/test/feedback/feedback_view_test.dart
Labels: testing, feature: feedback

#1381 Show created on timestamp in file sheet
  app/lib/filesharing/widgets/sheet.dart
Labels: feature: file-sharing, ui / ux, feature: universal file features

#1384 Sort feedback history by `createdOn`
  app/lib/feedback/src/api/firebase_feedback_api.dart
Labels: feature: feedback

#1386 Add "Discord Sharezone Plus Rang" to Sharezone Plus page
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_light_theme.tablet_portrait.png
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#1388 Fix settings page for dark mode
  lib/sharezone_widgets/lib/src/theme/brightness/dark_theme.dart
Labels: ui / ux, ui: dark-mode

#1385 Fix color of continue button in onboarding
  app/lib/auth/login_button.dart
Labels: feature: authentification

#1390 Ignore `Pods` folders for license headers
  bin/source_of_truth/commands_source_of_truth.yaml
Labels: ci/cd

#1391 Fix timetable time view for periods with 45 minutes
  app/lib/timetable/src/widgets/timetable_time_view.dart
Labels: feature: timetable / calendar, ui / ux

#1395 Add flavors (prod & dev) to our console
  console/lib/firebase_options_dev.g.dart
  console/lib/firebase_options_prod.g.dart
  console/lib/flavor.dart
  console/lib/main.dart
Labels: admin console

#1398 List features of Sharezone as bullet points in `README.md`
  README.md
Labels: documentation

#1394 Add feedback details page
  app/lib/feedback/history/feedback_details_page.dart
  app/lib/feedback/history/feedback_details_page_controller.dart
  app/lib/feedback/history/feedback_history_page.dart
  app/lib/feedback/history/feedback_view.dart
  app/lib/feedback/shared/feedback_icons.dart
  app/lib/feedback/src/api/feedback_api.dart
  app/lib/feedback/src/api/firebase_feedback_api.dart
  app/lib/feedback/src/models/user_feedback.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/notifications/action_requests/show_feedback.dart
  app/lib/notifications/firebase_messaging_callback_configurator.dart
  app/lib/notifications/setup_push_notification_action_handler.dart
  app/test/feedback/feedback_history_page_controller_test.mocks.dart
  app/test/feedback/feedback_view_test.dart
  app/test/feedback/mock_feedback_api.dart
  app/test/notifications/push_notification_action_handler/scaffolding.dart
  app/test_goldens/feedback/history/feedback_details_page_test.dart
  app/test_goldens/feedback/history/feedback_details_page_test.mocks.dart
  app/test_goldens/feedback/history/feedback_history_page_test.dart
  app/test_goldens/feedback/history/goldens/feedback_details_page_error_dark.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_error_dark.phone.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_error_dark.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_error_dark.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_error_dark.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_error_light.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_error_light.phone.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_error_light.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_error_light.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_error_light.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loaded_dark.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loaded_dark.phone.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loaded_dark.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loaded_dark.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loaded_dark.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loaded_light.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loaded_light.phone.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loaded_light.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loaded_light.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loaded_light.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loading_dark.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loading_dark.phone.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loading_dark.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loading_dark.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loading_dark.tablet_portrait.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loading_light.iphone11.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loading_light.phone.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loading_light.phone_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loading_light.tablet_landscape.png
  app/test_goldens/feedback/history/goldens/feedback_details_page_loading_light.tablet_portrait.png
Labels: feature: notifications, testing, feature: feedback

#1399 Add `sz build console` command
  tools/sz_repo_cli/lib/src/commands/src/build_console_command.dart
  tools/sz_repo_cli/lib/src/main.dart
Labels: sharezone cli

#1401 Extract `getCurrentCommitHash` into `deploy_utils.dart` for code sharing
  tools/sz_repo_cli/lib/src/commands/src/deploy_app_web_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_website_command.dart
  tools/sz_repo_cli/lib/src/common/src/deploy_utils.dart
Labels: platform: web, sharezone cli

#1400 Add `sz deploy console` command
  tools/sz_repo_cli/lib/src/commands/src/deploy_console_command.dart
  tools/sz_repo_cli/lib/src/main.dart
Labels: sharezone cli

#1402 Fix link to delete account docs
  website/firebase.json
Labels: ci/cd, website

#1405 Auto assign the "feature: grades" label
  .github/labeler.yml
Labels: ci/cd

#1407 Add grades page
  app/lib/grades/grades_page.dart
  app/lib/grades/models/subject_id.dart
  app/lib/grades/models/term_id.dart
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/lib/grades/pages/grades_view.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/navigation/models/navigation_item.dart
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_empty_dark.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_empty_dark.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_empty_dark.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_empty_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_empty_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_empty_light.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_empty_light.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_empty_light.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_empty_light.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_empty_light.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_error_dark.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_error_dark.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_error_dark.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_error_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_error_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_error_light.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_error_light.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_error_light.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_error_light.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_error_light.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_loading_dark.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_loading_dark.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_loading_dark.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_loading_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_loading_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_loading_light.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_loading_light.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_loading_light.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_loading_light.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_loading_light.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/grades_page_test.dart
  app/test_goldens/grades/pages/grades_page/grades_page_test.mocks.dart
Labels: feature: navigation, testing, feature: grades

#1408 Update documentation for running Flutter Integration tests with Chrome
  app/integration_test/README.md
Labels: documentation, testing

#1393 Refactor course create page
  app/lib/filesharing/dialog/course_tile.dart
  app/lib/groups/src/pages/course/create/analytics/course_create_analytics.dart
  app/lib/groups/src/pages/course/create/analytics/events/course_create_event.dart
  app/lib/groups/src/pages/course/create/bloc/course_create_bloc.dart
  app/lib/groups/src/pages/course/create/bloc/course_create_bloc_factory.dart
  app/lib/groups/src/pages/course/create/course_create_page.dart
  app/lib/groups/src/pages/course/create/course_template_page.dart
  app/lib/groups/src/pages/course/create/gateway/course_create_gateway.dart
  app/lib/groups/src/pages/course/create/models/course_template.dart
  app/lib/groups/src/pages/course/create/models/user_input.dart
  app/lib/groups/src/pages/course/create/pages/course_create_page.dart
  app/lib/groups/src/pages/course/create/pages/course_template_page.dart
  app/lib/groups/src/pages/course/create/src/gateway/course_create_gateway.dart
  app/lib/groups/src/pages/course/group_page.dart
  app/lib/groups/src/pages/school_class/card/school_class_card.dart
  app/lib/groups/src/pages/school_class/create_course/school_class_course_template_page.dart
  app/lib/groups/src/pages/school_class/create_course/school_class_create_course_bloc.dart
  app/lib/groups/src/pages/school_class/school_class_details/school_class_course_list.dart
  app/lib/main/sharezone_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/onboarding/group_onboarding/pages/create_courses.dart
  app/lib/timetable/src/widgets/timetable_day_view.dart
  app/lib/util/api/course_gateway.dart
  app/lib/util/api/school_class_gateway.dart
  app/test/course/course_create_bloc_test.dart
  app/test/course/course_create_bloc_test.mocks.dart
  app/test/homework/homework_dialog_test.mocks.dart
  app/test/timetable/mock/mock_school_class_gateway.dart
  app/test_goldens/groups/src/pages/course/create/course_template_page_test.dart
  app/test_goldens/groups/src/pages/course/create/course_template_page_test.mocks.dart
  app/test_goldens/groups/src/pages/course/create/goldens/course_template_page_dark.iphone11.png
  app/test_goldens/groups/src/pages/course/create/goldens/course_template_page_dark.phone.png
  app/test_goldens/groups/src/pages/course/create/goldens/course_template_page_dark.phone_landscape.png
  app/test_goldens/groups/src/pages/course/create/goldens/course_template_page_dark.tablet_landscape.png
  app/test_goldens/groups/src/pages/course/create/goldens/course_template_page_dark.tablet_portrait.png
  app/test_goldens/groups/src/pages/course/create/goldens/course_template_page_light.iphone11.png
  app/test_goldens/groups/src/pages/course/create/goldens/course_template_page_light.phone.png
  app/test_goldens/groups/src/pages/course/create/goldens/course_template_page_light.phone_landscape.png
  app/test_goldens/groups/src/pages/course/create/goldens/course_template_page_light.tablet_landscape.png
  app/test_goldens/groups/src/pages/course/create/goldens/course_template_page_light.tablet_portrait.png
  lib/common_domain_models/lib/src/ids/ids.dart
  lib/common_domain_models/lib/src/ids/school_class_id.dart
  lib/group_domain_models/lib/src/models/course.dart
  lib/group_domain_models/lib/src/models/school_class.dart
Labels: feature: homework, feature: file-sharing, feature: timetable / calendar, ui / ux, feature: universal file features, feature: groups:courses, feature: groups:classes, feature: groups, testing, feature: onboarding, feature: analytics

#1387 Add integration test to load feedback history
  app/integration_test/integration_test_old.dart
  app/lib/feedback/feedback_box_page.dart
  app/lib/keys.dart
  app/lib/navigation/models/navigation_item.dart
Labels: feature: navigation, testing, feature: feedback

#1414 Add term details page
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/shared/subject_avatar.dart
  app/lib/grades/pages/shared/term_tile.dart
  app/lib/grades/pages/term_details_page/term_details_page.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller_factory.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_error_dark.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_error_dark.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_error_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_error_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_error_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_error_light.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_error_light.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_error_light.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_error_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_error_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_loading_dark.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_loading_dark.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_loading_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_loading_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_loading_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_loading_light.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_loading_light.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_loading_light.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_loading_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_loading_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/term_details_page_test.dart
  app/test_goldens/grades/pages/term_details_page/term_details_page_test.mocks.dart
Labels: testing, feature: grades

#1411 Add `--only` parameter to `cli` CI
  .github/workflows/cli_ci.yml
Labels: ci/cd

#1413 Set the width of snack bar for larger devices
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_dark.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_light.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_light.tablet_portrait.png
  lib/sharezone_widgets/lib/src/snackbars.dart
Labels: feature: homework, ui / ux, feature: attachments, testing

#1415 Fix `permissioned denied` bug when signing out
  app/lib/blackboard/blocs/blackboard_page_bloc.dart
  app/lib/dashboard/bloc/dashboard_bloc.dart
  app/lib/main/run_app.dart
  app/lib/main/sharezone.dart
  app/lib/main/sharezone_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/util/api.dart
  app/lib/util/api/blackboard_api.dart
  app/lib/util/api/connections_gateway.dart
  app/lib/util/api/homework_api.dart
  app/lib/util/api/user_api.dart
  app/test/homework/homework_dialog_test.mocks.dart
  lib/authentification/authentification_base/lib/src/blocs/auth_state_changed.dart
  lib/authentification/authentification_base/lib/src/models/auth_user.dart
Labels: feature: homework, feature: information sheet, testing, w: dashboard-page

#1416 Use Sharezone light theme for admin console
  console/lib/login_signup_page.dart
  console/lib/main.dart
Labels: feature: authentification, admin console

#1412 Add CI/CD for our admin console
  .github/workflows/console_cd.yml
  .github/workflows/safe_console_ci.yml
  .github/workflows/unsafe_console_ci.yml
Labels: ci/cd

#1417 Center to the advantage tiles in the sign up process
  app/lib/onboarding/sign_up/pages/advantages.dart
  app/lib/onboarding/sign_up/pages/data_protection_overview.dart
  app/lib/onboarding/sign_up/sign_up_page.dart
Labels: feature: onboarding, feature: authentification

#1421 Fix duplicated markdown note on timetable event edit page.
  app/lib/timetable/timetable_edit/event/timetable_event_edit_page.dart
Labels: feature: timetable / calendar

#1422 Add `MaxWidthConstraintBox` to `TimetableEditEventPage`
  app/lib/timetable/timetable_edit/event/timetable_event_edit_page.dart
Labels: feature: timetable / calendar

#1423 Add `sharezone-console-dev` site
  console/.firebaserc
Labels: ci/cd, admin console

#1424 Use native browser viewer for PDF files
  app/lib/filesharing/file_page.dart
  app/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/filesharing/files_usecases/lib/src/file_viewer/pages/pdf_file_page.dart
  lib/filesharing/files_usecases/pubspec.lock
  lib/filesharing/files_usecases/pubspec.yaml
  lib/filesharing/filesharing_logic/pubspec.lock
Labels: feature: homework-submissions, feature: file-sharing, feature: universal file features, dependencies

#1427 Format `app/integration_test.md`
  app/integration_test/README.md
Labels: documentation, testing

#1420 Add note that changing the course of a homework is not possible.
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/test/homework/homework_dialog_test.dart
  lib/sharezone_widgets/lib/src/creation_editing_dialog_widgets/course_tile_base.dart
Labels: feature: homework, ui / ux, feature: groups:courses, testing

#1425 Remove unused `files_web` and `ViewInNewTabPage`
  app/pubspec.lock
  lib/filesharing/files_usecases/lib/file_viewer.dart
  lib/filesharing/files_usecases/lib/src/file_viewer/pages/view_in_new_tab_page.dart
  lib/filesharing/files_usecases/pubspec.lock
  lib/filesharing/files_usecases/pubspec.yaml
  lib/filesharing/files_web/.gitignore
  lib/filesharing/files_web/.metadata
  lib/filesharing/files_web/analysis_options.yaml
  lib/filesharing/files_web/lib/src/web_file_open/web_file_open_html.dart
  lib/filesharing/files_web/lib/src/web_file_open/web_file_open_stub.dart
  lib/filesharing/files_web/lib/web_file_open.dart
  lib/filesharing/files_web/pubspec.lock
  lib/filesharing/files_web/pubspec.yaml
  lib/filesharing/filesharing_logic/pubspec.lock
  licenses_config.yaml
Labels: code quality, platform: web, feature: file-sharing, feature: universal file features, dependencies

#1429 Add `GradeDetailsPage`
  app/lib/grades/pages/grades_details_page/grade_details_page.dart
  app/lib/grades/pages/grades_details_page/grade_details_page_controller.dart
  app/lib/grades/pages/grades_details_page/grade_details_page_controller_factory.dart
  app/lib/grades/pages/grades_details_page/grade_details_view.dart
  app/lib/grades/pages/shared/saved_grade_icons.dart
  app/lib/grades/pages/shared/saved_grade_id.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test/grades/pages/grade_details_page/grade_details_page_test.dart
  app/test/grades/pages/grade_details_page/grade_details_page_test.mocks.dart
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_error_dark.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_error_dark.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_error_dark.phone_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_error_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_error_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_error_light.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_error_light.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_error_light.phone_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_error_light.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_error_light.tablet_portrait.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_dark.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_dark.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_dark.phone_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_light.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_light.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_light.phone_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_light.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_light.tablet_portrait.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.tablet_portrait.png
  app/test_goldens/grades/pages/grade_details_page/grade_details_page_test.dart
  app/test_goldens/grades/pages/grade_details_page/grade_details_page_test.mocks.dart
Labels: testing, feature: grades

#1431 Fix two small things for the dark mode
  app/lib/auth/login_button.dart
  lib/sharezone_widgets/lib/src/widgets.dart
Labels: ui / ux, feature: authentification

#1430 Update iOS `Podfile.lock` and `project.pbxproj`
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
Labels: platform: ios

#1433 Make `Id` and all subclasses const
  app/lib/feedback/history/feedback_history_page.dart
  app/lib/grades/models/subject_id.dart
  app/lib/grades/models/term_id.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/lib/grades/pages/shared/saved_grade_id.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller.dart
  app/lib/privacy_policy/src/table_of_contents/table_of_contents.dart
  app/lib/sharezone_plus/subscription_service/purchase_service.dart
  app/lib/sharezone_plus/subscription_service/subscription_item.dart
  app/test/feedback/feedback_history_page_controller_test.dart
  app/test/grades/pages/grade_details_page/grade_details_page_test.dart
  app/test/homework/homework_dialog_bloc_test.dart
  app/test/homework/homework_dialog_test.dart
  app/test/notifications/push_notification_action_handler/push_notification_action_handler_test.dart
  app/test/settings/support/support_page_controller_test.dart
  app/test/timetable/timetable_bloc_test.dart
  app/test/timetable/timetable_dialog_test.dart
  app/test_goldens/feedback/history/feedback_history_page_test.dart
  app/test_goldens/grades/pages/grade_details_page/grade_details_page_test.dart
  app/test_goldens/grades/pages/grades_page/grades_page_test.dart
  app/test_goldens/grades/pages/term_details_page/term_details_page_test.dart
  app/test_goldens/homework/homework_dialog/homework_dialog_test.dart
  app/test_goldens/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page_test.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/abgaben_commands.dart
  lib/abgabe/abgabe_client_lib/test/bloc_test.dart
  lib/common_domain_models/lib/src/ids/abgabedatei_id.dart
  lib/common_domain_models/lib/src/ids/abgaben_id.dart
  lib/common_domain_models/lib/src/ids/abgabenziel_id.dart
  lib/common_domain_models/lib/src/ids/blackboard_item_id.dart
  lib/common_domain_models/lib/src/ids/class_id.dart
  lib/common_domain_models/lib/src/ids/course_id.dart
  lib/common_domain_models/lib/src/ids/datei_id.dart
  lib/common_domain_models/lib/src/ids/file_id.dart
  lib/common_domain_models/lib/src/ids/group_id.dart
  lib/common_domain_models/lib/src/ids/homework_id.dart
  lib/common_domain_models/lib/src/ids/school_class_id.dart
  lib/common_domain_models/lib/src/ids/src/id.dart
  lib/common_domain_models/lib/src/ids/timetable_event_id.dart
  lib/common_domain_models/lib/src/ids/user_id.dart
  lib/feedback_shared_implementation/lib/src/models/feedback_chat_message_id.dart
  lib/feedback_shared_implementation/lib/src/models/feedback_id.dart
  lib/feedback_shared_implementation/lib/src/models/user_feedback.dart
  lib/feedback_shared_implementation/lib/src/pages/feedback_details_page.dart
  lib/feedback_shared_implementation/lib/src/pages/feedback_details_page_controller.dart
  lib/feedback_shared_implementation/test/pages/feedback_view_test.dart
  lib/feedback_shared_implementation/test_goldens/pages/feedback_details_page_test.dart
  lib/hausaufgabenheft_logik/test/create_student_homework_view_test.dart
Labels: feature: homework, feature: homework-submissions, feature: notifications, feature: timetable / calendar, feature: information sheet, feature: groups:courses, feature: groups:classes, feature: groups, testing, user: teacher, user: pupil / student, refactoring, feature: feedback, feature: sharezone plus, feature: grades

#1418 Add grades dialog (without any logic)
  app/lib/grades/pages/grades_details_page/grade_details_page.dart
  app/lib/grades/pages/grades_dialog/grades_dialog.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
  app/lib/grades/pages/grades_dialog/optional_fields.dart
  app/lib/grades/pages/grades_dialog/required_fields.dart
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/shared/saved_grade_icons.dart
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_dark.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_dark.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_light.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_light.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_light.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_loading_light.tablet_portrait.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.tablet_portrait.png
Labels: testing, feature: grades

#1434 Add basic grades logic.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/models/grade_id.dart
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/lib/grades/pages/term_dialog/term_dialog.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_widget_test.dart
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/grades_page_test.mocks.dart
  lib/abgabe/abgabe_client_lib/pubspec.lock
Labels: feature: homework-submissions, feature: navigation, testing, dependencies, feature: grades

#1436 Add adding grades to a term and enhance grade logic.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_dialog/grades_dialog.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
  app/lib/grades/pages/grades_dialog/required_fields.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/lib/grades/pages/grades_view.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/test/grades/grade_types_test.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
  app/test/grades/grading_systems_test.dart
Labels: feature: homework-submissions, testing, dependencies, feature: grades
