Repository SharezoneApp/sharezone-app, pull requests merged in 2024-07, with the labels that each got.

#1678 Consider holidays for next schoolday
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/lib/homework/homework_dialog/homework_dialog_bloc.dart
  app/lib/util/next_schoolday_calculator/next_schoolday_calculator.dart
  app/test/homework/homework_dialog_bloc_test.dart
  app/test/homework/homework_dialog_test.dart
Labels: feature: homework, testing

#1682 Only highlight soon upcoming events
  app/lib/calendrical_events/page/past_calendrical_events_page.dart
  app/lib/timetable/src/widgets/events/calender_event_card.dart
  app/lib/timetable/src/widgets/events/event_view.dart
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.tablet_portrait.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.tablet_portrait.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.tablet_portrait.png
  app/test_goldens/calendrical_events/page/past_calendrical_events_page_test.dart
Labels: feature: timetable / calendar, ui / ux, testing

#1686 Invoke `flutter`/`dart` directly instead of `fvm flutter`/`fvm dart` in `sz` cli
  app/integration_test/README.md
  bin/sharezone.bat
  licenses_config.yaml
  tools/sz_repo_cli/lib/src/commands/src/analyze_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_app_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_app_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_app_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_app_web_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_console_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_runner_build_command.dart
  tools/sz_repo_cli/lib/src/commands/src/build_website_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_app_android_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_app_ios_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_app_macos_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_app_web_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_console_command.dart
  tools/sz_repo_cli/lib/src/commands/src/deploy_website_command.dart
  tools/sz_repo_cli/lib/src/commands/src/exec_command.dart
  tools/sz_repo_cli/lib/src/commands/src/format_command.dart
  tools/sz_repo_cli/lib/src/commands/src/pub_get_command.dart
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
  tools/sz_repo_cli/lib/src/common/src/process_runner_utils.dart
Labels: documentation, platform: macos, platform: web, platform: ios, platform: android, testing, sharezone cli

#1691 Use adaptive platform density for privacy policy.
  app/lib/legal/privacy_policy/privacy_policy_page.dart
Labels: legal, ui / ux
