Repository SharezoneApp/sharezone-app, pull requests merged in 2024-04, with the labels that each got.

#1440 Add devenv / Nix package management to repo
  .envrc
  .gitignore
  bin/source_of_truth/commands_source_of_truth.yaml
  devenv.lock
  devenv.nix
  devenv.yaml
Labels: ci/cd

#1444 Remove `check-code-generation`
  .github/workflows/safe_app_ci.yml
Labels: ci/cd

#1441 Add more grading systems
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_system.dart
  app/lib/grades/grades_service/src/grading_systems.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
  app/lib/grades/pages/grades_dialog/required_fields.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/lib/grades/pages/term_dialog/term_dialog.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/test/grades/grades_test_common.dart
  app/test/grades/grading_systems_test.dart
Labels: documentation, ci/cd, testing, dependencies, feature: grades

#1442 Don't show average grade if grading system is not numerical.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_systems.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/test/grades/grades_test.dart
Labels: testing, feature: grades

#1446 Add grades feature to sales page
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.phone.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.phone.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#1447 Add note about a school class license to the FAQ
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_faq.dart
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_faq_section_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_faq_section_light_theme.tablet_portrait.png
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#1448 Add updating and deleting a Term.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/term_dialog/term_dialog_controller.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

#1449 Add page to create a term
  app/lib/grades/pages/create_term_page/create_term_analytics.dart
  app/lib/grades/pages/create_term_page/create_term_page.dart
  app/lib/grades/pages/create_term_page/create_term_page_controller.dart
  app/lib/grades/pages/create_term_page/create_term_page_view.dart
  app/lib/grades/pages/grades_dialog/grades_dialog.dart
  app/lib/grades/pages/grades_dialog/required_fields.dart
  app/lib/main/sharezone_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test_goldens/grades/pages/create_term_page/create_term_page_test.dart
  app/test_goldens/grades/pages/create_term_page/create_term_page_test.mocks.dart
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_dark.iphone11.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_dark.phone.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_dark.phone_landscape.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_dark.tablet_landscape.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_dark.tablet_portrait.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_light.iphone11.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_light.phone.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_light.phone_landscape.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_light.tablet_landscape.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_light.tablet_portrait.png
  lib/common_domain_models/lib/src/ids/src/id.dart
  lib/common_domain_models/test/id_test.dart
Labels: testing, feature: analytics, feature: grades

#1450 Add more storage advantage to Sharezone Plus page
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_light_theme.tablet_portrait.png
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#1451 Connect term and grade details page frontend with grades service
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_details_page/grade_details_page.dart
  app/lib/grades/pages/grades_details_page/grade_details_page_controller.dart
  app/lib/grades/pages/grades_details_page/grade_details_page_controller_factory.dart
  app/lib/grades/pages/grades_details_page/grade_details_view.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/grades_dialog/optional_fields.dart
  app/lib/grades/pages/term_details_page/term_details_page.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller_factory.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
  app/test/grades/pages/grade_details_page/grade_details_page_test.dart
  app/test/grades/pages/grade_details_page/grade_details_page_test.mocks.dart
  app/test_goldens/grades/pages/create_term_page/create_term_page_test.mocks.dart
  app/test_goldens/grades/pages/grade_details_page/grade_details_page_test.dart
  app/test_goldens/grades/pages/grade_details_page/grade_details_page_test.mocks.dart
  app/test_goldens/grades/pages/term_details_page/term_details_page_test.dart
  app/test_goldens/grades/pages/term_details_page/term_details_page_test.mocks.dart
Labels: testing, feature: grades

#1454 Rename `createCustomGradeType` to `addCustomGradeType`.
  app/lib/grades/grades_service/grades_service.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

#1453 Add connected courses to subject
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

#1457 Add grading system to create term page
  app/lib/grades/pages/create_term_page/create_term_page.dart
  app/lib/grades/pages/create_term_page/create_term_page_controller.dart
  app/lib/grades/pages/create_term_page/create_term_page_view.dart
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_dark.iphone11.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_dark.phone.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_dark.phone_landscape.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_dark.tablet_landscape.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_dark.tablet_portrait.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_light.iphone11.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_light.phone.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_light.phone_landscape.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_light.tablet_landscape.png
  app/test_goldens/grades/pages/create_term_page/goldens/create_term_page_light.tablet_portrait.png
Labels: testing, feature: grades

#1456 Complete 'Add Grade Dialog'
  app/lib/filesharing/dialog/course_tile.dart
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_systems.dart
  app/lib/grades/pages/grades_details_page/grade_details_page.dart
  app/lib/grades/pages/grades_dialog/fields.dart
  app/lib/grades/pages/grades_dialog/grades_dialog.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller_factory.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
  app/lib/grades/pages/grades_dialog/optional_fields.dart
  app/lib/grades/pages/grades_dialog/required_fields.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/grades/grading_systems_test.dart
  app/test_goldens/grades/pages/create_term_page/create_term_page_test.mocks.dart
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.phone.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/grade_details_page/goldens/grade_details_page_with_data_light.tablet_portrait.png
Labels: feature: file-sharing, feature: universal file features, feature: groups:courses, testing, dependencies, feature: grades

#1459 Fix spelling of "Fifteen".
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grading_systems.dart
  app/lib/grades/pages/grades_dialog/fields.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
  app/test/grades/grades_test_common.dart
  app/test/grades/grading_systems_test.dart
Labels: testing, feature: grades

#1460 Add `displayName` to `GradeType` class.
  app/lib/grades/grades_service/grades_service.dart
  app/test/grades/grade_types_test.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
Labels: testing, feature: grades

#1461 Make classes and methods in `term.dart` public by renaming them.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grades_repository.dart
  app/lib/grades/grades_service/src/grading_systems.dart
  app/lib/grades/grades_service/src/term.dart
Labels: feature: grades

#1463 Add grades subject page
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/grades/pages/grades_dialog/fields.dart
  app/lib/grades/pages/grades_dialog/grades_dialog.dart
  app/lib/grades/pages/shared/select_grade_type_dialog.dart
  app/lib/grades/pages/subject_settings_page/subject_settings_page.dart
  app/lib/grades/pages/subject_settings_page/subject_settings_page_controller.dart
  app/lib/grades/pages/subject_settings_page/subject_settings_page_view.dart
  app/lib/grades/pages/term_details_page/term_details_page.dart
  app/test/grades/grades_test.dart
  app/test/grades/grades_test_common.dart
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.tablet_portrait.png
Labels: testing, feature: grades

#1435 Only use single random seed when using `sz test`.
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
Labels: sharezone cli

#1455 Add `FirestoreGradesStateRepository`
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grades_repository.dart
  app/lib/grades/grades_service/src/grading_systems.dart
  app/lib/grades/grades_service/src/term.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test/grades/grades_repository_test.dart
  app/test/grades/grades_test.dart
  lib/design/lib/src/design.dart
Labels: testing, feature: grades

#1465 Fix open grade details page
  app/lib/grades/pages/grades_details_page/grade_details_page_controller.dart
Labels: feature: grades

#1466 Add option to delete a term
  app/lib/grades/pages/term_details_page/term_details_page.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller.dart
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.tablet_portrait.png
Labels: testing, feature: grades

#1468 Use `FilledButton` for grade delete button
  app/lib/grades/pages/grades_details_page/grade_details_page.dart
Labels: feature: grades

#1464 Add term settings page
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/pages/create_term_page/create_term_page.dart
  app/lib/grades/pages/create_term_page/create_term_page_controller.dart
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/shared/term_tile.dart
  app/lib/grades/pages/subject_settings_page/subject_settings_page.dart
  app/lib/grades/pages/term_details_page/term_details_page.dart
  app/lib/grades/pages/term_settings_page/term_settings_page.dart
  app/lib/grades/pages/term_settings_page/term_settings_page_controller.dart
  app/lib/grades/pages/term_settings_page/term_settings_page_controller_factory.dart
  app/lib/grades/pages/term_settings_page/term_settings_page_view.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test/grades/grades_test.dart
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_empty_light.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.phone.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/term_details_page/goldens/terms_details_page_with_data_light.tablet_portrait.png
Labels: testing, feature: grades

#1467 Remove grades placeholder data
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller.dart
  app/lib/main/sharezone_app.dart
  app/test/grades/grades_widget_test.dart
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_portrait.png
Labels: testing, feature: grades

#1470 Add connected courses to subject when creating a new subject via grades dialog
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
Labels: feature: grades

#1471 Show grade type icon on term details page
  app/lib/grades/pages/term_details_page/term_details_page_controller.dart
Labels: feature: grades

#1473 Fix loading subjects that are used in multiple terms.
  app/lib/grades/grades_service/src/grades_repository.dart
  app/test/grades/grades_repository_test.dart
Labels: testing, feature: grades

#1474 Set default grade type weights for term
  app/lib/grades/pages/create_term_page/create_term_page_controller.dart
Labels: feature: grades

#1472 Add more analytics for grade feature
  app/lib/grades/pages/grades_details_page/grade_details_page_controller.dart
  app/lib/grades/pages/grades_details_page/grade_details_page_controller_factory.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller_factory.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller_factory.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/test/grades/pages/grade_details_page/grade_details_page_test.mocks.dart
  app/test_goldens/grades/pages/create_term_page/create_term_page_test.mocks.dart
  app/test_goldens/grades/pages/grade_details_page/grade_details_page_test.mocks.dart
  app/test_goldens/grades/pages/term_details_page/term_details_page_test.mocks.dart
Labels: testing, feature: grades

#1476 Fix setting grade type weights for subject and term
  app/lib/grades/pages/subject_settings_page/subject_settings_page_controller.dart
  app/lib/grades/pages/term_settings_page/term_settings_page_controller.dart
Labels: feature: grades

#1478 Display the calculated subject grades instead of the added subject grades on the Grades page.
  app/lib/grades/pages/grades_page/grades_page.dart
  app/lib/grades/pages/grades_page/grades_page_controller.dart
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_dark.tablet_portrait.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.iphone11.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.phone_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_landscape.png
  app/test_goldens/grades/pages/grades_page/goldens/grades_page_with_data_light.tablet_portrait.png
Labels: testing, feature: grades

#1480 Add grades feature to `README.md`
  README.md
Labels: documentation

#1479 Use `DateFormat` for grades date on term details page
  app/lib/grades/pages/term_details_page/term_details_page.dart
  app/lib/grades/pages/term_details_page/term_details_page_controller.dart
  app/test_goldens/grades/pages/term_details_page/term_details_page_test.dart
Labels: testing, feature: grades

#1482 Use privacy policy v2 by default.
  app/lib/legal/privacy_policy/privacy_policy_page.dart
Labels: legal

#1481 Update v2 announcement dialog
  app/lib/dashboard/dashboard_page.dart
  app/lib/main/sharezone_app.dart
  app/lib/sharezone_v2/sz_v2_annoucement_dialog.dart
  app/lib/sharezone_v2/sz_v2_announcement_dialog.dart
  lib/user/lib/src/models/user.dart
Labels: legal, w: dashboard-page

#1483 Add grades and plus page as notification navigation targets.
  app/lib/notifications/action_requests/navigate_to_location.dart
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
Labels: feature: notifications, feature: sharezone plus

#1485 Remove `SubscriptionEnabledFlag` and `GradesEnabledFlag`.
  app/lib/activation_code/src/bloc/enter_activation_code_bloc.dart
  app/lib/activation_code/src/bloc/enter_activation_code_bloc_factory.dart
  app/lib/calendrical_events/page/calendrical_events_page.dart
  app/lib/grades/grades_flag.dart
  app/lib/main/sharezone.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/navigation/drawer/drawer.dart
  app/lib/sharezone_plus/subscription_service/subscription_flag.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/lib/support/support_page.dart
  app/test/pages/settings/notification_page_test.mocks.dart
  app/test/settings/support/support_page_test.dart
  app/test/settings/support/support_page_test.mocks.dart
  app/test/timetable/timetable_page_test.mocks.dart
  app/test_goldens/blackboard/details/blackboard_item_read_by_users_list_page_test.mocks.dart
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog_test.mocks.dart
  app/test_goldens/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page_test.mocks.dart
  app/test_goldens/settings/notification_page_test.mocks.dart
  app/test_goldens/settings/support/support_page_test.dart
  app/test_goldens/settings/support/support_page_test.mocks.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.mocks.dart
  app/test_goldens/timetable/timetable_page_test.mocks.dart
Labels: feature: homework, feature: notifications, feature: timetable / calendar, feature: information sheet, ui / ux, feature: groups:courses, feature: groups, feature: navigation, testing, ui: light-mode, user: teacher, ui: dark-mode, feature: sharezone plus, feature: grades

#1486 Set pubspec version to "2.0.0+0"
  app/pubspec.yaml
Labels: dependencies

#1487 Lock due date chips behind plus membership
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/test/homework/homework_dialog_test.dart
  app/test_goldens/homework/homework_dialog/homework_dialog_test.dart
Labels: feature: homework, testing, feature: sharezone plus

#1488 Unlock plus features for teachers and parents.
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
Labels: feature: sharezone plus

#1489 Only show Grades and Sharezone Plus tiles in Drawer for students.
  app/lib/navigation/drawer/drawer.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
Labels: ui / ux, feature: navigation, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#1495 Update privacy policy v2.0.0
  app/lib/legal/privacy_policy/src/data/privacy_policy_v2.dart
Labels: legal

#1334 Complete payment feature
  app/integration_test/app_test.dart
  app/ios/Podfile.lock
  app/lib/legal/terms_of_service/terms_of_service_page.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/lib/sharezone_plus/page/sharezone_plus_page_analytics.dart
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
  app/lib/sharezone_plus/subscription_service/is_buying_enabled.dart
  app/lib/sharezone_plus/subscription_service/purchase_service.dart
  app/lib/sharezone_plus/subscription_service/revenue_cat_sharezone_plus_service.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/macos/Podfile.lock
  app/pubspec.lock
  app/pubspec.yaml
  app/test/pages/settings/notification_page_test.mocks.dart
  app/test/settings/notifications/notification_test.mocks.dart
  app/test/sharezone_plus/sharezone_plus_page_test.dart
  app/test/timetable/timetable_page_test.mocks.dart
  app/test_goldens/blackboard/details/blackboard_item_read_by_users_list_page_test.mocks.dart
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog_test.mocks.dart
  app/test_goldens/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page_test.mocks.dart
  app/test_goldens/settings/notification_page_test.mocks.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.mocks.dart
  app/test_goldens/timetable/timetable_page_test.mocks.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/sharezone_plus_page_ui.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/buy_section.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/buying_disabled_dialog.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/buying_failed_dialog.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/call_to_action_button.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_legal_text.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_price.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_support_note.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/styled_markdown_text.dart
  lib/sharezone_plus/sharezone_plus_page_ui/pubspec.lock
  lib/sharezone_plus/sharezone_plus_page_ui/pubspec.yaml
  lib/sharezone_plus/stripe_checkout_session/lib/src/stripe_checkout_session.dart
  lib/sharezone_plus/stripe_checkout_session/test/stripe_checkout_session_test.dart
  lib/sharezone_widgets/lib/src/widgets/expansion_card.dart
  lib/user/lib/src/models/sharezone_plus_status.dart
  lib/user/lib/src/models/subscription.dart
  lib/user/lib/src/models/user.dart
  lib/user/lib/user.dart
  website/lib/sharezone_plus/sharezone_plus_page.dart
Labels: feature: homework, platform: macos, platform: ios, platform: android, feature: notifications, feature: timetable / calendar, feature: information sheet, ui / ux, feature: groups:courses, feature: groups, testing, user: teacher, dependencies, feature: analytics, feature: sharezone plus, website

#1498 Fix TOS/ANB heading.
  app/lib/legal/privacy_policy/privacy_policy_page.dart
  app/lib/legal/privacy_policy/src/ui/common.dart
  app/lib/legal/privacy_policy/src/ui/mobile_layout.dart
  app/lib/legal/privacy_policy/src/ui/narrow_layout.dart
  app/lib/legal/privacy_policy/src/ui/wide_layout.dart
  app/lib/legal/terms_of_service/terms_of_service_page.dart
Labels: legal

#1500 Add help dialog for final grade type and grade type weights
  app/lib/grades/pages/shared/final_grade_type_settings.dart
  app/lib/grades/pages/shared/grades_help_dialog.dart
  app/lib/grades/pages/shared/weight_settings.dart
  app/lib/grades/pages/subject_settings_page/subject_settings_page.dart
  app/lib/grades/pages/term_settings_page/term_settings_page.dart
Labels: feature: grades

#1502 Add analytics user properties for Sharezone Plus.
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  lib/user/lib/src/models/sharezone_plus_status.dart
Labels: feature: sharezone plus

#1503 Add TOS and update privacy policy in website.
  lib/sharezone_widgets/lib/src/theme_settings.dart
  licenses_config.yaml
  website/lib/footer.dart
  website/lib/legal/privacy_policy.dart
  website/lib/main.dart
  website/pubspec.lock
  website/pubspec.yaml
Labels: legal, ui / ux, dependencies, website

#1504 Update privacy policy to v2.0.2
  app/lib/legal/privacy_policy/src/data/privacy_policy_v2.dart
  website/firebase.json
Labels: ci/cd, legal, website

#1507 Change the price of the monthly subscription from 2,99€ to 1,99€
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
Labels: feature: sharezone plus

#1506 Add due date chips as Sharezone Plus advantage
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_light_theme.tablet_portrait.png
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#1508 Fix deleting in grades system by using .update for Firestore.
  app/lib/grades/grades_service/src/grades_repository.dart
Labels: build-app-preview, feature: grades

#1510 Add grade type no weight warning.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/pages/grades_dialog/fields.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_view.dart
Labels: feature: grades

#1512 Make only 3 courses selectable if user doesn't have plus.
  app/lib/grades/pages/grades_dialog/fields.dart
  app/lib/grades/pages/grades_dialog/grades_dialog.dart
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
Labels: feature: homework, feature: sharezone plus, feature: grades

#1513 Allow using "," in grade value.
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
Labels: feature: grades

#1511 Setup Android, macOS and iOS for payment
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
  app/lib/sharezone_plus/subscription_service/revenue_cat_sharezone_plus_service.dart
  app/macos/Runner.xcodeproj/project.pbxproj
Labels: platform: macos, feature: sharezone plus

#1515 Allow users to access /plus on our website
  website/lib/main.dart
Labels: website

#1514 Add "Eltern bezahlen lassen" button to Sharezone Plus page
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/lib/sharezone_plus/page/sharezone_plus_page_analytics.dart
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/test/pages/settings/notification_page_test.mocks.dart
  app/test/sharezone_plus/sharezone_plus_page_test.dart
  app/test/timetable/timetable_page_test.mocks.dart
  app/test_goldens/blackboard/details/blackboard_item_read_by_users_list_page_test.mocks.dart
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog_test.mocks.dart
  app/test_goldens/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page_test.mocks.dart
  app/test_goldens/settings/notification_page_test.mocks.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.mocks.dart
  app/test_goldens/timetable/timetable_page_test.mocks.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/buy_section.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/call_to_action_button.dart
Labels: feature: homework, feature: notifications, feature: timetable / calendar, feature: information sheet, feature: groups:courses, feature: groups, testing, user: teacher, feature: analytics, feature: sharezone plus

#1509 Update image on Sharezone Plus Sales page
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.phone.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.phone_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.iphone11.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.phone.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.phone_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_landscape.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/lib/assets/jonas-nils.png
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/why_sharezone_plus_card.dart
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#1516 Add TOS to onboarding
  app/lib/onboarding/sign_up/pages/advantages.dart
  app/lib/onboarding/sign_up/pages/choose_type_of_user.dart
  app/lib/onboarding/sign_up/pages/data_protection_overview.dart
  app/lib/onboarding/sign_up/pages/privacy_policy.dart
  app/lib/onboarding/sign_up/sign_up_page.dart
  app/test/settings/notifications/notification_test.mocks.dart
  lib/authentification/authentification_base/lib/src/gateways/registration_gateway.dart
  lib/authentification/authentification_base/pubspec.lock
  lib/authentification/authentification_base/pubspec.yaml
  lib/user/lib/src/models/user.dart
  website/macos/Flutter/GeneratedPluginRegistrant.swift
Labels: feature: notifications, legal, testing, feature: onboarding, feature: authentification, dependencies, website

#1517 Add Grades and Sharezone Plus to extendable bottom navigation bar
  app/lib/navigation/scaffold/portable/bottom_navigation_bar/bottom_navigation_bar.dart
  app/lib/navigation/scaffold/portable/bottom_navigation_bar/extendable_bottom_navigation_bar.dart
Labels: feature: navigation

#1392 Add feature of iCal links
  app/lib/ical_links/dialog/ical_links_dialog.dart
  app/lib/ical_links/dialog/ical_links_dialog_controller.dart
  app/lib/ical_links/dialog/ical_links_dialog_controller_factory.dart
  app/lib/ical_links/list/ical_link_view.dart
  app/lib/ical_links/list/ical_links_page.dart
  app/lib/ical_links/list/ical_links_page_controller.dart
  app/lib/ical_links/shared/ical_link_analytics.dart
  app/lib/ical_links/shared/ical_link_dto.dart
  app/lib/ical_links/shared/ical_link_source.dart
  app/lib/ical_links/shared/ical_link_status.dart
  app/lib/ical_links/shared/ical_links_gateway.dart
  app/lib/main/sharezone_app.dart
  app/lib/main/sharezone_bloc_providers.dart
  app/lib/settings/src/subpages/timetable/timetable_settings_page.dart
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
  app/lib/widgets/material/save_button.dart
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_dark_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_page_light_theme.tablet_portrait.png
  app/test_goldens/sharezone_plus/goldens/sharezone_plus_unsubscribe_section.tablet_portrait.png
  lib/common_domain_models/lib/src/ids/ical_export_id.dart
  lib/common_domain_models/lib/src/ids/ids.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
  lib/sharezone_widgets/lib/src/sharezone_plus/sharezone_plus_feature_info_dialog.dart
Labels: feature: timetable / calendar, ui / ux, testing, ui: light-mode, ui: dark-mode, feature: analytics, feature: sharezone plus

#1519 Show parent buy button platform parameter
  app/lib/sharezone_plus/subscription_service/subscription_service.dart
Labels: feature: sharezone plus

#1521 Update links to privacy policy
  app/lib/legal/privacy_policy/privacy_policy_page.dart
  app/lib/legal/terms_of_service/terms_of_service_page.dart
Labels: legal

#1525 Disable purchases for TestFlight users
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
Labels: feature: sharezone plus

#1526 Remove "-page" suffix for terms of service and privacy policy page
  lib/legal/lib/src/privacy_policy/privacy_policy_page.dart
  lib/legal/lib/src/terms_of_service/terms_of_service_page.dart
Labels: legal

#1527 Make `GradeId` const.
  app/lib/grades/models/grade_id.dart
  app/test/grades/grades_repository_test.dart
  app/test/grades/grades_test.dart
  app/test/grades/pages/grade_details_page/grade_details_page_test.dart
  app/test_goldens/grades/pages/grade_details_page/grade_details_page_test.dart
  app/test_goldens/grades/pages/term_details_page/term_details_page_test.dart
Labels: testing, feature: grades

#1534 Bump app version to `v2.0.1`
  app/pubspec.yaml
Labels: dependencies

#1550 Change `Id.id` to `Id.value`.
  app/lib/grades/grades_service/grades_service.dart
  app/lib/grades/grades_service/src/grades_repository.dart
  app/lib/grades/models/grade_id.dart
  app/lib/grades/models/subject_id.dart
  app/lib/grades/models/term_id.dart
  app/lib/grades/pages/create_term_page/create_term_page_controller.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/lib/grades/pages/shared/saved_grade_id.dart
  app/lib/grades/pages/term_settings_page/term_settings_page_controller.dart
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/lib/homework/homework_dialog/homework_dialog_bloc.dart
  app/lib/homework/teacher/homework_done_by_users_list/homework_completion_user_list_bloc.dart
  app/lib/legal/privacy_policy/src/document_controller.dart
  app/lib/legal/privacy_policy/src/table_of_contents/table_of_contents.dart
  app/lib/sharezone_plus/subscription_service/purchase_service.dart
  app/lib/timetable/timetable_add_event/src/timetable_add_event_event_dialog_api.dart
  app/test/grades/grades_test_common.dart
  app/test/homework/homework_dialog_bloc_test.dart
  app/test/privacy_policy/generate_anchor_hash_test.dart
  app/test/privacy_policy/table_of_contents/toc_currently_reading_test.dart
  app/test/timetable/mock/mock_school_class_gateway.dart
  app/test/timetable/timetable_bloc_test.dart
  lib/abgabe/abgabe_client_lib/lib/src/models/abgaben_commands.dart
  lib/common_domain_models/lib/src/ids/abgabedatei_id.dart
  lib/common_domain_models/lib/src/ids/blackboard_item_id.dart
  lib/common_domain_models/lib/src/ids/class_id.dart
  lib/common_domain_models/lib/src/ids/course_id.dart
  lib/common_domain_models/lib/src/ids/datei_id.dart
  lib/common_domain_models/lib/src/ids/file_id.dart
  lib/common_domain_models/lib/src/ids/group_id.dart
  lib/common_domain_models/lib/src/ids/homework_id.dart
  lib/common_domain_models/lib/src/ids/ical_export_id.dart
  lib/common_domain_models/lib/src/ids/school_class_id.dart
  lib/common_domain_models/lib/src/ids/src/id.dart
  lib/common_domain_models/lib/src/ids/timetable_event_id.dart
  lib/common_domain_models/lib/src/ids/user_id.dart
  lib/common_domain_models/test/id_test.dart
  lib/feedback_shared_implementation/lib/src/models/feedback_chat_message_id.dart
  lib/feedback_shared_implementation/lib/src/models/feedback_id.dart
  lib/legal/lib/src/privacy_policy/src/document_controller.dart
  lib/legal/lib/src/privacy_policy/src/table_of_contents/table_of_contents.dart
  lib/legal/test/privacy_policy/generate_anchor_hash_test.dart
  lib/legal/test/privacy_policy/table_of_contents/toc_currently_reading_test.dart
Labels: feature: homework, feature: homework-submissions, feature: timetable / calendar, feature: information sheet, feature: groups:courses, feature: groups:classes, feature: groups, testing, user: teacher, feature: feedback, feature: sharezone plus, feature: grades

#1522 Add buying Sharezone Plus for child via Plus Page on website.
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/buy_section.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/styled_markdown_text.dart
  website/lib/home/src/all_in_one_platform.dart
  website/lib/home/src/welcome.dart
  website/lib/main.dart
  website/lib/sharezone_plus/sharezone_plus_page.dart
  website/lib/sharezone_plus/success_page.dart
  website/lib/utils.dart
Labels: ui / ux, user: pupil / student, feature: sharezone plus, website

#1557 Add padding to the Sharezone Plus sales page on the website
  website/lib/sharezone_plus/sharezone_plus_page.dart
Labels: feature: sharezone plus, website

#1558 Bump app version to v2.0.2
  app/pubspec.yaml
Labels: dependencies

#1559 Show device information for feedbacks when using the console
  console/lib/pages/feedbacks/feedbacks_page.dart
Labels: feature: feedback, admin console

#1562 Add option to copy the text from the homework details page
  app/lib/homework/homework_details/homework_details.dart
Labels: feature: homework

#1563 Fix invisible selection color for title text fields
  app/lib/blackboard/blackboard_dialog.dart
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/lib/ical_links/dialog/ical_links_dialog.dart
  app/lib/timetable/timetable_add_event/timetable_add_event_dialog.dart
Labels: feature: homework, feature: timetable / calendar, feature: information sheet

#1566 Fix wrong storage limit in Sharezone Plus FAQ
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_faq.dart
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_faq_section_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_faq_section_light_theme.tablet_portrait.png
Labels: ui / ux, testing, ui: light-mode, ui: dark-mode, feature: sharezone plus

#1567 Move `sz_plus_subscribed` analytics event after purchase
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
Labels: feature: sharezone plus

#1571 Bump app version to v2.0.3
  app/pubspec.yaml
Labels: dependencies

#1575 Fix: Deleting a term now sets `currentTerm` in Firestore doc to `null`.
  app/lib/grades/grades_service/src/grades_repository.dart
  app/test/grades/grades_repository_test.dart
Labels: testing, feature: grades

#1577 Fix typo in grades subject dialog
  app/lib/grades/pages/grades_dialog/fields.dart
Labels: feature: grades

#1578 Add help for activation code
  app/lib/activation_code/activation_code_page.dart
  app/lib/activation_code/src/widgets/enter_activation_code_text_field.dart
Labels: ui / ux

#1581 Fix starting qr code scanner
  lib/qr_code_scanner/lib/src/scanner.dart
Labels: feature: qr code scanner

#1579 Catch when Android cancels purchase process
  app/lib/sharezone_plus/page/sharezone_plus_page_controller.dart
Labels: feature: sharezone plus

#1580 Fix autofocus for Sharecode textfield
  app/lib/groups/group_join/widgets/group_join_text_field.dart
Labels: ui / ux, feature: groups
