Repository SharezoneApp/sharezone-app, pull requests merged in 2024-02, with the labels that each got.

#1281 Add `createdOn` for calendrical events
  app/lib/calendrical_events/models/calendrical_event.dart
  app/lib/calendrical_events/page/past_calendrical_events_page.dart
  app/lib/timetable/timetable_add_event/bloc/timetable_add_event_bloc.dart
  app/lib/util/api/timetable_gateway.dart
  app/test/timetable/timetable_bloc_test.dart
Labels: feature: timetable / calendar, testing

#1284 Add `createdOn` field for lessons
  app/lib/timetable/src/bloc/timetable_selection_bloc.dart
  app/lib/timetable/src/models/lesson.dart
  app/lib/timetable/timetable_add/bloc/timetable_add_bloc.dart
  app/lib/util/api/timetable_gateway.dart
  app/test/dashboard/current_lesson_index_test.dart
  app/test/timetable/timetable_bloc_test.dart
Labels: feature: timetable / calendar, testing, w: dashboard-page

#1289 Upgrade `remove-safe-to-test-label` GitHub Action
  .github/workflows/unsafe_app_ci.yml
  .github/workflows/unsafe_website_ci.yml
Labels: ci/cd, platform: web

#1287 Updated time font size for better readability
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.tablet_portrait.png
Labels: feature: homework, testing

#1286 Add prototype UI for a single-page dialog for adding events/exams.
  app/lib/timetable/timetable_add_event/timetable_add_event_dialog.dart
  app/lib/timetable/timetable_page/timetable_page.dart
  app/lib/timetable/timetable_page/timetable_page_fab.dart
Labels: documentation, feature: timetable / calendar

#1290 Use `sz build web` in web-app preview job and add `preview` stage to it.
  .github/workflows/unsafe_app_ci.yml
  tools/sz_repo_cli/lib/src/commands/src/build_web_command.dart
Labels: ci/cd, platform: web, ui / ux, testing, sharezone cli

#1291 Replace `AlphaVersionBanner` with `DevelopmentStageBanner`.
  app/lib/main/constants.dart
  app/lib/main/sharezone.dart
  app/lib/widgets/development_stage_banner.dart
  app/test_goldens/widgets/alpha_version_banner_test.dart
  app/test_goldens/widgets/development_stage_banner_test.dart
Labels: ui / ux, testing

#1293 Use `super.packagesToProcess` so that `ConcurrentCommand` filters are automatically applied.
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
Labels: sharezone cli

#1292 Add `--only` option to sharezone cli.
  tools/sz_repo_cli/lib/src/common/src/concurrent_command.dart
Labels: sharezone cli

#1294 Remove unnecessary "```sh" in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: documentation

#1300 Rename `sz deploy web-app` to `sz deploy web`.
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/stable.yml
  tools/sz_repo_cli/lib/src/commands/src/deploy_web_app_command.dart
Labels: ci/cd, platform: web, sharezone cli

#1305 Add missing `CI_CD_DART_SCRIPTS_PACKAGE_PATH` in `unsafe-app-ci` workflow
  .github/workflows/unsafe_app_ci.yml
Labels: ci/cd

#1304 Fixed disabled/enabled status for "Abgabe" and "Privat" buttons in `homework_dialog.dart`
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.tablet_portrait.png
Labels: feature: homework, feature: attachments, testing

#1267 Enable autofocus for 'Stundenzeit auswählen' dialog
  app/lib/homework/homework_dialog/homework_dialog.dart
Labels: feature: homework

#1310 Add `sz pick-codemagic-goldens` command.
  tools/sz_repo_cli/lib/src/commands/commands.dart
  tools/sz_repo_cli/lib/src/commands/src/pick_codemagic_goldens_command.dart
  tools/sz_repo_cli/lib/src/main.dart
Labels: sharezone cli

#1316 Fix event dialog golden by using `withClock`.
  app/test_goldens/timetable/timetable_dialog/timetable_dialog_test.dart
Labels: feature: timetable / calendar, testing

#1315 Upgrade `pdfx` to `^2.6.0`.
  app/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/filesharing/files_usecases/pubspec.lock
  lib/filesharing/files_usecases/pubspec.yaml
  lib/filesharing/filesharing_logic/pubspec.lock
Labels: feature: homework-submissions, feature: file-sharing, feature: universal file features, dependencies

#1321 Add dependency license check for `/website`.
  .github/workflows/licence.yml
Labels: ci/cd

#1317 Replace `CalendricalEventType` with `EventType` enum.
  app/lib/calendrical_events/models/calendrical_event.dart
  app/lib/calendrical_events/models/calendrical_event_types.dart
  app/lib/calendrical_events/page/past_calendrical_events_page.dart
  app/lib/timetable/src/widgets/events/calender_event_card.dart
  app/lib/timetable/timetable_add_event/src/timetable_add_event_event_dialog_api.dart
  app/lib/timetable/timetable_edit/event/timetable_event_edit_page.dart
  app/lib/timetable/timetable_page/timetable_event_details.dart
  app/test/timetable/timetable_bloc_test.dart
  app/test_goldens/calendrical_events/page/past_calendrical_events_page_test.mocks.dart
Labels: feature: timetable / calendar, ui / ux, testing

#1319 Fix flaky test using mockito by using `provideDummy`.
  app/test_goldens/calendrical_events/page/past_calendrical_events_page_test.dart
Labels: feature: timetable / calendar, testing

#1318 Randomize tests; add `--test-randomize-ordering-seed` option to `sz test`.
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
Labels: feature: timetable / calendar, testing, sharezone cli

#1325 Move CI check for golden tests from Codemagic to GitHub Actions (using `macos-14` runner)
  .github/workflows/safe_app_ci.yml
  codemagic.yaml
Labels: ci/cd, testing

#1303 Fixed switch button alignment on `homework_dialog` page
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_empty_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_empty_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_empty_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_empty_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_empty_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_empty_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_empty_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_empty_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_with_error_light.tablet_portrait.png
Labels: feature: homework, feature: attachments, testing

#1311 Fix setting submission to null when submission is disabled
  app/lib/homework/homework_dialog/homework_dialog_bloc.dart
  app/test/homework/homework_dialog_bloc_test.dart
Labels: feature: homework, testing, safe to test

#1326 Fix opening website sub routes using the URL
  .github/workflows/unsafe_website_ci.yml
  .github/workflows/website_cd.yml
  website/.metadata
  website/web/index.html
Labels: ci/cd, platform: web, website

#1298 Migrate docs from docs.page to Nextra
  docs.yaml
  docs/.firebaserc
  docs/.gitignore
  docs/README.md
  docs/assets/logo-blue.png
  docs/assets/logo-white.png
  docs/firebase.json
  docs/index.mdx
  docs/next.config.js
  docs/package-lock.json
  docs/package.json
  docs/pages/_meta.json
  docs/pages/account/_meta.json
  docs/pages/account/delete-account.mdx
  docs/pages/index.mdx
  docs/pages/more/_meta.json
  docs/pages/more/alpha-program.mdx
  docs/pages/more/beta-program.mdx
  docs/pages/more/firewall.mdx
  docs/theme.config.jsx
Labels: documentation, ci/cd, ui / ux

#1327 Upgrade to Flutter v3.19.2
  .fvm/fvm_config.json
Labels: dependencies

#1329 Always ask the user with Google account to use
  lib/authentification/authentification_base/lib/src/google/google_sign_in_logic.dart
Labels: feature: authentification
