Repository SharezoneApp/sharezone-app, pull requests merged in 2024-01, with the labels that each got.

#1212 Fix labeleler
  .github/labeler.yml
  .github/workflows/pull_request_label.yml
Labels: ci/cd

#1214 Add '--flavor' option to `BuildMacOsCommand`
  tools/sz_repo_cli/lib/src/commands/src/build_macos_command.dart
Labels: platform: macos, sharezone cli

#1216 Add Dependabot for Dart/Flutter packages
  .github/dependabot.yml
Labels: ci/cd

#1207 Use outputs of `flutter-fvm-config-action` in GitHub Actions
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/cli_ci.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/licence.yml
  .github/workflows/safe_app_ci.yml
  .github/workflows/safe_website_ci.yml
  .github/workflows/stable.yml
  .github/workflows/unsafe_app_ci.yml
  .github/workflows/unsafe_website_ci.yml
  .github/workflows/website_cd.yml
Labels: ci/cd, platform: web

#1215 Upgrade `purchases_flutter` from `5.6.2` to `6.6.0`
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/macos/Podfile.lock
  app/pubspec.lock
  app/pubspec.yaml
Labels: platform: macos, platform: ios, dependencies

#1220 Upgrade add_2_calendar from '2.2.4' to '3.0.1'
  app/pubspec.lock
  app/pubspec.yaml
Labels: dependencies, build-app-preview

#1218 Upgrade flutter_image_compress from '1.1.3' to '2.1.0'
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/filesharing/files_usecases/lib/src/file_compression/implementation/mobile_native_image_compressor.dart
  lib/filesharing/files_usecases/pubspec.lock
  lib/filesharing/files_usecases/pubspec.yaml
  lib/filesharing/filesharing_logic/pubspec.lock
Labels: feature: homework-submissions, platform: macos, feature: file-sharing, feature: universal file features, dependencies, build-app-preview

#1224 Remove `-s` option from `which` command
  tools/sz_repo_cli/lib/src/common/src/throw_if_command_is_not_installed.dart
Labels: sharezone cli

#1222 Add dev environment to `sz deploy web-app` command
  app/.firebaserc
  tools/sz_repo_cli/lib/src/commands/src/deploy_web_app_command.dart
Labels: ci/cd, platform: web, sharezone cli

#1223 Also deploy to our dev environment when deploying the web app
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/stable.yml
Labels: ci/cd, platform: web, sharezone cli

#1228 Fix 'deploy macOS' pipeline
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/stable.yml
Labels: ci/cd

#1226 Add image compression on macOS
  app/macos/Podfile.lock
  lib/filesharing/files_usecases/lib/src/file_compression/get_image_compressor.dart
  lib/filesharing/files_usecases/lib/src/file_compression/implementation/flutter_image_compressor.dart
Labels: platform: macos, feature: file-sharing, feature: universal file features

#1227 Upgrade `file` dependency from '6.1.4' to '7.0.0'
  lib/hausaufgabenheft_logik/pubspec.lock
  lib/hausaufgabenheft_logik/pubspec.yaml
Labels: feature: homework, dependencies

#1229 Upgrade `mockito` and `build_runner` to latest version
  app/pubspec.lock
  app/pubspec.yaml
  app/test/course/course_create_bloc_test.mocks.dart
  app/test/dashboard/update_reminder_test.mocks.dart
  app/test/groups/group_join_select_courses_bloc_test.mocks.dart
  app/test/holidays/holiday_bloc_unit_test.mocks.dart
  app/test/holidays/integration_test.mocks.dart
  app/test/homework/homework_dialog_test.mocks.dart
  app/test/notifications/fcm_notification_test.mocks.dart
  app/test/notifications/notification_permission_test.mocks.dart
  app/test/pages/settings/notification_page_test.mocks.dart
  app/test/privacy_policy/table_of_contents/toc_currently_reading_test.mocks.dart
  app/test/settings/notifications/notification_test.mocks.dart
  app/test/settings/support/support_page_test.mocks.dart
  app/test/timetable/timetable_page_test.mocks.dart
  app/test_goldens/blackboard/details/blackboard_item_read_by_users_list_page_test.mocks.dart
  app/test_goldens/calendrical_events/page/past_calendrical_events_page_test.mocks.dart
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog_test.mocks.dart
  app/test_goldens/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page_test.mocks.dart
  app/test_goldens/settings/notification_page_test.mocks.dart
  app/test_goldens/settings/support/support_page_test.mocks.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.mocks.dart
  app/test_goldens/timetable/timetable_page_test.mocks.dart
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/abgabe/abgabe_client_lib/pubspec.yaml
  lib/abgabe/abgabe_http_api/pubspec.lock
  lib/abgabe/abgabe_http_api/pubspec.yaml
  lib/holidays/pubspec.lock
  lib/holidays/pubspec.yaml
  lib/holidays/test/holiday_api_test.mocks.dart
  lib/sharezone_plus/stripe_checkout_session/pubspec.lock
  lib/sharezone_plus/stripe_checkout_session/pubspec.yaml
  lib/sharezone_plus/stripe_checkout_session/test/stripe_checkout_session_test.mocks.dart
Labels: feature: homework, feature: homework-submissions, feature: notifications, feature: timetable / calendar, feature: information sheet, feature: holidays, feature: groups:courses, feature: groups, testing, feature: group permissions, user: teacher, dependencies, feature: sharezone plus, w: dashboard-page

#1230 Upgrade to Flutter v3.16.5
  .fvm/fvm_config.json
Labels: dependencies

#1232 Fix `sz deploy macos` command
  tools/sz_repo_cli/lib/src/commands/src/deploy_macos_command.dart
Labels: platform: macos, sharezone cli

#1231 Upgrade patrol from '3.1.0' to '3.3.0'
  .github/workflows/integration_tests_app_ci.yml
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/pubspec.lock
  app/pubspec.yaml
Labels: ci/cd, platform: macos, platform: ios, dependencies

#1234 Convert `lightTheme` and `darkTheme` to methods
  app/lib/main/sharezone_material_app.dart
  app/lib/navigation/drawer/sign_out_dialogs/src/sign_out_and_delete_anonymous_user.dart
  app/test_goldens/blackboard/details/blackboard_item_read_by_users_list_page_test.dart
  app/test_goldens/calendrical_events/page/past_calendrical_events_page_test.dart
  app/test_goldens/dashboard/dashboard_page_test.dart
  app/test_goldens/groups/src/pages/course/course_edit/design/src/dialog/select_design_dialog_test.dart
  app/test_goldens/homework/homework_dialog/homework_dialog_test.dart
  app/test_goldens/homework/teacher/homework_done_by_users_list/homework_completion_user_list_page_test.dart
  app/test_goldens/onboarding/mobile_welcome_page_test.dart
  app/test_goldens/privacy_policy/privacy_policy_display_settings_test.dart
  app/test_goldens/settings/notification_page_test.dart
  app/test_goldens/settings/support/support_page_test.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.dart
  app/test_goldens/timetable/timetable_page_test.dart
  lib/sharezone_widgets/lib/src/theme/brightness/dark_theme.dart
  lib/sharezone_widgets/lib/src/theme/brightness/light_theme.dart
  lib/sharezone_widgets/lib/src/theme/theme.dart
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_chip_dark.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_feature_info_card_dark.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_feature_info_dialog_dark.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/goldens/sharezone_plus_feature_info_dialog_light.png
  lib/sharezone_widgets/test_goldens/sharezone_plus/sharezone_plus_feature_info_dialog_test.dart
  lib/sharezone_widgets/test_goldens/sharezone_plus/sharezone_plus_test.dart
Labels: feature: homework, feature: notifications, legal, feature: timetable / calendar, feature: information sheet, ui / ux, feature: groups:courses, feature: groups, feature: navigation, testing, feature: onboarding, ui: light-mode, feature: authentification, user: teacher, ui: dark-mode, feature: sharezone plus, w: dashboard-page

#1235 Remove `timestampFromDateTime` method
  lib/authentification/authentification_qrcode/lib/src/models/qr_sign_in_document.dart
  lib/filesharing/filesharing_logic/lib/src/models/change_activity.dart
  lib/group_domain_models/lib/src/models/member.dart
  lib/sharezone_common/lib/src/firebase_helper.dart
Labels: feature: file-sharing, feature: universal file features, feature: groups, feature: authentification

#1233 Move widgets of Sharezone Plus page into it's own package
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/sharezone_plus/sharezone_plus_page_test.dart
  app/test_goldens/sharezone_plus/sharezone_plus_page_test.dart
  lib/sharezone_plus/sharezone_plus_page_ui/analysis_options.yaml
  lib/sharezone_plus/sharezone_plus_page_ui/dart_test.yaml
  lib/sharezone_plus/sharezone_plus_page_ui/lib/sharezone_plus_page_ui.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/call_to_action_button.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/markdown_centered_text.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_cta.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_faq.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_legal_text.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_page_header.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_page_theme.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_price.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_support_note.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/why_sharezone_plus_card.dart
  lib/sharezone_plus/sharezone_plus_page_ui/pubspec.lock
  lib/sharezone_plus/sharezone_plus_page_ui/pubspec.yaml
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/flutter_test_config.dart
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_parent_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_parent_light_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_student_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_student_light_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_teacher_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_teacher_light_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_faq_section_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_faq_section_light_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/sharezone_plus_page_ui_test.dart
  licenses_config.yaml
Labels: code quality, ui / ux, testing, ui: light-mode, user: teacher, user: parent, ui: dark-mode, user: pupil / student, dependencies, feature: sharezone plus

#1237 Remove unused `sharezone_common` dependency from `date`
  lib/abgabe/abgabe_client_lib/pubspec.lock
  lib/authentification/authentification_base/pubspec.lock
  lib/date/pubspec.lock
  lib/date/pubspec.yaml
  lib/filesharing/files_usecases/pubspec.lock
  lib/group_domain_implementation/pubspec.lock
  lib/sharezone_plus/sharezone_plus_page_ui/pubspec.lock
  lib/user/pubspec.lock
Labels: feature: homework-submissions, feature: file-sharing, feature: universal file features, feature: groups, dependencies, feature: sharezone plus

#1239 Add flavors to our website
  .github/workflows/website_cd.yml
  .vscode/launch.json
  website/lib/flavor.dart
Labels: ci/cd, platform: web, website

#1241 Move "jonas-nils.png" image `WhyPlusSharezoneCard` into `sharezone_plus_page_ui` package
  app/pubspec.yaml
  lib/sharezone_plus/sharezone_plus_page_ui/lib/assets/jonas-nils.png
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/why_sharezone_plus_card.dart
Labels: ui / ux, dependencies, feature: sharezone plus

#1240 Remove dependency of `TypeOfUser` in `SharezonePlusAdvantages`
  app/lib/sharezone_plus/page/sharezone_plus_page.dart
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/sharezone_plus_advantages.dart
  lib/sharezone_plus/sharezone_plus_page_ui/pubspec.lock
  lib/sharezone_plus/sharezone_plus_page_ui/pubspec.yaml
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_light_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_parent_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_parent_light_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_student_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_student_light_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_teacher_dark_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/goldens/sharezone_plus_advantages_teacher_light_theme.tablet_portrait.png
  lib/sharezone_plus/sharezone_plus_page_ui/test_goldens/sharezone_plus_page_ui_test.dart
Labels: ui / ux, testing, ui: light-mode, user: teacher, user: parent, ui: dark-mode, user: pupil / student, dependencies, feature: sharezone plus

#1243 Reuse widgets from `sharezone_widgets` in `website`
  website/lib/home/src/all_in_one_platform.dart
  website/lib/home/src/traction.dart
  website/lib/legal/privacy_policy.dart
  website/lib/page.dart
  website/lib/support_page.dart
  website/lib/utils.dart
  website/lib/widgets/avatar_card.dart
  website/lib/widgets/divider_with_text.dart
  website/lib/widgets/max_width_constraint_box.dart
  website/lib/widgets/section.dart
  website/lib/widgets/shadow_card.dart
  website/lib/widgets/snackbars.dart
Labels: legal, website

#1245 Update Podfile.lock
  app/macos/Podfile.lock
Labels: platform: macos

#1248 Add weekdays to homework card
  lib/hausaufgabenheft_logik/lib/src/views/student_homework_view_factory.dart
  lib/hausaufgabenheft_logik/test/create_student_homework_view_test.dart
Labels: feature: homework, testing, user: pupil / student

#1247 Change `SlideAnimation` from horizontal to vertical slide
  app/lib/blackboard/blackboard_page.dart
  app/lib/dashboard/dashboard_page.dart
  app/lib/dashboard/timetable/lesson_row.dart
  app/lib/groups/src/pages/course/group_page.dart
  app/lib/homework/parent/homework_page.dart
  app/lib/homework/shared/animated_staggered_scroll_view.dart
  lib/sharezone_widgets/lib/src/placeholder.dart
Labels: feature: homework, feature: timetable / calendar, feature: information sheet, ui / ux, feature: groups:courses, feature: groups, user: parent, w: dashboard-page

#1255 Use `IconButton` for show password icon
  app/lib/auth/login_page.dart
Labels: feature: authentification

#1254 Use "Neue" instead of "Hinzufügen" in FAB
  app/lib/blackboard/blackboard_page.dart
  app/lib/calendrical_events/page/calendrical_events_page.dart
  app/lib/homework/parent/homework_page.dart
  app/lib/homework/shared/homework_fab.dart
Labels: feature: homework, feature: timetable / calendar, feature: information sheet, user: parent

#1253 Replace `ExpansionTile` with `ExpansionCard` on "Group Join FAQ" page
  app/lib/groups/src/pages/course/group_help.dart
Labels: feature: groups:courses, feature: groups

#1252 Refactor `_AnonymousCheckbox` on Feedback page
  app/lib/feedback/feedback_box_page.dart
Labels: feature: feedback

#1251 Use `CloseButton` in `_QRCodeBottomSheet`
  app/lib/groups/src/widgets/group_qr_code.dart
Labels: ui / ux, feature: groups

#1250 Improve design of leave/delete group buttons
  app/lib/groups/src/pages/course/course_details.dart
  app/lib/groups/src/pages/school_class/school_class_details.dart
  app/lib/groups/src/widgets/danger_section.dart
Labels: ui / ux, feature: groups:courses, feature: groups:classes, feature: groups

#1258 Increase border width of `CustomCard` by 0.5
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus__dark.tablet_portrait.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus_light.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus_light.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus_light.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus_light.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_with_plus_light.tablet_portrait.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus__dark.tablet_portrait.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.iphone11.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.phone.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.phone_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.tablet_landscape.png
  app/test_goldens/calendrical_events/page/goldens/past_calendrical_events_page_without_plus_light.tablet_portrait.png
  app/test_goldens/dashboard/goldens/holiday_card.phone.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_dark.iphone11.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_dark.phone.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_dark.phone_landscape.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_dark.tablet_landscape.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_dark.tablet_portrait.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_light.iphone11.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_light.phone.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_light.phone_landscape.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_light.tablet_landscape.png
  app/test_goldens/settings/support/goldens/support_page_with_plus_light.tablet_portrait.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.iphone11.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.phone.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.phone_landscape.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.tablet_landscape.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_dark.tablet_portrait.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.iphone11.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.phone.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.phone_landscape.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.tablet_landscape.png
  app/test_goldens/settings/support/goldens/support_page_without_plus_light.tablet_portrait.png
  lib/sharezone_widgets/lib/src/widgets.dart
Labels: feature: timetable / calendar, ui / ux, feature: holidays, testing, ui: dark-mode, w: dashboard-page

#1260 Fix wrong abbreviation use in the homework diary
  lib/firebase_hausaufgabenheft_logik/lib/src/homework_transformation.dart
  lib/firebase_hausaufgabenheft_logik/test/lazy_loading_controller_test.dart
  lib/hausaufgabenheft_logik/lib/src/models/subject.dart
  lib/hausaufgabenheft_logik/test/create_homework_util.dart
  lib/hausaufgabenheft_logik/test/create_student_homework_view_test.dart
  lib/hausaufgabenheft_logik/test/homework_list_test.dart
  lib/hausaufgabenheft_logik/test/subject_test.dart
Labels: feature: homework, testing, user: pupil / student

#1261 Upgrade Flutter to v3.16.8
  .fvm/fvm_config.json
Labels: dependencies

#1264 Add max width for action buttons on main pages
  lib/sharezone_widgets/lib/src/widgets.dart
Labels: ui / ux

#1265 Add abbreviation for '--only-goldens' and '--update-goldens'
  tools/sz_repo_cli/lib/src/commands/src/test_command.dart
Labels: sharezone cli

#1270 Add weekday in date picker value
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_filled_1_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_add_uploading_attachments_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.phone.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_edit_filled_1_light.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_dark.tablet_portrait.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.iphone11.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.phone_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.tablet_landscape.png
  app/test_goldens/homework/homework_dialog/goldens/homework_dialog_uploading_attachment_failed_light.tablet_portrait.png
  lib/sharezone_widgets/lib/src/widgets.dart
Labels: feature: homework, ui / ux, feature: attachments, testing

#1259 Add first prototype for v2 annoucement dialog
  app/lib/dashboard/dashboard_page.dart
  app/lib/sharezone_v2/sz_v2_annoucement_dialog.dart
Labels: w: dashboard-page

#1276 Fix: Select already existing due date chip when creating a custom chip.
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/test/homework/homework_dialog_test.dart
Labels: feature: homework, testing

#1277 Do nothing when user tries to create "in 0 lessons" due date chip.
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/test/homework/homework_dialog_test.dart
Labels: feature: homework, testing

#1278 Upgrade `codemagic-cli-tools` from `0.47.0` to `0.53.0`
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
  .github/workflows/integration_tests_app_ci.yml
  .github/workflows/stable.yml
Labels: ci/cd

#1283 Set minimum iOS version to 12.0
  app/ios/Flutter/AppFrameworkInfo.plist
  app/ios/Podfile
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
Labels: platform: ios

#1279 Make due date selection chips take "Aktive Wochentage" (custom schooldays) into account.
  app/lib/homework/homework_dialog/homework_dialog.dart
  app/lib/homework/homework_dialog/homework_dialog_bloc.dart
  app/test/homework/homework_dialog_bloc_test.dart
  app/test/homework/homework_dialog_test.dart
  app/test/homework/homework_dialog_test.mocks.dart
  lib/user/lib/src/models/timetable/enabled_weekdays.dart
Labels: feature: homework, feature: timetable / calendar, testing
