Repository SharezoneApp/sharezone-app, pull requests merged in 2025-09, with the labels that each got.

#1914 Replace dynamic links with`app_links` package
  app/android/app/src/main/AndroidManifest.xml
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Info.plist
  app/ios/Runner/Sharezone.entitlements
  app/lib/dynamic_links/dynamic_link_bloc.dart
  app/lib/dynamic_links/einkommender_link.dart
  app/lib/dynamic_links/gruppen_beitritts_transformer.dart
  app/lib/main/plugin_initializations.dart
  app/lib/main/run_app.dart
  app/macos/Flutter/GeneratedPluginRegistrant.swift
  app/macos/Podfile.lock
  app/macos/Runner/AppDelegate.swift
  app/macos/Runner/DebugProfile.entitlements
  app/macos/Runner/Release.entitlements
  app/pubspec.yaml
  app/test/dynamic_link/dynamic_link_bloc_test.dart
  app/test/dynamic_link/gruppen_beitritts_transformer_test.dart
  app/test/groups/share_buttons/link_sharing_button_test.dart
  lib/dynamic_links/.gitignore
  lib/dynamic_links/.metadata
  lib/dynamic_links/analysis_options.yaml
  lib/dynamic_links/lib/dynamic_links.dart
  lib/dynamic_links/lib/models.dart
  lib/dynamic_links/lib/src/dynamic_links.dart
  lib/dynamic_links/lib/src/get_dynamic_links.dart
  lib/dynamic_links/lib/src/implementation/firebase_dynamic_links.dart
  lib/dynamic_links/lib/src/implementation/local_dynamic_links.dart
  lib/dynamic_links/lib/src/implementation/stub_dynamic_links.dart
  lib/dynamic_links/lib/src/models/dynamic_link_data.dart
  lib/dynamic_links/lib/test.dart
  lib/dynamic_links/pubspec.yaml
  lib/group_domain_models/lib/src/models/group_info.dart
  licenses_config.yaml
  pubspec.lock
  pubspec.yaml
Labels: ci/cd, code quality, platform: macos, platform: web, platform: ios, platform: android, feature: groups, testing, sharezone cli, dependencies

#1919 Fix capitalization typo in advantages title
  app/lib/onboarding/sign_up/pages/advantages.dart
Labels: feature: onboarding

#1925 Add support for dark mode iOS app icon
  app/icon/ios/dark_transparent.png
  app/icon/ios/light.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/100.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/1024.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/114.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/120.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/144.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/152.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/167.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/180.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/20.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/29.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/40.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/50.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/57.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/58.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/60.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/72.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/76.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/80.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/87.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-38x38@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-38x38@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-64x64@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-64x64@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-68x68@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-1024x1024@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-20x20@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-20x20@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-29x29@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-29x29@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-38x38@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-38x38@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-40x40@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-40x40@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-60x60@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-60x60@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-64x64@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-64x64@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-68x68@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-76x76@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-Dark-83.5x83.5@2x.png
  app/pubspec.yaml
  pubspec.lock
Labels: platform: ios, user: parent, dependencies, build-app-preview

#1929 Remove warning that join links are only available for Android & iOS
  app/lib/groups/src/widgets/group_share.dart
Labels: ui / ux, feature: groups

#1934 Bump app version to v2.3.1
  app/pubspec.yaml
Labels: dependencies

#1936 Add feedback filters "all feedbacks", "unread comments", "no comments yet" to console
  app/test/feedback/feedback_history_page_controller_test.mocks.dart
  app/test/feedback/mock_feedback_api.dart
  console/lib/pages/feedbacks/feedbacks_page.dart
  lib/feedback_shared_implementation/lib/src/api/feedback_api.dart
  lib/feedback_shared_implementation/lib/src/api/firebase_feedback_api.dart
Labels: testing, feature: feedback, admin console, codex
