Repository SharezoneApp/sharezone-app, pull requests merged in 2025-03, with the labels that each got.

#1823 Add tests for `GradesDialogController`
  app/lib/grades/pages/grades_dialog/grades_dialog.dart
  app/lib/grades/pages/grades_dialog/grades_dialog_controller.dart
  app/test/grades/pages/grades_dialog/grades_dialog_controller_test.dart
Labels: testing, feature: grades

#1831 Deploy every 90 days new alpha and beta build to prevent TestFlight builds from expiring
  .github/workflows/alpha.yml
  .github/workflows/beta.yml
Labels: ci/cd

#1836 Add copy user id to docs
  docs/pages/account.mdx
  docs/pages/account/_meta.js
  docs/pages/account/copy-user-id.mdx
Labels: documentation

#1835 Add instructions on how to record a video for the docs
  docs/README.md
Labels: documentation

#1837 Fixed typo ("indiviuell")
  website/lib/home/src/all_in_one_platform.dart
Labels: website

#1838 Change "Lifetime" to "Lebenslang" in the UI
  lib/sharezone_plus/sharezone_plus_page_ui/lib/src/buy_section.dart
Labels: feature: sharezone plus
